@import "scss/constants";

.music-bar-container {
  .table-header {
    justify-content: center;

    .header {
      width: 60%;
    }
  }

  @media (max-width: 900px) {
    .music-bar-content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "video video"
        "video video"
        "items items";

      .music-bar-top-left-grid-cell {
        display: none;
      }

      .music-bar-top-right-grid-cell {
        display: none;
      }
    }
  }

  @media (min-width: 900px) {
    .music-bar-content {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
        "empty-left video video empty-right"
        ".  video video ."
        ".  video video ."
        "items items items items";
    }
  }

  .music-bar-content {
    display: grid;

    padding: 20px 50px;
    justify-content: center;
    grid-gap: 0.5rem;

    .music-bar-top-left-grid-cell {
      height: 90px;
      grid-area: empty-left;
    }

    .music-bar-top-right-grid-cell {
      height: 90px;
      grid-area: empty-right;
    }

    .video-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px;

      grid-area: video;

      .iframe-container {
        width: 100%;
        display: flex;
        border-radius: 28px;
        box-shadow: 0 0px 20px rgba(255, 255, 255, 0.4);
        background-color: #19181a;
        overflow: hidden;
        position: relative;
        // @debt Thomas' magic number. Should result in the best 16-9 ratio for Monday presentation
        height: 333px;

        .iframe-video {
          height: 100%;
          width: 100%;
        }
      }

      .actions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(25, 24, 26);
        width: 80%;
        overflow: hidden;

        padding: 0 10px 10px;
        border-radius: 0px 0px 28px 28px;
        .emoji-container {
          display: flex;
          justify-content: space-around;
          margin: 20px 0;
          font-size: 27px;
          letter-spacing: 0.5rem;
          overflow-x: auto;
          width: 100%;

          .reaction > span {
            cursor: pointer;
            height: 30px;
            width: 30px;
          }
        }
        .form-message {
          display: flex;
          margin-bottom: 5px;
          justify-content: space-between;

          input[type="submit"] {
            margin-bottom: 0px;
            margin-left: 10px;
            width: 100px;
            &[type="submit"]:disabled {
              color: rgba($white, 0.2);
              background-color: rgba(green, 0.5);
            }
          }
        }
      }
    }
  }

  .seated-area {
    border: 0px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 0 auto;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-bottom: 150px;
  }

  .mute-button {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .table-footer {
    .switch {
      margin: 0 30px;
    }
    .actions {
      display: flex;
      justify-content: center;
      align-items: baseline;

      .action {
        display: flex;
        align-items: baseline;

        .focus {
          margin-right: 30px;
        }
      }
    }
  }
}
