@import "scss/constants";

.UserAvatar {
  $sizes-map: (
    small: 25px,
    medium: 40px,
    large: 54px,
  );
  $default-size: 25px;

  @include square-size($default-size);
  position: relative;

  &:hover {
    .UserAvatar__nametag--hover {
      opacity: 1;

      background-color: $primary;
      padding: $spacing--xs;

      transform: scale(1.5) translate(-35%, 50%);
      box-shadow: 0 0 0 3px lighten($primary--darker, 10%),
        0 2px 4px opaque-black(0.2);
    }
  }

  &__image {
    @include square-size($default-size);
    border-radius: 50%;
    vertical-align: unset;
  }

  &__status-indicator {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-radius: 50%;
    z-index: z(user-avatar-status-indicator);
    display: block;
    @include square-size(8px);

    &--large {
      @include square-size(12px);
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  @each $modifier, $size in $sizes-map {
    &--#{$modifier},
    &--#{$modifier} img {
      @include square-size($size);
    }
  }

  &__nametag {
    position: absolute;
    color: $white;

    opacity: 0;

    min-width: 70%;

    text-align: center;

    margin: 0 -50% 0 auto;
    padding: 0 $spacing--xs;

    bottom: 10%;
    left: 50%;

    border-radius: $border-radius--md;

    font-size: $font-size--xs;
    line-height: 1;

    background-color: opaque-black(0.4);
    box-shadow: 0 2px 4px opaque-black(0.2);

    transform: translate(-50%, 0);
    transition: transform 400ms, padding 400ms, opacity 600ms,
      background-color 600ms;
  }
}
