@import "scss/constants";

.user-avatar {
  position: relative;

  width: 40px;
  height: 40px;

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &__status-indicator {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-radius: 50%;
    background-color: $green;
    height: 8px;
    width: 8px;
    z-index: z(user-avatar-status-indicator);

    display: none;

    &--online {
      display: block;
      background-color: $green;
    }
    &--busy {
      display: block;
      background-color: $ripple-color;
    }

    &--large {
      height: 12px;
      width: 12px;
    }
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }

  &--small {
    width: 25px;
    height: 25px;
  }

  &--large {
    height: 54px;
    width: 54px;
  }
}
