@import "scss/constants";

.user-avatar {
  height: 25px;
  width: 25px;
  position: relative;

  &__image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  &__status-dot {
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-radius: 50%;
    background-color: $green;
    height: 8px;
    width: 8px;
    z-index: z(user-avatar-status-dot);
  }

  &--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }
  }
}
