@import "./profileModalStyles";

.ProfileModal {
  display: flex;
  align-items: flex-start;
  font-size: $content-font-size;

  &__body {
    background-color: $dark-grey;
    padding: $modal-content-margin;
  }

  &__loading-or-error {
    min-height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    white-space: pre;
    text-align: center;
  }

  & > .modal-dialog {
    max-width: $modal-content-max-width;
    margin: $modal-dialog-viewport-margin;
    & > .modal-content {
      padding: 0;
    }
  }
}
