@import "scss/constants.scss";

$modal-content-max-width: 29.5rem;
$modal-dialog-viewport-margin: 10% auto 0 auto;
$modal-content-margin: 1.7rem;

$header-sections-gap: 1.5rem;
$profile-pictures-margin: -2rem;

$narrow-button-padding: 0.65rem 0;

$round-icon-size: 2.2rem;

$section-gap: 0.7rem;
$section-gap-editable: 1.5rem;
$section-header-bottom-margin: 0.5rem;

$content-font-size: 14px;
$content-increased-font-size: 16px;

$input-gap: 1rem;

$basic-text-info-name-bottom-margin: 4px;

@mixin ProfileModalButton {
  padding: $narrow-button-padding;
  max-width: unset;
}
