@import "scss/constants.scss";

$modal-content-max-width: 29.5rem;
$modal-dialog-viewport-margin: 10% auto 0 auto;
$modal-content-margin: 1.7rem;

$header-sections-gap: 1.5rem;
$profile-pictures-margin: -2rem;

$round-icon-size: 1.7rem;

$section-gap: 0.7rem;
$section-gap-editable: 1.5rem;
$section-header-bottom-margin: 0.5rem;

$content-font-size: 14px;
$content-increased-font-size: 16px;

$input-gap: 1rem;

$input-border: 1px solid rgba($white, 0.1);
$input-border-radius: 22px;
$input-backdrop-filter: blur(10px);
$input-text-shadow: 0 1px 2px rgba($black, 0.25);

@mixin ProfileModalCommon {
  display: flex;
  align-items: flex-start;
  font-size: $content-font-size;

  &__body {
    background-color: $dark-grey;
    padding: $modal-content-margin;
  }

  &__section {
    margin-top: $section-gap;
    &:first-child {
      margin-top: 0;
    }
  }

  &__section-editable {
    margin-top: $section-gap-editable;
    &:first-child {
      margin-top: 0;
    }
  }

  & > .modal-dialog {
    max-width: $modal-content-max-width;
    margin: $modal-dialog-viewport-margin;
    & > .modal-content {
      padding: 0;
    }
  }
}
