@import "scss/constants.scss";

.ProfileModal {
  display: flex;
  align-items: flex-start;

  &__input {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 22px;
    text-align: start;
    &--condensed {
      padding: 6px 14px 6px 14px;
    }
  }

  &__body {
    background-color: $dark-grey;
    padding: 1.7rem;
  }
  font-size: 14px;
  &__section {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }

  & > .modal-dialog {
    max-width: 29.5rem;
    margin: 1.75rem auto;
    width: auto;
    & > .modal-content {
      padding: 0;
    }
  }
}
