@import "scss/constants";

.reaction-page-container {
  flex-direction: column;

  .title {
    margin-bottom: 20px;
  }

  .message-bubble,
  .partyname-bubble {
    font-size: 30px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 22px;
  }

  .message-bubble {
    background: $primaryColor;
  }

  .partyname-bubble {
    background: $white;
    color: $dark;
    margin-right: 20px;
  }

  .message {
    display: flex;

    img {
      margin-right: 20px;
    }
  }
}
