@import "scss/constants";

.admin-panel {
  width: 100%;
  height: 100%;
  padding: 11px 15px;

  .section-label {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9em;
    margin: 0;
  }

  .user {
    display: flex;
    width: 100%;
    align-items: center;

    &:hover {
      background-color: $black;
    }

    .user-pic {
      width: 30px;
      height: 30px;
      border: solid 0;
      border-radius: 50%;
      background-color: opaque-white(0.1);
      margin: 8px 8px 8px 0;
      overflow: hidden;

      img {
        width: 30px;
        height: 30px;
      }
    }

    .add-requester-button {
      background-color: #404040;
      cursor: pointer;
      &:hover {
        box-shadow: 0 2px 10px 0 #ffffff4d;
      }
      width: 30px;
      height: 30px;
      text-align: center;
      color: $white;
      border: solid 0;
      border-radius: 50%;
    }
  }

  .people-on-stage {
    padding-bottom: 12px;
  }
}
