@use "scss/attendee/space";

.ProfileModalChangePassword {
  &__input {
    margin: space.gap(4) 0;
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-top: space.gap(2);
  }
}
