@import "scss/constants";
@import "../constants-rf";

.ButtonRF {
  min-width: $reg-flow-button-width--min;

  &.ButtonNG__button {
    text-transform: capitalize;
  }

  &.ButtonNG__link:focus {
    outline: 1px dotted $reg-flow-color--normal;
  }
}
