.preplaya-container {
  width: 100%;
  position: relative;

  .venue {
    width: 10%;
    height: 10%;

    .venue-icon {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.zoom-controls {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: red;
  font-size: 20px;

  .zoom-action {
    cursor: pointer;
  }
}
