.preplaya-container {
  width: 100vw;
  position: relative;

  .playa-background {
    width: 100vw;
  }

  .venue {
    width: 10%;
    height: 10%;

    .venue-icon {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
