@import "scss/constants";

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  z-index: z(footer);
  width: 100%;
  background-color: $black;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 0.7rem;
  height: 30px;
  color: #889;

  & > * {
    padding: 0 0.5em;
  }

  a {
    text-decoration: none;
  }
}
