@import "scss/constants.scss";

.table-component-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &.jazzbar-table-1 {
    grid-column: 1;
    grid-row: 1;
  }

  &.jazzbar-table-2 {
    grid-column: 7;
    grid-row: 1;
  }

  &.jazzbar-table-3 {
    grid-column: 1;
    grid-row: 2;
  }

  &.jazzbar-table-4 {
    grid-column: 7;
    grid-row: 2;
  }

  &.jazzbar-table-5 {
    grid-column: 1;
    grid-row: 3;
  }

  &.jazzbar-table-6 {
    grid-column: 7;
    grid-row: 3;
  }

  .table-title-container {
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }

  .table-title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

  .table-subtitle {
    color: $dark;
  }

  .table-item {
    background: $dark;
    border-radius: 22px;
    min-height: 30px;
    color: $white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 25px 10px 25px;
    position: relative;
    margin: 5px 5px;
    &:hover {
      background-color: lighten($dark, 10%);
      transform: scale(1.05);
    }
  }

  .table-occupancy-information {
    top: 5px;
    right: 7px;
    position: absolute;
    font-size: 10px;
  }

  .red-text {
    color: $primaryColor;
  }

  .table-participant-picture {
    background: $black;
  }

  .join-text,
  .add-participant-button {
    cursor: pointer;
  }

  .table-number {
    top: 12px;
    position: absolute;
    text-align: center;
    font-style: italic;
    font-weight: 600;
  }

  .add-participant-button {
    display: flex;
    font-size: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 3px;
    margin-right: 5px;
    background-color: rgba(black, 0.4);
    color: rgba(black, 0);
    transition: all 400ms $transition-function;
    font-size: 2rem;
    &:hover {
      background-color: white;
      transform: scale(1.05) rotate(90deg);
      color: rgba(black, 0.7);
      box-shadow: 2px 0px 10px rgba($white, 0.6);
    }
    &:active {
      transform: scale(0.95) rotate(90deg);
      box-shadow: 2px 0px 10px rgba($white, 0.2);
    }
  }
}
