@import "scss/constants.scss";

.navbar-margin {
  height: 100%;
}

.AnimateMap {
  z-index: 0;
  position: relative;
  overflow: hidden;
  height: 100%;

  &__app-wrapper {
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  &__ui-wrapper {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    max-height: 100vh;
  }

  &--error {
    display: grid;
    place-content: center;
  }

  &--error &__init-message {
    text-align: center;
    font-size: font-size--root(1.5);

    &--normal {
      color: var(--content--over);
    }

    &--error {
      color: var(--danger--under);
    }
  }
}
