@import "scss/constants.scss";

.ScreeningRoomVideosStripForm {
  display: grid;
  grid: auto-flow dense / 1fr minmax(0, 6fr) 1fr 1fr;
  place-items: center start;
  grid-gap: $spacing--lg;
  margin: 0;
  width: 100%;

  &__thumbnail-img {
    height: 40px;
  }

  &__cell {
    margin: 0;
    padding: 0;
  }

  &__edit {
    cursor: pointer;
  }

  &__delete {
    color: #be2134;
    cursor: pointer;
  }

  @media (max-width: $media-breakpoint--xl) and (min-width: $media-breakpoint--md) {
    grid: repeat(2, 1fr) / 1fr minmax(0, 6fr) 3fr;
    gap: $spacing--xs;

    &__delete,
    &__edit {
      grid-column: 3;
    }
  }

  @media (max-width: $media-breakpoint--md) {
    grid: auto-flow dense / 1fr;
    gap: $spacing--xs;
    place-items: center start;
  }
}
