@import "scss/constants";

$height: 1.5rem;

.AdminSidebarSectionTitle {
  place-content: center start;
  min-height: $height;
  font-size: $height * 0.75;
  font-weight: $font-weight--600;
  margin: $spacing--md 0;
  padding: 0;
}
