@import "scss/constants.scss";

$user-avatar-margin: 7px 0 0 3px;
$seats-size: 30px;
$audience-container-width: calc(35 * 30px);

.Screenshare__audience {
  &-title {
    margin-top: $spacing--xl;
    font-size: $font-size--lg;
    line-height: 19px;
    text-align: center;
    color: opaque-white(0.56);
    &--hidden {
      visibility: hidden;
    }
  }

  &-container {
    margin-top: $spacing--xl;
    position: relative;
    width: $audience-container-width;
    height: 100%;
    display: grid;
    overflow: hidden;

    & > *:first-child {
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    &:before {
      content: " ";
      display: block;
      width: 0;
      padding-bottom: 100%;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
    }

    .UserProfilePicture {
      max-width: $seats-size;
      max-height: $seats-size;
      min-width: unset;
      min-height: unset;
      margin: $user-avatar-margin;
    }

    .seat-column {
      width: 100%;
      height: 100%;
      z-index: z(map-grid);
    }

    .seat-row {
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .seat-container {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      &:hover {
        cursor: pointer;
        .not-seat {
          opacity: 0.4;
        }
      }
    }

    .seat {
      width: $seats-size;
      height: 70%;
      border-radius: 100%;
      position: relative;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }

      .user {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }

      .avatar {
        opacity: 0.025;
        background-color: $content--over;
      }
    }

    .not-seat {
      width: $seats-size;
      height: 70%;
      position: relative;
      background-color: opaque-white(0.18);
      border-radius: 100%;

      &:hover {
        opacity: 0.4;
        cursor: pointer;
      }

      &:active {
        opacity: 0.6;
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    @keyframes avatarpulse {
      0% {
        background-color: blue;
        box-shadow: 0 0 0 3px blue, 0 0 20px rgba(blue, 0.65);
      }
      50% {
        background-color: lighten(blue, 10%);
        box-shadow: 0 0 0 3px blue, 0 0 20px 10px rgba(blue, 0.65);
      }
      100% {
        background-color: blue;
        box-shadow: 0 0 0 3px blue, 0 0 20px rgba(blue, 0.65);
      }
    }
  }
}
