@import "scss/constants";

.YourUrlDisplay {
  word-wrap: anywhere;
  margin: 0 0 $spacing--xxxl;

  &__segment {
    margin: $spacing--xs 0;
  }

  &__slug {
    color: var(--accent--under);
    font-weight: $font-weight--600;
  }
}
