@import "scss/constants.scss";

.jazz-bar-skeleton-page-container {
  max-width: 100%;
  padding-left: 50px;
  padding-right: 50px;

  .band-logo {
    max-width: 100%;
    max-height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .user-list {
    margin-bottom: 20px;
  }
}
