@import "scss/constants.scss";

.jazz-bar-skeleton-page-container {
  display: flex;
  padding: 30px;
  height: calc(100vh - 50px);

  .band-logo {
    max-width: 100%;
    max-height: 100%;

    &.expanded {
      width: 200px;
    }
  }

  .user-list {
    margin-bottom: 20px;
  }

  .left-column {
    transition: all 0.1s linear;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: $dark;
    border-radius: 22px;
    cursor: pointer;
    overflow: auto;
  }

  .left-column.expanded {
    width: 500px;
  }

  .right-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 600px;
    height: 100%;
  }

  .content {
    width: 100%;
    margin: 0 10px;
    overflow-y: auto;
  }

  .youtube-video {
    transition: all 0.1s linear;
  }

  .reduced {
    width: 560px;
    height: 315px;
  }

  .right-column-content {
    overflow-y: scroll;
  }

  .content-column {
    height: 100%;
  }

  .content-column > .row {
    height: 100%;
  }

  .row.reduced {
    height: 100%;
    width: 100%;
  }

  .participant {
    display: flex;
    background: $dark;
    padding: 10px;
    border-radius: 22px;
    flex: 0 0 24%;
  }

  video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }

  .mute-container {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .mute-other-container {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
