@import "scss/constants.scss";

.content-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 10px;

  .navigation-container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
  }

  .flex-container {
    display: flex;
  }

  .chat-container {
    height: 400px;
  }

  .scrollable-area {
    overflow: auto;
    padding: 0 10px;
  }

  .user-interaction-container {
    margin: 20px;
  }
  .userlist-container {
    margin: 10px 0;
  }
  .table-item {
    .profile-icon {
      margin: 0;
    }
  }
  .chatbox-wrapper {
    display: flex;
    height: 700px;
    justify-content: center;
  }

  .chat-button {
    height: 50px;
    border: none;
    margin-left: 10px;
    &:active,
    &:focus {
      // !important is used to overwrite some bootstrap css elements
      background: $red !important;
      color: $black;
    }
  }
}
