@import "../../../styles";

$name-bottom-margin: 4px;

.ProfileModalBasicTextInfo {
  font-size: $content-increased-font-size;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__name {
    padding: 0;
    margin-bottom: $name-bottom-margin;
  }

  &__status {
    font-size: $content-increased-font-size;
    display: flex;
  }

  &--underlined {
    text-decoration: underline;
  }

  &--cursor-pointer {
    cursor: pointer;
  }
}
