@import "scss/constants";

$poster-preview-height: 420px;
$poster-preview-width: 300px;
$active-poster-shadows: 0 10px 20px 0 rgba($primary, 0.56);
$thumbnail-border-radius: 15px;

.PosterPreview {
  display: flex;
  flex-direction: column;

  content-visibility: auto;

  height: $poster-preview-height;
  width: $poster-preview-width;

  padding: $spacing--lg;
  margin: $spacing--md;
  border-radius: $border-radius--md;

  background-color: $saturated-black-alt;
  color: $white;

  border: 2px solid $lighter-intermediate-grey;

  cursor: pointer;

  &:hover {
    background-color: $lighter-intermediate-grey;
    border-color: $concrete;
  }

  &--live {
    border-color: $primary;
    box-shadow: $active-poster-shadows;

    &:hover {
      background-color: $lighter-intermediate-grey;
      border-color: $primary;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__posterId {
    display: inline;
    font-size: $font-size--xxs;
    color: $white;
    padding: $spacing--xs $spacing--sm;
    margin: 0 $spacing--xs;
    border-radius: $border-radius--lg;
    background-color: $primary--light;
    font-weight: $font-weight--500;
  }

  &__visiting {
    display: inline;
    margin-left: auto;
    font-size: $font-size--xxs;
    color: $white;
    padding: $spacing--xs $spacing--sm;
    margin: 0 $spacing--xs;
    border-radius: $border-radius--lg;
    background-color: $primary--live;
    font-weight: $font-weight--500;
  }

  &__title {
    font-size: $font-size--md;
    font-weight: $font-weight--600;

    margin: $spacing--sm 0;
  }

  &__categories {
    @include line-clamp-with-overflow(2);
    display: flex;
    flex-wrap: wrap;
    margin: $spacing--sm 0;
  }

  &__authorBox {
    display: flex;
    align-items: center;
    margin-top: auto;
  }

  &__avatar {
    margin-right: $spacing--sm;
  }

  &__author {
    font-size: $font-size--sm;
    font-weight: $font-weight--500;
    @include line-clamp-with-overflow(4);
  }

  &__contactEmail {
    font-size: $font-size--sm;
  }

  &__moreInfoUrl {
    font-size: $font-size--sm;
    margin: $spacing--sm 0;
  }

  &__bookmark {
    display: inline;
    margin-right: $spacing--sm;
  }

  &__info {
    display: flex;
    text-align: left;
  }

  &__thumbnail {
    display: contents;
    width: 100%;

    &--empty {
      display: block;
      background-color: $primary;
      height: 40%;
      border-radius: $thumbnail-border-radius;
    }
  }

  &__img {
    border-radius: $thumbnail-border-radius;
  }

  &__video {
    display: inline;
    font-size: $font-size--xxs;
    color: $white;
    padding: $spacing--xs $spacing--sm;
    margin: 0 $spacing--xs;
    border-radius: $border-radius--lg;
    background-color: $dark-green;
    font-weight: $font-weight--500;
  }
}
