@import "scss/constants";

$poster-preview-height: 200px;
$poster-preview-width: 300px;

.PosterPreview {
  display: flex;
  flex-direction: column;

  height: $poster-preview-height;
  width: $poster-preview-width;

  padding: $spacing--lg;
  margin: $spacing--md;
  border-radius: $border-radius--md;

  background-color: $saturated-black-alt;
  color: $white;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--live {
    background-color: $primary;
  }

  &__title {
    font-size: $font-size--md;
    font-weight: $font-weight--600;

    margin: $spacing--md 0;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
  }

  &__category {
    display: flex;
    font-size: $font-size--xs;
    color: $white;
    cursor: pointer;
    padding: $spacing--sm;
    margin: $spacing--xs;
    border-radius: $border-radius--lg;
  }

  &__author {
    margin-top: auto;
    font-size: $font-size--sm;
    font-weight: $font-weight--500;
  }
}
