@import "scss/constants";

.PosterPreview {
  display: flex;
  flex-direction: column;

  height: 200px;
  width: 300px;

  padding: 15px;
  margin: 10px;
  border-radius: 10px;

  background-color: $saturated-black-alt;
  color: $white;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--live {
    background-color: $primary;
  }

  &__pdf {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-color: lightgray;
    height: 50%;
    overflow: hidden;
  }

  &__pdf-iframe {
    height: 100%;
    width: 100%;
    border: none;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;

    margin: 10px 0;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
  }

  &__category {
    display: flex;
    font-size: 10px;
    color: $white;
    cursor: pointer;
    padding: 7px;
    margin: 3px;
    border-radius: 15px;
  }

  &__author {
    margin-top: auto;
    &__name {
      font-size: 12px;
      font-weight: 500;
    }
    &__institution {
      font-size: 10px;
    }
  }
}
