@import "scss/constants";

.friendship-container {
  background: $backgroundColor;
  color: $black;
  padding: 30px;

  .table-component-container {
    margin: 30px;
  }

  .table-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .at-table {
    .action {
      margin-right: 20px;
    }
  }

  .title {
    font-size: 15px;
    padding: 30px;
  }

  .content {
    display: block;

    .bar-container {
      background: $dark;
      border-radius: 22px;
      color: $white;

      .title {
        font-size: 25px;
        padding-bottom: 10px;
      }

      .subtitle {
        font-size: 20px;
        padding: 0 30px;
        margin-bottom: 20px;
      }
      .wrapper {
        min-height: 600px;
        margin-bottom: 30px;
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .table-item-container {
    padding: 5px;
    height: 100%;
  }

  .chatbox-container {
    color: $white;
    max-height: 100vh;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .bar-container {
    .bartender {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
  }

  .list-of-tables {
    display: flex;
    flex-wrap: wrap;
    margin-top: 82px;
    justify-content: space-around;
  }

  .at-table {
    padding: 10px;
    background: $dark;
    color: $white;
    border-radius: 22px;

    .private-table-title {
      font-size: 25px;
      font-weight: 700;
      font-style: italic;
    }
  }

  .actions {
    display: flex;
  }

  .lock-table-checbox-indication {
    margin-left: 20px;
    align-items: center;
    display: flex;
  }

  .title-container {
    color: $black;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    color: $white;
  }

  .table-container {
    background: $dark;
    border-radius: 22px;
    margin-bottom: 30px;
  }

  .centered-row {
    display: flex;
    justify-content: center;
  }
}
