@import "scss/constants";

.friendship-container {
  background: $yellow;
  color: $black;
  padding: 30px;

  .title {
    font-size: 15px;
    padding: 30px;
  }

  .content {
    display: block;

    .bar-container {
      background: $dark;
      border-radius: 22px;
      .wrapper {
        min-height: 600px;
        margin-bottom: 30px;
        grid-template-columns: repeat(8, 1fr);
      }
    }
  }

  .table-item-container {
    padding: 5px;
    height: 100%;
  }

  .table-item {
    background: $dark;
    border-radius: 22px;
    min-height: 30px;
    color: $white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 10% 10px 10%;
    position: relative;
  }

  .table-occupancy-information {
    position: absolute;
    top: 14px;
    font-size: 13px;
  }

  .red-text {
    color: $red;
  }

  .green-text {
    color: $green;
  }

  .table-title {
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
  }

  .chatbox-container {
    color: white;
    max-height: 100vh;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  .bar-container {
    .bartender {
      grid-column: 4 / 6;
      grid-row: 1 / 3;
    }
  }

  .list-of-tables {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(9, 80px);
    margin-top: 82px;
  }

  .add-participant-button {
    width: 35px;
    height: 35px;
    display: flex;
    background: $concrete;
    font-size: 25px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
  }

  .table-subtitle {
    color: $dark;
    white-space: nowrap;
  }

  .join-text,
  .add-participant-button {
    cursor: pointer;
  }

  .remaining-seats {
    top: 5px;
    right: 7px;
    position: absolute;
    font-size: 10px;
  }

  .table-participant-picture {
    background: $black;
  }

  .at-table {
    padding: 10px;
    background: $dark;
    color: $white;
    border-radius: 22px;

    .private-table-title {
      font-size: 25px;
      font-weight: 700;
      font-style: italic;
    }
  }

  .actions {
    display: flex;
  }

  .lock-table-checbox-indication {
    margin-left: 20px;
  }

  .title-container {
    color: $black;
    text-align: center;
    position: absolute;
    top: -79px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .wrapper {
    color: $white;
  }

  .table-container {
    background: $dark;
    border-radius: 22px;
    margin-bottom: 30px;
  }

  .table-title-container {
    margin: 20px 0;
  }

  .centered-row {
    display: flex;
    justify-content: center;
  }
}
