@import "scss/constants.scss";

.WithAdminNavBar {
  &__wrapper {
    height: 100%;

    padding-top: $navbar-height;
    padding-bottom: $footer-height;
  }

  &__wrapper--internal-scroll,
  &__slider--internal-scroll {
    margin: 0;
    padding: 0;
  }

  &__wrapper--internal-scroll {
    height: calc(100% - #{$reserved-page-height});

    overflow-x: hidden;
    overflow-y: auto;

    margin-top: $navbar-height;
    margin-bottom: $footer-height;
  }
}
