.PosterPageSettingsControl {
  position: relative;

  &__popover-content {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
  }
}

div.PosterPageSettingsControl__popover {
  height: 100px;
}
