@import "scss/constants.scss";

.pdf-modal-container {
  padding: 20px;

  .content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }
  .pdf {
    grid-area: iframe;
    width: 100%;
    min-height: 600px;
  }
}
.modal-content {
  width: 100%;
  height: 100%;
  max-width: unset;
  padding-top: 0.2rem;
  .modal-header {
    padding: 0.1rem 1rem;
  }
}
