@import "scss/constants";

.Container {
  &__room-preview {
    position: absolute;
  }

  &__room-image {
    width: 100%;
    height: 100;
    filter: none;
    opacity: 1;
    transition: filter 0.3s ease;

    &--disabled {
      filter: grayscale(100%);
      opacity: 0.5;
    }
  }

  &__room-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: opaque-black(0.5);
    border-radius: $border-radius--xl;
    padding: $spacing--xs $spacing--sm;
    font-size: $font-size--sm;
    transition: all 400ms $transition-function;
    white-space: nowrap;
  }
}
