@import "scss/constants";

.bold {
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-between;
}

.clickable-text {
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $primaryColor;
  }
}

.no-margin {
  margin: 0;
}
