@import "scss/constants";

.UserList {
  .clickable-text {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }
  }

  &__avatars {
    display: flex;
    flex-wrap: wrap;
  }

  &__avatar {
    margin: 2px;
  }
}
