.camp-container {
  overflow-x: hidden;

  .title {
    font-size: 34px;
  }

  .starting-indication {
    font-weight: 700;
    text-align: center;
  }

  .count-down-container {
    text-align: center;
  }

  .userlist-container {
    margin: 0 80px;
  }
}
