@import "scss/constants.scss";

.ShareModal {
  &__header {
    position: relative;
    height: 200px;
    margin: $spacing--sm;
    border-radius: $border-radius--lg;
  }

  &__background {
    width: 100%;
    border-radius: $border-radius--lg;
    height: 100%;
    opacity: 0.5;
  }

  &__logo {
    $logo-height: 70px;
    $logo-width: 50px;
    $logo-background-width: 195px;
    position: absolute;
    top: 30%;
    left: 125px;
    display: block;
    width: $logo-width;
    height: $logo-height;
    background-image: url(/assets/icons/sparkle-nav-logo.png);
    background-size: $logo-width $logo-height;

    &:before {
      position: absolute;
      content: "";
      pointer-events: none;
      left: 52px;
      width: $logo-background-width;
      height: $logo-height;
      background-image: url(/assets/icons/sparkle-nav-logo-text.png);
      background-size: $logo-background-width $logo-height;
    }
  }

  &__title {
    position: absolute;
    font-size: $font-size--xl;
    text-transform: capitalize;
    bottom: 20px;
    left: 0;
  }

  &__url-text {
    position: absolute;
    color: $secondary--lightest;
    bottom: 12px;
    left: 30px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing--lg;
  }

  &__content-title {
    text-align: center;
  }

  &__button-text {
    margin-left: $spacing--sm;
  }

  &__link {
    text-align: center;
    text-decoration: none;
    margin-top: $spacing--lg;
    background-color: $lighter-intermediate-grey;
    padding: $spacing--md $spacing--lg;
    border-radius: $border-radius--xl;
    cursor: pointer;

    &--copied {
      cursor: auto;
      opacity: 0.5;
    }
  }
}
