@use "scss/attendee/space";

.inputWrapper {
  display: flex;
}

.iconEnd {
  margin-left: space.empty(-2);
  margin-top: space.$sm;
  height: space.empty(2);
  width: space.empty(2);
  display: flex;

  svg {
    margin: auto 0;
  }
}
