@import "scss/constants";

.room-modal-ongoing-event-container {
  background: $dark;
  padding: 10px 20px;
  border-radius: 22px;
  height: fit-content;

  .artist-name,
  .event-title,
  .title-container {
    font-weight: 700;
  }

  .sparkle-icon {
    height: 30px;
    margin-left: -5px;
    margin-right: 5px;
  }
  .artist-ongoing-container {
    color: $primaryColor;
    margin-bottom: 10px;
  }

  .room-entry-button {
    width: 100%;
  }
}
