@import "scss/constants.scss";

.initial-form {
  .create-account-button {
    border-radius: $border-radius--sm;
    box-shadow: inset 0 0 0 3px $primary !important;
    background-color: $primary !important;
    color: white !important;

    &:focus,
    &:hover {
      background-color: darken($color: $primary, $amount: 20%) !important;
    }
  }

  .buttons-separator {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .login-button {
    box-shadow: inset 0 0 0 3px $primary !important;
    color: white !important;
    background: none !important;
    border-radius: $border-radius--sm;
    &:focus,
    &:hover {
      background-color: darken($color: $primary, $amount: 20%);
      opacity: 0.8;
    }
  }

  .login-text {
    text-align: center;
  }
}
