@import "scss/constants.scss";

.initial-form {
  .create-account-button {
    box-shadow: inset 0 0 0 3px $primary !important;
    background-color: $primary !important;
    color: white !important;

    &:hover {
      background-color: darken($color: $primary, $amount: 20%) !important;
    }
  }

  .buttons-separator {
    padding: 0 0 20px 0;
    text-align: center;
  }

  .login-text {
    text-align: center;
  }

  .login-button {
    color: white !important;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
