@import "scss/constants.scss";

.video-embed {
  border-radius: 30px;
}

.map-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 30px;
  margin-bottom: 20px;
}

.secret-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
}

.secret-password-input {
  margin-bottom: 10px;
  max-width: 275px;
}

.small-text {
  font-size: 13px;
}

.error-message {
  color: red;
}
