@use "scss/attendee/breakpoint";
@use "scss/attendee/space";

.container {
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}

.contents {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 space.empty(3) space.empty(4);

  @media (max-width: breakpoint.$md) {
    margin: 0;
  }

  > * {
    padding: 48px 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.logo {
  max-width: 200px;
}
