@import "scss/constants";

.AdminSidebarButtons {
  display: flex;
  justify-content: center;

  &__button {
    flex-shrink: 0;
    flex-grow: 4;

    &--larger {
      flex-grow: 4;
      flex-shrink: 0.25;
    }

    &--smaller {
      flex-shrink: 4;
      flex-grow: 1;
    }

    &--same-size {
      flex-shrink: 0;
      flex-grow: 0;
    }
  }
}
