@import "scss/constants";

$min-height: 2rem;

.AdminSidebarTitle {
  place-content: center start;
  min-height: $min-height;
  font-size: $min-height * 0.75;
  font-weight: $font-weight--600;
  margin: $spacing--md;
  padding: 0;
  z-index: z(admin-sidebar-title);
}
