@import "scss/constants";

$reaction-size: 30px;

.Reaction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
  font-size: $font-size--xl;
  animation: sway 2200ms 1200ms ease-in-out;

  &:focus {
    outline: none;
  }

  & > span {
    cursor: pointer;
    height: $reaction-size;
    width: $reaction-size;
  }
}
