@import "scss/constants.scss";

$admin-space-card-button-margin: $spacing--xs 0;
$admin-space-card-logo-size: 80px;

.AdminSpaceCard {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  border: none;
  border-radius: $border-radius--xl;
  padding: font-size--root(1);
  gap: font-size--root(0.5);

  .AdminShowcaseSubTitle {
    font-weight: $font-weight--700;
    font-size: font-size--parent(1.6);
    color: $white;
  }

  &__bg {
    position: absolute;
    z-index: z(admin-space-card-bg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;

    &:after {
      transition: all 400ms $transition-function;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(25, 24, 26, 0.6) 0%,
        $saturated-black 100%
      );
    }
  }

  &:hover &__bg:after {
    background-image: linear-gradient(
      180deg,
      rgba(38, 36, 39, 0.6) 0%,
      $saturated-black-alt 100%
    );
  }

  &__info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__logo {
    @include square-size($admin-space-card-logo-size);
    border-radius: $border-radius--max;
    background-size: cover;
    background-color: $black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }

  .ButtonNG {
    margin: $admin-space-card-button-margin;
  }
}
