@import "scss/constants.scss";

.marketing-page {
  .tab-navigation-container {
    width: 100%;
  }

  .info-wrapper {
    background: $dark;
    border-radius: 22px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: left;
  }
  .card-container {
    display: flex;
    justify-content: space-around;
  }
  .subtitle {
    font-size: 25px;
    margin: 30px 50px;
  }
  .hero-text {
    margin-top: 30px;
  }

  .card-wrapper-title {
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: $primary;
  }

  .image-in-card {
    width: 100%;
    margin: 10px 0;
    border-radius: 22px;
  }

  .card-title {
    height: 50px;
    text-align: center;
  }
  h3 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .info-card {
    padding: 20px;
    border-radius: 22px;
    background: $black;
    padding: 20px;
    margin-bottom: 10px;
  }

  .interested-contributors {
    display: flex;
    margin-bottom: 20px;
  }

  .submit-btn {
    height: 50px;
    width: 100px;
    margin-left: 20px;
  }
  .interested-contribtors-text {
    margin-right: 30px;
  }

  .video {
    display: flex;
    height: 500px;
    width: 90%;
    border-radius: 22px;
    margin-bottom: 30px;
  }

  .video-container {
    display: flex;
    justify-content: center;
  }
  button {
    max-width: 400px;
  }

  .help-build-button {
    padding: 15px 10px;
    // Important is used to overwrite the class btn from bootstrap
    max-width: 400px !important;
  }

  .input-info,
  .input-error {
    font-size: 16px;
  }

  .input-info {
    color: $green;
  }

  .input-error {
    color: $red;
  }
}
