@import "scss/constants";

.preview-indication {
  position: absolute;
  top: 50px;
  background-image: linear-gradient(
    124deg,
    #00f6d5 0%,
    #6f43ff 50%,
    #e15ada 100%
  );
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: z(venuepage-preview-indication);
}
