@import "scss/constants";

.AnnouncementOptions {
  display: flex;
  justify-content: space-between;
  padding-top: $spacing--lg;

  &__left-side {
    font-size: $font-size--lg;
    margin-top: $spacing--xs;
  }
}

// Override global styles button
button.AnnouncementOptions__edit-button {
  height: $submit-button-diameter;
  width: $button-width;
  background-color: $white;
  color: $primary--live;
}
