@import "scss/constants.scss";

.party-venue-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;

  .title {
    font-size: 34px;
  }

  .starting-indication {
    font-weight: 700;
    text-align: center;
  }

  .count-down-container {
    text-align: center;
  }

  .userlist-container {
    margin: 0 80px;
  }
}

body {
  @include scrollbar;

  &.no-scroll {
    overflow: hidden;
  }

  // @debt refactor this to get rid of !important
  &.modal-open {
    padding: 0 0 0 0 !important;
    overflow-y: scroll !important;
  }
}
