node_modules/

# legacy secret files
secrets.js
secrets.*.js

*.log

.runtimeconfig.json
.runtimeconfig.*.json
serviceAccount.json

# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/
