## Compiled JavaScript files
## TODO: uncomment this once we convert all of the function code from *.js to *.ts
#**/*.js
lib/**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# legacy secret files
secrets.js
secrets.*.js

*.log

.runtimeconfig.json
.runtimeconfig.*.json
serviceAccount.json
