{
  "project": {
    "id": ""
  },
  "twilio": {
    "account_sid": "",
    "api_key": "",
    "api_secret": ""
  },
  "agora": {
    "app_id": "",
    "app_certificate": ""
  },
  "flag": {
    "autoadmin": ""
  }
}
