.spaceCreatePage {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh);
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 24px;
}
