{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": "error",
    "no-restricted-imports": [
      "error",
      {
        "name": "react-redux",
        "importNames": ["useSelector", "useDispatch"],
        "message": "Import typed version from hooks/{useSelector|useDispatch}"
      },
      {
        "name": "firebase",
        "message": "Use firebase/app instead"
      },
      {
        "name": "lodash",
        "importNames": ["default"],
        "message": "Avoid importing all of lodash; import only what you need"
      },
      {
        "name": "mixpanel-browser",
        "message": "Import safe version from hooks/useMixpanel instead"
      }
    ],
    "react/prop-types": "off",
    "react/display-name": "warn"
  }
}
