# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# account keys
/scripts/*.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.staging.local
.env.production.local
.env.sparkleverse.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

**/__pycache__

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Reports
reporting/env
reporting/*.pdf
reporting/*.txt
reporting/cookies.json

#IDEs
.idea/

# Firebase emulators
/tmp/*
!/tmp/.gitkeep
