# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomS/obj
src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomS/bin
src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomZ/obj
src/components/templates/AnimateMap/bridges/DataProvider/Contructor/PlayerIO/ServersideDLL/Serverside Code/RoomZ/bin

# account keys
/scripts/*.json

# script output files
/scripts/*.csv

# misc
.DS_Store
.env
.env.*
cypress.env.json


npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

**/__pycache__

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firestore-debug.log
ui-debug.log

# Reports
reporting/env
reporting/*.pdf
reporting/*.txt
reporting/cookies.json

#IDEs
.idea/

# Tool results
*.result.txt
/cypress/videos/
/cypress/screenshots/
