# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# account keys
/scripts/*.json

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.staging.local
.env.production.local
.env.sparkleverse.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log*

**/__pycache__

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
ui-debug.log

# Reports
reporting/env
reporting/*.pdf
reporting/*.txt
reporting/cookies.json

# Idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/httpRequests
.idea/caches/build_file_checksums.ser
.idea/replstate.xml
.idea_modules/
cmake-build-*/
*.iws
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
