rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/{allPaths=**} {
        allow read, write, update: if request.auth.uid == uid
    }
  }
}
