.jazz-container {
  min-height: 400px;
  grid-column: 2/8;
  grid-row: 1/4;
  transition: all 0.1s linear;
}

.content.jazz-bar-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 30px;
}

.scrollable-area {
  .jazz-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0px;
    .participant {
      width: 100%;
    }
  }
  .full-screen-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: baseline;
    .switch {
      margin-left: 30px;
    }
  }
  .focus {
    display: flex;
    align-items: baseline;
  }
  .focus-option {
    font-size: 20px;
    margin-left: 30px;
  }
  .table-item {
    margin-top: 10px;
  }
}
