@import "scss/constants";

.container-in-grid {
  grid-column: 2/8;
  grid-row: 1/5;
}

.jazz-container {
  transition: all 0.2s linear;
}

.jazz-bar-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-in-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.jazz-container {
  // min-height: 400px;
  grid-column: 2/8;
  grid-row: 1/5;
  transition: all 0.1s linear;

  &.container-in-row {
    margin-bottom: 75px;
  }

  .call-out-band-container-at-table {
    background: $dark;
    padding: 10px;
    margin-top: 15px;
    border-radius: 0px 0px 22px 22px;
  }

  .form-shout-out {
    display: flex;

    input[type="submit"] {
      margin-bottom: 0px;
      margin-left: 10px;
      width: 100px;
    }
  }
}

.content.jazz-bar-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 30px;
}

.scrollable-area {
  .jazz-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    margin-left: 0px;
    .participant {
      width: 100%;
    }
  }
  .table-item {
    margin-top: 10px;
  }
  .full-screen-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: baseline;
    .switch {
      margin-left: 30px;
    }
  }
  .focus {
    display: flex;
    align-items: baseline;
  }
  .focus-option {
    font-size: 20px;
    margin-left: 30px;
  }

  .centered-row {
    justify-content: center;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .video {
    height: 90%;
    transition: all 0.2s linear;

    &.video-not-focused {
      height: 374px;
    }
  }

  .video-focused {
    height: 500px;
  }

  .jazz-bar-table .reaction-bar {
    flex-direction: column;
    border-radius: 0 22px 22px 0;

    &.video-not-focused {
      height: 374px;
    }
    &.video-focused {
      height: 500px;
    }
  }

  .jazz-bar-table .emoji-container {
    flex-direction: column;
  }

  .reaction-bar {
    display: flex;
    justify-content: space-around;
    background: $dark;
    padding: 0 16px;
    border-radius: 0 0 22px 22px;
    height: 56px;
    margin-bottom: 20px;
  }

  .emoji-container {
    display: flex;
  }

  .call-out-band-container {
    display: flex;
    align-items: center;
  }

  .reaction {
    background: inherit;
    border: none;
    font-size: 44px;
    padding: 2px 12px;
  }

  .reaction-mute {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    .reaction-mute-text {
      font-size: 14px;
    }
  }
}
