.container-in-grid {
  grid-column: 2/8;
  grid-row: 1/4;
}

.jazz-container {
  transition: all 0.2s linear;
}

.jazz-bar-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-in-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.jazz-container {
  min-height: 400px;
  grid-column: 2/8;
  grid-row: 1/4;
  transition: all 0.1s linear;
}

.content.jazz-bar-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 30px;
}

.scrollable-area {
  .jazz-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    margin-left: 0px;
    .participant {
      width: 100%;
    }
  }
  .table-item {
    margin-top: 10px;
  }
  .full-screen-checkbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: baseline;
    .switch {
      margin-left: 30px;
    }
  }
  .focus {
    display: flex;
    align-items: baseline;
  }
  .focus-option {
    font-size: 20px;
    margin-left: 30px;
  }

  .centered-row {
    justify-content: center;
  }
  .table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .video {
    height: 100%;
    transition: all 0.2s linear;
    &.video-not-focused {
      height: 300px;
    }
  }

  .video-focused {
    height: 500px;
  }
}
