@import "scss/constants.scss";

.PrettyLink {
  &__wrapper {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: opaque-white(0.5);

    & * {
      @include link-style(opaque-white(0.5));
    }
  }
}
