@import "scss/constants";

.AdminTitleBar {
  &--grid-with-tools {
    display: grid;
    grid-template: 1fr 1fr / $admin-ia-dash-template-columns;
  }

  &--two-rows {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
  }

  &--simple-title {
    display: flex;
  }

  align-items: center;
  justify-content: space-between;

  padding: $spacing--xs 0;
  margin: $spacing--lg 0;

  :first-child {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
}
