@import "scss/constants.scss";

.chat-message {
  .xs-size,
  .chat-timestamp {
    font-size: 10px;
  }

  .sender-information {
    margin-bottom: 5px;
  }

  .chat-content-container {
    width: 80%;

    &.right-side {
      margin-left: auto;
    }

    .chat-timestamp {
      width: 100%;
      margin-top: 2px;

      &.right-side {
        text-align: right;
      }
    }
  }

  .bubble {
    padding: 10px;
    border-radius: 10px;
    color: $black;

    &.global {
      background: $white;
    }
    &.private {
      background: $yellow;
    }
    &.room {
      background: $pink;
    }

    span,
    a {
      margin: 0 2px;
    }
  }
}
