@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/opacity";
@use "scss/attendee/space";
@use "scss/attendee/theme";

.spaceInfo {
  padding: 0 space.empty(1);
  width: 100%;

  h1 {
    font-size: font.$size--xl;
    font-weight: font.$weight--md;
    margin-bottom: space.empty(1);
  }
}

.moreLessSpan {
  color: theme.$c-default-text;
  opacity: opacity.$md;
}

.showMoreLessAnchor {
  text-decoration: none;
}

.description {
  margin: 0 0 space.empty(1);
}

.space {
  text-align: center;
  margin: 0 auto;
  max-width: layout.$w-space-info;
}

.desktopPortal {
  text-align: center;
}
