@use "scss/attendee/variables.scss"as *;

.ProfileOverlay {
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto 0 0;
    padding: 0 $whitespace * 3 $whitespace * 4;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 40vh;
  }

  &__content {
    height: 100%;
    width: 100%;
  }

  &__avatar {
    width: 84px;
    height: 84px;
  }

  &__action {
    padding: 48px 0;
    font-size: 14px;
    line-height: 1.4;
  }
}
