@use "../../scss/AttendeeMixins.scss";

.huddleParticipant {
  display: flex;
  justify-content: center;

  @include AttendeeMixins.rounded;
  overflow: hidden;
}

.avatarContainer {
  display: flex;
}
