@import "scss/constants.scss";

$card-pulse-animation: pulse 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;

.card {
  padding: 15px;
  background-color: $dark;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
  border-radius: 28px;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateY(0);
  .room-attendance-container {
    width: 60px;
    margin: auto;
  }
  &:hover {
    transform: translateY(-2px);
  }
  &.card_room {
    width: 200px;
    margin-bottom: 10px;
    text-align: center;
    h5 {
      margin-bottom: 0.5rem;
    }
    .live-people {
      margin-bottom: 0.5rem;
    }
    .card_room-pic {
      overflow: hidden;
      border-radius: 28px;
      object-fit: cover;
      height: 85px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 0.5rem;
      background-color: rgba($black, 0.1);
    }
    .card_room-now {
      text-align: left;
      h6 {
        padding-left: 16px;
        position: relative;
        margin-bottom: 0.3rem;
        &:before {
          content: "";
          position: absolute;
          left: -3px;
          top: -3px;
          height: 23px;
          width: 15px;
          background-image: url("/sparkle-icon.png");
          background-size: 15px 23px;
          background-repeat: no-repeat;
        }
      }
    }
  }

  .card-animation {
    position: absolute;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    &.card-animation_music {
      .icon-1,
      .icon-2,
      .icon-3 {
        content: "";
        position: absolute;
        display: block;
        z-index: 10;
        height: 23px;
        width: 15px;
        transform: scale(1);
        background-image: url(/music-icon.png);
        background-size: 15px 23px;
        animation: $card-pulse-animation;
        animation-delay: 0.2s;
        opacity: 0;
      }
      .icon-1 {
        left: 10px;
        top: 0;
        animation: $card-pulse-animation;
        animation-delay: 0.2s;
      }
      .icon-2 {
        right: 0;
        bottom: 0;
        animation: pulse 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation-delay: 0s;
      }
      .icon-3 {
        right: 40px;
        top: 20px;
        animation: pulse 2.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation-delay: 0.6s;
      }
    }
    &.card-animation_chat {
      .icon-1,
      .icon-2,
      .icon-3 {
        content: "";
        position: absolute;
        display: block;
        z-index: 10;
        height: 18px;
        width: 19px;
        opacity: 1;
        transform: scale(1);
        background-image: url("/chat-icon.png");
        background-size: 19px 18px;
        animation: $card-pulse-animation;
        animation-delay: 0.2s;
        opacity: 0;
      }
      .icon-1 {
        right: 50px;
        top: 0;
        animation: $card-pulse-animation;
        animation-delay: 0.4s;
      }
      .icon-2 {
        left: 0;
        bottom: 0;
        animation: pulse 2.8s cubic-bezier(0.77, 0, 0.175, 1) infinite;
        animation-delay: 0s;
      }
      .icon-3 {
        right: 10px;
        bottom: 30px;
        animation: $card-pulse-animation;
        animation-delay: 0.2s;
      }
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(0) translateY(0px);
  }

  100% {
    opacity: 0;
    transform: scale(1.7) translateY(-20px);
  }
}
