@use "scss/attendee/effects/sparkle.scss";
@use "scss/attendee/effects/rounded.scss";
@use "scss/attendee/breakpoint.scss";
@use "scss/attendee/layout.scss";
@use "scss/attendee/space.scss";
@use "scss/attendee/theme.scss";

@mixin participantPanel {
  display: flex;
  justify-content: center;
  @include sparkle.panel--glass;
  @include rounded.normal;

  overflow: hidden;
  height: layout.$h-video-chat;
  margin: space.empty(0.5);
}

.participant {
  @include participantPanel();
}

.webcamContainer {
  @include sparkle.panel--glass;
  @include rounded.normal;

  margin: 0 auto;
  padding: space.gap(10);
  width: fit-content;
}

.WebcamGrid {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: space.gap(10);
}

.joinButton {
  @include participantPanel();
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  width: layout.$w-video-chat-participant;
  border: 1px solid theme.$sparkle--border;
}

.leaveContainer {
  display: flex;
  justify-content: flex-end;
}

.leaveButton {
  width: fit-content;
  opacity: 0.5;
  cursor: pointer;
  text-align: end;
  padding: 0 2px 0 2px;

  &:hover {
    opacity: 0.8;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }
}
