@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/theme";

.input {
  label::after {
    content: attr(data-label);
    position: absolute;
    top: space.empty(0.75);
    display: flex;
    align-items: center;
    padding: 0 0 0 space.empty(0.75);
    height: 26px;
    color: theme.$c-glass-panel-text;
    right: space.empty(0.8);
    border-left: border.$radius--s3 solid theme.$sparkle--border;
    color: theme.$c-default-text;
    cursor: pointer;
  }
}

.inputField {
  border: none;
}
