@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/font";
@use "scss/attendee/iconSize";
@use "scss/attendee/theme";
@use "scss/attendee/effects/error";

.input {
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
  }

  label::after {
    content: attr(data-label);
    position: absolute;
    top: space.empty(0.75);
    display: flex;
    align-items: center;
    padding: 0 0 0 space.empty(0.75);
    height: 26px;
    color: theme.$c-glass-panel-text;
    right: space.empty(0.8);
    border-left: border.$width--slim solid theme.$sparkle--border;
    color: theme.$c-inverted-text;
    cursor: pointer;
  }
}

.borderless {
  border: none;
}

.border {
  border: border.$width--slim solid theme.$sparkle--border;
}

.invalid {
  @include error.input-error;
}

.errorIcon {
  background-image: url(/assets/icons/input-error-icon.svg);
  height: iconSize.$input-error-icon-size;
  width: iconSize.$input-error-icon-size;
  // pull icon inside input field
  margin-left: space.empty(-2);
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputError {
  @include font.core;
  margin-top: space.empty(0.5);
}
