@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/theme";
@use "scss/attendee/effects/error";

.input {
  display: flex;
  flex-direction: column;
  margin: space.empty(1) 0;
}

label {
  display: flex;
  align-items: center;
  padding-left: space.empty(0.75);
  padding-right: space.empty(0.8);
  border-left: border.$width--slim solid theme.$sparkle--border;
  color: theme.$c-default-text;
  cursor: pointer;
}

.border-borderless {
  border: none;
}

.border-border {
  border: border.$width--slim solid theme.$sparkle--border;
}

.invalid {
  @include error.input-error;
}

.errorIcon {
  background-image: url(/assets/icons/input-error-icon.svg);
  height: layout.$sz-input-error-icon;
  width: layout.$sz-input-error-icon;
  // pull icon inside input field
  margin-left: space.empty(-2);
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputError {
  @include font.core;
  margin-top: space.empty(0.5);
}

.inputField {
  outline: none;
}

.variant-overlay {
  @include font.core;
  height: space.$l3;
  border-radius: space.$xs;
  box-sizing: border-box;
  width: 100%;
  padding: space.gap(2) space.empty(1) space.gap(2);
}

.variant-login {
  //@include font.core;
  padding: 0 space.empty(1);
  height: space.$l3;
  border-radius: border.$radius--xs;
  box-sizing: border-box;
  color: theme.$c-login-input--fg;
  background-color: theme.$c-login-input--bg;
  border-color: theme.$c-login-input--eg;

  &::placeholder {
    color: theme.$c-login-input--ph;
    font-size: font.$size--md;
  }
}
