@import "../../../profileModalStyles";

$edit-buttons-gap: $input-gap;
$edit-button-background-color: rgba($white, 0.2);

.UserProfileModalButtons {
  &__button {
    margin-bottom: $edit-buttons-gap;
    background-color: $edit-button-background-color;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
