@import "../../../profileModalStyles";

.ProfileModalAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__upload-new-container {
    position: relative;
    @include square-size(6.2rem);
  }

  &__image {
    object-fit: cover;
    object-position: top;
  }

  &__input {
    display: none;
  }

  &__error {
    margin-top: 0.5rem;
    color: var(--danger--under);
  }
}
