@import "scss/constants";

$image-container-height: 200px;

.WorldStartForm {
  .AdminSection {
    &__label {
      display: flex;
      flex-direction: column;

      .ImageInput__container {
        position: relative;
        width: 60%;
        margin-bottom: -($spacing--lg);
        align-self: center;
        height: $image-container-height;
      }
    }
  }
}
