@import "scss/constants.scss";

.TabFooter {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $primary-content-under;
  border-top: 1px solid opaque-white(0.2);

  padding: $spacing--xs;
  margin-bottom: $footer-height;

  width: $admin-ng-sidebar-width--normal;
  min-width: $admin-ng-sidebar-width--min;
  max-height: $admin-ng-tab-footer-height--max;

  &__nav-buttons {
    display: flex;
    max-width: 40%;
  }

  &__nav-button {
    flex-shrink: 0;
  }
}
