@import "scss/constants.scss";

.nav-tabs {
  justify-content: space-around;
}

.camp-chat-container {
  display: block;

  .message-bubble {
    font-size: 0.9rem;
    margin-bottom: 3px;
    width: auto;
    background-color: #333035;
    padding: 12px 16px;
    border-radius: 28px 28px 28px 4px;
    background: #37393b;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
  }

  .message {
    align-self: flex-start;
  }

  .reaction-list {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding: 24px 16px 0;
  }

  .isMe {
    align-self: flex-end;
    border-radius: 28px 28px 4px 28px;
  }

  .messages-container {
    display: flex;
    flex: 1;
  }

  .chat-icon-container {
    width: 50px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 8px;
    align-items: center;
  }

  .form-message {
    margin-bottom: 10px;
  }

  .chevron-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
    margin-top: 3px;
    cursor: pointer;

    .rotating-chevron {
      transition: all 0.2s linear;
      &.expanded {
        transform: rotate(-180deg);
      }
    }
  }

  .chat-icon {
    color: $primaryColor;
    font-size: 30px;
  }

  .band-reaction-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: rgba($white, 0);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba($white, 0.4);
    }
  }
}
