@import "scss/constants.scss";

.chats-modal-container {
  position: absolute;
  width: 20%;

  .back-button {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 20px;
  }
  .private-chat-title {
    margin-left: 20px;
    margin-top: 10px;
  }
}

.private-message-sender {
  display: flex;
  height: 70px;
  align-items: center;

  &:hover {
    background-image: linear-gradient(
      0deg,
      rgba($white, 0.1) 0%,
      rgba($white, 0.1) 100%
    );
  }
  padding: 10px;

  .profile-picture-container {
    margin-right: 20px;
  }

  .sender-info-container {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &:not(:last-child) {
    border-bottom: 1px solid $light-grey;
  }

  .sender-party-name {
    font-size: 20px;
    font-weight: 700;
  }
  .sender-last-message {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .not-read-indicator {
    background: $primaryColor;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .chat-wrapper {
    position: relative;
  }
}
