@import "scss/constants";

.PosterCategory {
  display: flex;
  font-size: $font-size--xxs;
  color: $content--over;
  padding: $spacing--xs $spacing--sm;
  margin: $spacing--xs;
  border-radius: $border-radius--lg;
  background-color: $secondary;
  font-weight: $font-weight--500;

  &--active {
    background-color: $accent--under;
  }
}
