.account-question {
  position: relative;
  max-width: 520px;
  border-radius: 18px;
  padding: 12px;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);

  &__input {
    background-color: #000000;
  }
}
