@import "scss/constants.scss";

.change-password-modal {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    margin-bottom: 20px;
  }

  .input-error,
  .input-info {
    text-align: center;
    margin-bottom: 10px;
  }

  .current-password-input {
    margin-bottom: 20px;
  }

  .input-block {
    background-color: $dark;
  }

  .cancel-button {
    cursor: pointer;
    text-decoration: underline;
  }
}
