@import "scss/constants.scss";

$spacing-between-input: 10px;

.EditPasswordForm {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__title {
    margin-bottom: 20px;
  }

  &__input-error {
    text-align: center;
    margin-bottom: $spacing-between-input;
  }

  &__current-password-input {
    margin-bottom: 20px;
  }

  &__input-block {
    background-color: $dark;
    margin-bottom: $spacing-between-input;
  }

  &__cancel-button {
    cursor: pointer;
    text-decoration: underline;
  }
}
