@use "scss/attendee/font";
@use "scss/attendee/theme";
@use "scss/attendee/space";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";

.spaceWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: layout.$w-overlay--max;
  min-height: 100vh;
  margin: space.empty(10) auto 0 0;
  padding: space.empty(4) space.empty(3);

  @media (max-width: breakpoint.$md) {
    margin: 0;
  }
}

.spaceImage {
  width: 188px;
  height: 188px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spaceLink {
  font-size: font.$size--lg;
  color: theme.$c-button-fg;
  text-decoration: underline;
}

.spaceDescription {
  font-size: font.$size--lg;
  margin: space.empty(1) 0;
}
