@use "scss/attendee/effects/sparkle";
@use "scss/attendee/space";
@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/layer";
@use "scss/attendee/breakpoint";

$-z-index--space: layer.above(0);
$-z-index--ui: layer.above($-z-index--space);
$-z-index--popover: layer.above($-z-index--ui);

@font-face {
  font-family: "Sparkle";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ABCArizonaPlusVariable-Trial.woff2") format("woff2");
}

.html {
  overflow-y: scroll;
  @include font.core;
  @include font.sparkle;
}

.Space {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: padding-right 0.2s ease;
  padding-right: 0;
  z-index: $-z-index--space;
}

.LayerUi {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: $-z-index--ui;
  @include sparkle.panel--normal;
  background: transparent;
  pointer-events: none;

  display: flex;
  flex-direction: column-reverse;

  &[open] {
    height: 45vh;
  }

  > * {
    pointer-events: all;
  }
}

.popoverContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $-z-index--popover;
  // Make the overlay ignore pointers, however, the things in the overlay must
  // receive pointer events
  pointer-events: none;

  * {
    pointer-events: all;
  }
}
