@use "scss/attendee/effects/sparkle";
@use "scss/attendee/space";
@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";

@font-face {
  font-family: "Sparkle";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ABCArizonaPlusVariable-Trial.woff2") format("woff2");
}

.html {
  overflow-y: scroll;
  font-family: Sparkle, serif;
  font-variation-settings: "wght" 350, "ital" 0, "SRFF" 20;
  @include font.core;
}

.Space {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: padding-right 0.2s ease;
  padding-right: 0;
}

.LayerUi {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 40;
  @include sparkle.panel--normal;

  display: flex;
  flex-direction: column;

  &[open] {
    height: 45vh;

    &.has-component-shoutout {
      height: calc(45vh - #{space.button(1) + space.empty(1)});
    }
  }

  @media (min-width: breakpoint.$md) {
    position: relative;
    padding: 0 space.empty(1);
    background: transparent;
  }
}
