@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/space";
@use "scss/attendee/opacity";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/effects/atom";

.ChatContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
  border-radius: 0;
  height: layout.$h-chat-controls;
  padding: 0;
  width: 100%;
  flex-shrink: 0;
  margin: 0;
  @include sparkle.panel--normal;

  @media (min-width: breakpoint.$md) {
    margin: 0 space.empty(1) space.empty(2) auto;
    width: layout.$w-sidebar;
    @include rounded.normal;
  }

  nav {
    display: flex;
    padding: 0 space.empty(0.5);

    span {
      padding: space.empty(0.5) space.empty(1);
      text-decoration: none;
      color: theme.$c-default-text;
      cursor: pointer;
      position: relative;
    }
  }
}

.relativeContainer {
  margin-bottom: space.empty(3);

  @media (min-width: breakpoint.$md) {
    margin: 0 space.empty(1) space.empty(2) auto;
  }
}

.chatContainerExpanded {
  @media (min-width: breakpoint.$md) {
    @include rounded.bottom;
  }
}

.messageNotification {
  background: red;
  font-size: font.$size--sm;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: text-top;
  position: absolute;
  right: 2px;
}

.toggler {
  margin-left: auto;
}

.chatSidebar {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 0;
  max-width: 100%;
  max-height: layout.$h-mobile-chat-bar;
  order: 1;

  @include sparkle.panel--normal;

  @media (min-width: breakpoint.$md) {
    max-width: layout.$w-sidebar;
    width: 100%;
    height: layout.$h-mobile-chat-bar;
    margin: 0 space.empty(1) 0 auto;
    order: 3;
    max-height: 100%;
    @include rounded.top;
    @include sparkle.panel--glass;
  }
}

.relativeSideBar {
  min-height: layout.$h-mobile-chat-bar;
  margin-top: space.empty(-3);
  margin-bottom: space.empty(3);

  @media (min-width: breakpoint.$md) {
    // height: 100vh - height-of-chat-controls - margin-top - margin-bottom
    min-height: calc(100vh - layout.$h-chat-controls - 2 * space.empty(1));
    margin: 0 space.empty(1) 0 auto;
  }
}

.sidebarHidden {
  display: none;
}

.selectedTab {
  font-variation-settings: "wght" 700, "ital" 0, "SRFF" 20;
}
