@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/space";
@use "scss/attendee/opacity";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/effects/atom";

.ChatContainer {
  padding: 0 space.empty(1);

  @media (min-width: breakpoint.$md) {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  nav {
    display: flex;

    @media (min-width: breakpoint.$md) {
      @include sparkle.panel--normal;
      @include rounded.topleft;
    }
  }
}
