@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/space";
@use "scss/attendee/opacity";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/effects/atom";

.ChatContainer {
  padding: 0 space.empty(1);
  height: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: breakpoint.$md) {
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    width: layout.$w-sidebar;

    @include sparkle.panel--normal;
    @include rounded.topleft;
  }

  nav {
    display: flex;
    a {
      padding: space.empty(0.5) space.empty(1);
      text-decoration: none;
      color: black;
    }
  }
}

.messageCount {
  background: red;
  @include rounded.normal;
  color: white;
  font-size: font.$size--sm;
  padding: 4px;
}

.toggler {
  margin-left: auto;
}
