@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/space";
@use "scss/attendee/opacity";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/effects/atom";

$-h-text-chat: 40vh; // previously named $text-chat-height

@keyframes scroll-left {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-100%);
  }
}

// TODO Tidy this up
@mixin atom-chat-message {
  display: grid;
  grid-column-gap: space.empty(1);
  grid-template-columns: min-content auto;

  .user-avatar {
    @include atom.avatar;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    top: 0.2em;
  }

  .message-meta {
    grid-column: 2 / 3;
    @include font.small;

    h4 {
      display: inline;
    }

    p {
      display: inline;
      overflow: hidden;
      opacity: opacity.$md;

      span {
        position: absolute;
        top: -1000px;
      }
    }
  }

  .message {
    grid-column: 2 / 3;
  }

  .message-actions {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    padding-top: space.gap(1);

    a {
      @include atom.icon;
      margin-right: space.empty(0.5);
      opacity: opacity.$md;

      &:hover,
      &:focus {
        opacity: 1;
      }

      &.chat-like-button {
        background-image: url(/assets/icons/icon-heart.svg);

        &.liked {
          background-image: url(/assets/icons/icon-heart-fill.svg);
        }

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }

      &.chat-reply-button {
        background-image: url(/assets/icons/icon-reply.svg);

        &.clicked {
          display: none;
        }

        @media (prefers-color-scheme: dark) {
          filter: invert(1);
        }
      }

      span {
        position: absolute;
        top: -500px;
      }
    }

    form {
      display: none;
      width: 100%;
      margin-top: space.empty(0.5);
      background: transparent;
      border-width: 1px;
      border-style: solid;
      border-color: theme.$sparkle--border;
      @include rounded.normal;
    }

    .chat-reply-button.clicked + form {
      display: block;
    }
  }
}

.ChatContainer {
  padding: 0 space.empty(1);

  @media (min-width: breakpoint.$md) {
    padding: 0;
    width: 100%;
    grid-column: 2 / 3;
  }

  nav {
    display: flex;

    @media (min-width: breakpoint.$md) {
      @include sparkle.panel--normal;
      @include rounded.normal;
    }

    > a,
    > div {
      @include atom.button;
      position: relative;

      &.radio {
        flex-grow: 1;
        padding-right: 0;

        #component-chat-radio-toggle {
          @include atom.button;
          padding-left: 0;
          padding-right: 0;

          .icon {
            @include atom.icon;
            margin-left: space.empty(0.5);
            background-image: url(/assets/icons/icon-unmute.svg);
            filter: invert(1);
          }

          &.muted .icon {
            background-image: url(/assets/icons/icon-mute.svg);
            opacity: opacity.$md;
          }
        }
      }

      .badge {
        @include atom.badge;
      }

      .live-info {
        position: relative;
        height: space.button(1);
        overflow: hidden;
        flex-grow: 1;
        mask-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 1) 10px
        );

        span {
          position: absolute;
          height: space.button(1);
          line-height: space.button(1);
          white-space: nowrap;
          width: min-content;
          opacity: opacity.$md;
          transform: translateX(50%);
          -moz-animation: scroll-left 10s linear infinite;
          -webkit-animation: scroll-left 10s linear infinite;
          animation: scroll-left 10s linear infinite;
        }
      }
    }

    #component-chat-open-button {
      margin-left: auto;
    }
  }

  #chat-scrollbox {
    position: relative;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    @include rounded.bottom;

    @media (min-width: breakpoint.$md) {
    }

    #chat-scrollbox-mask {
      display: flex;
      flex-direction: column-reverse;
      flex-grow: 1;
      overflow: scroll;
      mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0.5) 95%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    ol {
      display: flex;
      flex-direction: column-reverse;
      padding: 0 space.empty(1);

      li {
        min-height: 50px;
        padding: space.empty(0.75) 0;
        @include atom-chat-message;

        .user-avatar {
          width: space.button(1);
          height: space.button(1);
        }
      }
    }

    form {
      @include atom.simple-form;
      margin: 0 0 space.empty(1);
      background: theme.$light--canvas;

      @media (prefers-color-scheme: dark) {
        background: theme.$dark--canvas;
      }

      @media (min-width: breakpoint.$md) {
        margin: 0 space.empty(1) space.empty(1);
      }
    }
  }

  &.open {
    #chat-scrollbox {
      height: $-h-text-chat;
      overflow: visible;
    }

    &.component-table-video-open {
      #chat-scrollbox {
        height: calc(#{$-h-text-chat} - #{layout.$h-video-chat});
      }
    }

    @media (min-width: breakpoint.$md) {
      height: calc(100vh - #{space.empty(2)});
      margin-top: calc(-100vh + #{space.empty(2)} + #{space.button(1)});

      &.component-table-video-open {
        height: calc(100vh - #{space.empty(2)} - #{layout.$h-video-chat});
        margin-top: calc(
          -100vh + #{space.empty(2)} + #{space.button(1)} + #{layout.$h-video-chat}
        );
      }

      display: flex;
      flex-direction: column-reverse;

      nav {
        @include rounded.bottom;
      }

      #chat-scrollbox {
        flex-grow: 1;
        @include sparkle.panel--glass;
        @include rounded.top;
      }
    }
  }
}
