@import "scss/constants.scss";

.ConfirmationModal {
  &__header {
    //
  }

  &__message {
    padding: 10px 0 30px 0;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;

    &-confirm {
      width: 50%;
    }

    &-cancel {
      background-image: none;
      background-color: $black;
      border: solid $white 1px;
      border-color: $white;
      width: 50%;
    }
  }
}
