@import "scss/constants.scss";

.confirmation-modal {
  .modal-content {
    background: $grey--modal-background;
  }
  .confirm-message {
    padding: 10px 0 30px 0;
  }

  .confirmation-buttons {
    display: flex;
  }
}
