@import "scss/constants.scss";

.ConfirmationModal {
  &__message {
    padding: 10px 0 30px 0;
  }

  &__buttons {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }

  .modal-content {
    text-align: center;
  }
}
