@import "scss/constants.scss";
@import "components/molecules/Schedule/Schedule.constants.scss";

$image-size: 92px;

$main--margin-top: 2rem;
$main--margin-bottom: 1rem;

$name--margin-bottom: 5px;

.ScheduleVenueDescription {
  flex: 1;
  padding-left: $Schedule--padding;

  &__main {
    display: flex;
    align-items: center;
    margin-top: $main--margin-top;
    margin-bottom: $main--margin-bottom;
  }

  &__pic {
    flex-shrink: 0;
    width: $image-size;
    height: $image-size;
    background-size: cover;
    border-radius: 50%;
    margin-right: $Schedule--padding;
    cursor: pointer;
    transition: all 400ms $transition-function;
    box-shadow: 0 $spacing--sm $spacing--lg opaque-black(0.3);
    background-image: var(--venue-picture--background-image);

    &:hover {
      transform: scale(1.1);
    }
  }

  &__desc {
    font-size: $font-size--sm;
    opacity: 0.8;
  }

  &__name {
    font-style: italic;
    margin-bottom: $name--margin-bottom;
  }

  &__subtitle {
    font-weight: $font-weight--400;
  }
}
