@import "scss/constants";

$popup-width: 340px;

$image-on-url: url(/assets/icons/navbar-link-radio.png);
$image-on-height: 40px;
$image-on-width: 2 * $image-on-height;

$image-off-url: url(/assets/icons/navbar-link-radio-off.png);
$image-off-size: 40px;

.NormalRadio {
  // @debt replace the popover component from Bootstrap with something else, then remove these !important workarounds
  transform: none !important;
  top: $navbar-height !important;
  left: calc(100% - #{$popup-width}) !important;

  padding: font-size--parent(0.5);
  width: $popup-width;

  &__button {
    @include square-size(40px);
    display: block;
    background-color: var(--content--under-40a);
    border-radius: $border-radius--max;
    margin: 1px $margin-right--navbar-links 1px 1px;
    cursor: pointer;
    object-fit: contain;

    background-image: $image-on-url;
    background-size: $image-on-width $image-on-height;
    animation: radioanim 2s steps(2) infinite;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &--off {
      background-image: $image-off-url;
      background-size: $image-off-size $image-off-size;
      animation: none;
    }
  }

  .popover {
    height: unset;
  }
}
