@import "scss/constants";

$popup-width: 340px;

.NormalRadio {
  // @debt replace the popover component from Bootstrap with something else, then remove these !important workarounds
  transform: none !important;
  top: $navbar-height !important;
  left: calc(100% - #{$popup-width}) !important;

  padding: font-size--parent(0.5);
  width: $popup-width;

  &__button {
    @include square-size(40px);
    display: block;
    background-color: var(--content--under-40a);
    border-radius: $border-radius--max;
    margin: 1px $margin-right--navbar-links 1px 1px;
    cursor: pointer;
    object-fit: contain;

    background-image: url(/assets/icons/navbar-link-radio.png);
    background-size: 80px 40px;
    animation: radioanim 2s steps(2) infinite;

    &:hover {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &--off {
      background-image: url(/assets/icons/navbar-link-radio-off.png);
      background-size: 40px 40px;
      animation: none;
    }
  }

  .popover {
    height: unset;
  }
}
