@import "scss/constants.scss";

// TODO: this was copied from Audience.scss (do we want to move the variable to constants?)
$avatarSize: max(4vh, 3vw);

$avatarUrl: var(--user-profile-picture-avatar-url, none);

.UserProfilePicture {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

  &__avatar {
    width: $avatarSize;
    height: $avatarSize;

    background-color: $black;
    background-image: $avatarUrl;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10rem;

    cursor: pointer;
  }
}
