.profile-picture-container {
  position: relative;

  .reaction {
    position: absolute;
    top: -25px;
    right: -20px;
    width: 50px;
  }

  .heart {
    fill: red;
    animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
    z-index: 99999;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .clap {
    font-size: 50px;
  }
}
