@import "scss/constants.scss";

.profile-picture-container {
  position: relative;

  .reaction-container {
    animation: fade-in-and-out 4500ms ease;

    .messageToBand {
      animation: pulse 3s ease infinite;
      font-size: 20px;
      top: -15px;
      right: none;
      width: fit-content;
      background: $white;
      color: $black;
      border-radius: 22px;
      padding: 10px;
    }
  }

  .reaction {
    position: absolute;
    top: -25px;
    right: -20px;
    width: 50px;
    animation: sway 2200ms 1200ms ease-in-out;
    z-index: 1000;
  }

  .heart {
    fill: red;
    animation: pulse 1s ease infinite;
    z-index: 99999;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  .clap {
    font-size: 50px;
  }
}
