@import "scss/constants.scss";

// TODO: this was copied from Audience.scss (do we want to move the variable to constants?)
$avatarSize: max(4vh, 3vw);

.UserProfilePicture {
  width: 100%;
  height: 100%;

  background-position: center;
  background-size: cover;

  &__avatar {
    width: $avatarSize;
    height: $avatarSize;

    background-color: transparent;
    // TODO: how can we use a default image here if none set? Can we use CSS --variables here? I think we could..
    //background-image: url(${({ backgroundImage }) => backgroundImage ?? DEFAULT_PROFILE_IMAGE});
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 10rem;
  }
}
