@import "scss/constants.scss";

$photobooth-button-margin: 140px 0px 0px;
$photobooth-button-text-margin: 38px 0px 0px;
$photobooth-button-background-size: 35px;
$simple-view-button-padding: $spacing--sm $spacing--md;
$icon-button-width: 32px;
$icon-button-height: 32px;
$arrow-margin: 0 $spacing--md;
$arrow-height: 20px;
$arrow-width: 20px;
$dropdown-item-width: 170px;
$dropdown-item-padding: $spacing--lg $spacing--xl 0 $spacing--xl;
$nav-party-logo-padding-lg: 0 50px 0 20px;
$nav-party-logo-padding-sm: 0 16px 0 11px;

.navbar-links {
  display: flex;
  position: relative;

  &__user-avatar {
    cursor: pointer;
    display: flex;
    align-items: center;

    @media (max-width: $media-breakpoint--md) {
      display: none;
    }
  }

  &__simple-view {
    font-size: $font-size--md;
    margin-right: $spacing--sm;
  }

  &__simple-view-a {
    color: opaque-white(0.8);
  }

  &__simple-view-button {
    padding: $spacing--xs $spacing--sm;
    background-color: $tundora;
    margin-left: $spacing--md;

    @media (max-width: $media-breakpoint--lg) {
      display: none;
    }
  }

  &__simple-view-text {
    margin-left: $spacing--sm;
  }

  &__partygoers {
    @media (max-width: $media-breakpoint--xl) {
      display: none;
    }
  }

  &__search {
    display: flex;

    @media (min-width: $media-breakpoint--sm) {
      margin-left: $spacing--lg;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-right: $spacing--md;
    @media (max-width: $media-breakpoint--md) {
      display: none;
    }
  }

  &__menu-link {
    background: opaque-white(0.1);
    color: opaque-white(1);
    opacity: 0.8;
    border: none;
    border-radius: $border-radius--max;
    width: $icon-button-width;
    height: $icon-button-height;

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      box-shadow: 0 0 0 2px $white;
      outline: none;
      opacity: 1;
    }
  }

  &__nav-dropdown {
    display: none;

    @media (max-width: $media-breakpoint--md) {
      display: block;
    }
  }
}

.navbar-container {
  background: $content--under;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .log-in-button {
    cursor: pointer;
    font-size: 18px;
  }

  .logout-span {
    cursor: pointer;
  }

  .tickets-icon,
  .private-chat-icon {
    position: relative;
    cursor: pointer;
  }

  .notification-card {
    background: $red;
    color: $content--over;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    .about-button {
      border: 2px solid #ebebeb;
      border-radius: 2em;
      margin-left: 1em;
      margin-right: -1em;
      padding: 0.2em 1em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 1.5px;
      vertical-align: middle;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #ebebeb;
        color: $dark;
      }
    }
  }

  .counter {
    margin-right: 1em;
  }
}

.navbar {
  display: flex;
  height: $navbar-height;
  padding: 0 15px;
  background-color: $dark;

  #sound-cloud-player {
    border: none;
  }

  &__dropdown {
    position: fixed;
    top: $navbar-height;
    right: $spacing--xl;
    background: $secondary--live;
    border-radius: $border-radius--lg;
    padding-bottom: $spacing--xl;
    z-index: z(navbar-user-dropdown);

    @media (max-width: $media-breakpoint--sm) {
      all: initial;
      position: fixed;
      top: $navbar-height;
      right: 0;
      left: 0;
      width: 100%;
      background: $secondary;
      padding-bottom: 0;
    }

    &-mobile {
      width: 100%;
    }

    &-mobile-top {
      width: 100%;
    }

    &-item {
      text-decoration: none;
      font-family: "Rubik", sans-serif;
      font-weight: $font-weight--400;
      font-size: $font-size--md;
      padding: $dropdown-item-padding;
      width: $dropdown-item-width;

      @media (max-width: $media-breakpoint--sm) {
        padding: $spacing--md $spacing--xl;
        margin: 0;
        width: 100%;
      }

      &-buttons {
        display: flex;
        align-items: center;
        padding-right: $spacing--md;
      }

      &:first-child {
        border-bottom: 1px solid $secondary--light;
        padding-bottom: $spacing--md;
        margin-bottom: $spacing--xs;
        color: $light-grey--lightest;
        padding-right: $spacing--xl;

        @media (max-width: $media-breakpoint--sm) {
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          padding: 0;
          color: $white;
        }
      }

      &:last-child {
        @media (max-width: $media-breakpoint--sm) {
          padding-bottom: $spacing--xxl;
        }
      }

      &:hover {
        background: $secondary--live;
        color: $primary--over;
      }

      &:focus {
        background: $secondary--live;
      }

      &-icon {
        margin-right: $spacing--md;
      }
    }

    &-arrow-down,
    &-arrow-up {
      height: $arrow-height;
      width: $arrow-width;
      margin: $arrow-margin;
      background: url(/assets/icons/nav-party-logo-icon.png);
      background-size: $arrow-height;
      opacity: 0.4;
      transition: transform 400ms $transition-function;
    }

    &-arrow-up {
      transform: rotate(180deg);
    }
  }
}

.custom-dialog {
  width: 700px;
  max-width: none !important;
}

.nav-logos {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-sparkle-logo,
.nav-sparkle-logo_small {
  position: relative;

  @media (min-width: $media-breakpoint--sm) {
    margin-right: $spacing--md;

    &:hover {
      width: 120px;
    }
  }

  &.nav-sparkle-logo_small {
    display: none;
  }

  div {
    position: relative;
    display: block;
    width: 25px;
    height: 35px;
    background-image: url(/assets/icons/sparkle-nav-logo.png);
    background-size: 25px 35px;

    @media (min-width: $media-breakpoint--sm) {
      &:before {
        position: absolute;
        content: "";
        opacity: 0;
        pointer-events: none;
        left: 22px;
        width: 108px;
        height: 35px;
        background-image: url(/assets/icons/sparkle-nav-logo-text.png);
        background-size: 108px 35px;
        transform: translateX(-40px) scale(0.75);
        transition: opacity 200ms, transform 400ms $transition-function;
      }

      @keyframes sparklelogoanimate {
        100% {
          background-position: -75px;
        }
      }

      &:hover {
        opacity: 1;
        background-image: url(/assets/icons/sparkle-nav-logo-animate.png);
        background-size: 75px 35px;
        background-position: 0 0;
        animation: sparklelogoanimate 0.4s steps(3) infinite;

        &:before {
          opacity: 1;
          pointer-events: all;
          transform: translateX(0px) scale(1);
        }
      }

      &:active {
        opacity: 0.7;
      }
    }
  }
}

.nav-party-logo {
  position: relative;
  height: 100%;
  padding: $nav-party-logo-padding-sm;
  background-color: opaque-white(0.08);
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 400ms $transition-function;
  appearance: none;
  color: $content--over;
  border-left: 1px solid $tundora;
  border-right: 1px solid $tundora;
  margin-left: $spacing--md;

  @media (min-width: $media-breakpoint--sm) {
    padding: $nav-party-logo-padding-lg;
  }

  &-text {
    margin: 0;
  }

  img {
    height: 40px;
  }

  &:hover,
  &:focus {
    background-color: opaque-white(0.14);

    &:after {
      opacity: 0.7;
    }
  }

  @media (min-width: $media-breakpoint--sm) {
    &:after {
      content: "";
      position: absolute;
      right: 20px;
      height: 20px;
      width: 20px;
      background-image: url(/assets/icons/nav-party-logo-icon.png);
      background-size: 20px;
      opacity: 0.4;
      transform: rotate(0deg);
      transition: transform 400ms $transition-function;
    }
  }

  &.clicked {
    &:after {
      transform: rotate(180deg);
    }
  }

  &.slide {
    transform: translateX(110px);
  }
}

.schedule-text {
  background-color: $tundora;
  display: inline-block;
  margin-left: $spacing--sm;
  padding: $spacing--sm $spacing--xl;
  border-radius: $border-radius--xl;
  font-weight: $font-weight--500;
  font-size: $font-size--md;
  line-height: $spacing--lg;
  text-shadow: 0 2px 3px rgb(0 0 0 / 35%);
}

.schedule-dropdown-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: z(navbar-schedule-backdrop);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 600ms $transition-function,
    transform 600ms $transition-function;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.NavBar {
  &__home-icon {
    cursor: pointer;
    font-size: 24px;

    margin-right: $spacing--md;

    &:hover {
      font-size: 27px;
      margin-right: $spacing--sm;
    }
  }

  &__profile-popover {
    height: 100%;
  }

  &__photobooth-button {
    position: absolute;
    top: 130px;
    left: -($spacing--lg);
    border-radius: 0px $border-radius--md $border-radius--md 0px;
    padding: $spacing--xs $spacing--md;
    cursor: pointer;
    background-color: $lighter-intermediate-grey;
    background-image: url(/assets/icons/photobooth-icon.png);
    background-size: $photobooth-button-background-size;
    background-position: 50% 10%;
    background-repeat: no-repeat;

    &:hover {
      background-color: $light-grey;
    }
  }

  &__photobooth-title {
    text-decoration: none;
    margin: $photobooth-button-text-margin;
    font-size: $font-size--sm;
  }
}
