@import "scss/constants.scss";

.navbar-container {
  background: $black;
  display: flex;
  justify-content: space-between;

  .logout-span {
    cursor: pointer;
  }

  .private-chat-icon {
    color: $white;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 5px;
    position: relative;
  }

  .notification-card {
    background: $red;
    color: $white;
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-container {
    display: flex;
    align-items: center;
  }
}

.navbar {
  display: flex;
  border-bottom: 1px solid $light-grey;
  height: 50px;
  padding: 0 15px;
}
