@import "scss/constants.scss";

$border-radius: 28px;

.navbar-container {
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .log-in-button {
    cursor: pointer;
    margin-right: 10px;
    font-size: 18px;
  }

  .logout-span {
    cursor: pointer;
  }

  .tickets-icon,
  .private-chat-icon {
    position: relative;
    cursor: pointer;
  }

  .profile-icon-container {
    cursor: pointer;
  }

  .notification-card {
    background: $red;
    color: $white;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons-container {
    display: flex;
    align-items: center;
  }

  .button-container {
    .about-button {
      border: 2px solid #ebebeb;
      border-radius: 2em;
      margin-left: 1em;
      margin-right: -1em;
      padding: 0.2em 1em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      letter-spacing: 1.5px;
      vertical-align: middle;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: #ebebeb;
        color: $dark;
      }
    }
  }

  .counter {
    margin-right: 1em;
  }
}

.navbar {
  display: flex;
  height: $navbar-height;
  padding: 0 15px;
  background-color: $dark;

  #sound-cloud-player {
    border: none;
  }
}

.custom-dialog {
  width: 700px;
  max-width: none !important;
}

.nav-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-sparkle-logo,
.nav-sparkle-logo_small {
  position: relative;
  margin-right: 12px;
  &:hover {
    width: 120px;
  }
  &.nav-sparkle-logo_small {
    display: none;
  }
  div {
    position: relative;
    display: block;
    width: 25px;
    height: 35px;
    background-image: url(/assets/icons/sparkle-nav-logo.png);
    background-size: 25px 35px;
    &:before {
      position: absolute;
      content: "";
      opacity: 0;
      pointer-events: none;
      left: 22px;
      width: 108px;
      height: 35px;
      background-image: url(/assets/icons/sparkle-nav-logo-text.png);
      background-size: 108px 35px;
      transform: translateX(-40px) scale(0.75);
      transition: opacity 200ms, transform 400ms $transition-function;
    }
    @keyframes sparklelogoanimate {
      100% {
        background-position: -75px;
      }
    }

    &:hover {
      opacity: 1;
      background-image: url(/assets/icons/sparkle-nav-logo-animate.png);
      background-size: 75px 35px;
      background-position: 0 0;
      animation: sparklelogoanimate 0.4s steps(3) infinite;
      &:before {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0px) scale(1);
      }
    }
    &:active {
      opacity: 0.7;
    }
  }
}
.nav-party-logo {
  position: relative;
  background-color: rgba($white, 0.08);
  height: 60px;
  padding: 0 50px 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 400ms $transition-function;
  border: none;
  appearance: none;
  color: $white;

  img {
    height: 40px;
  }
  &:hover,
  &:focus {
    border: none;
    background-color: rgba($white, 0.14);
    &:after {
      opacity: 0.7;
    }
  }
  &:after {
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 20px;
    background-image: url(/assets/icons/nav-party-logo-icon.png);
    background-size: 20px;
    opacity: 0.4;
    transform: rotate(0deg);
    transition: transform 400ms $transition-function;
  }
  &.clicked {
    &:after {
      transform: rotate(180deg);
    }
  }
  &.slide {
    transform: translateX(110px);
  }
}

.schedule-text {
  background-color: $primary;
  border-radius: 10px;
  margin-left: 8px;
  padding: 0px 10px;
  display: inline-block;
  text-shadow: 0 2px 3px rgb(0 0 0 / 35%);
}

.schedule-dropdown-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: z(navbar-schedule-backdrop);
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: opacity 600ms $transition-function,
    transform 600ms $transition-function;
  opacity: 0;
  pointer-events: none;

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 600px) {
  .schedule-text {
    display: none;
  }
}

@media (max-width: 900px) {
  .nav-search-links {
    display: none;
  }
}

.NavBar {
  &__home-icon {
    cursor: pointer;
    font-size: 24px;

    margin-right: $spacing--md;

    &:hover {
      font-size: 27px;
      margin-right: $spacing--sm;
    }
  }

  &__profile-popover {
    height: 100%;
  }
}
