$side-padding: 30px;
$primary: #7c46fb;
$black: #000000;
$white: #fff;

$gradient: linear-gradient(-124deg, #e15ada 0%, #6f43ff 50%, #00f6d5 100%);

$dark: #1a1d24;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

$sand: #937c63;

.navbar.navbar_playa {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  background-color: rgba($black, 0.2);
  border-bottom: 1px solid rgba($white, 0.2);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  background-color: $sand;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .navbar-logo {
      padding: 14px 20px;
      display: flex;
      width: 500px;
      justify-content: space-between;
      align-items: center;
      img {
        width: 240px;
      }
    }

    .navbar-links {
      padding: 12px 20px;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: flex-end;
      .navbar-link-message,
      .navbar-link-profile,
      .navbar-link-menu {
        display: block;
        height: 40px;
        width: 40px;
        background-color: rgba($black, 0.4);
        border-radius: 20px;
        margin-right: 8px;
        &:hover {
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
        }
        &.navbar-link-message {
          background-image: url(./navbar-link-message.png);
          background-size: 40px 40px;
        }
        &.navbar-link-profile {
          //background-image: url(./navbar-link-profile.png);
          background-size: 40px 40px;
        }
        &.navbar-link-menu {
          background-image: url(./navbar-link-menu.png);
          background-size: 40px 40px;
          background-color: rgba($black, 0);

          &:hover {
            background-color: rgba($black, 0.3);
          }
        }
      }
      .navbar-link-menu {
      }
    }

    .playa-link {
      font-weight: 700;
      letter-spacing: 1.5px;
      font-size: 1.3em;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }

    .navbar-dropdown-middle {
      padding: 0 30px;
      position: relative;
      display: block;
      height: 100%;
      max-width: 500px;
      background-color: transparent;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        height: 16px;
        width: 74px;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url(./navbar-dropdown-middle-after.png);
        background-size: 74px 64px;
      }
      &:hover {
        background-color: darken($sand, 5%);
        &:after {
          background-position: 0 -16px;
        }
      }
      span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 66px;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
      }
    }
  }
}

// Playa
/*
.playa-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url('../img/playa-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Playa Venues

.playa-venue {

  position: absolute;
  z-index: 3;
  top: 50%;
  left: 20%;
  width: 140px;
  cursor: pointer;
  &:hover {
    .playa-venue-text {
      .playa-venue-secondinfo {
        display: block;
      }
    }
    .playa-venue-img {
      box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
      transform: scale(1.05);
    }
  }
  &:active {
    .playa-venue-img {
      transform: scale(1);
    }
  }
  .playa-venue-img {
    position: relative;
    height: 140px;
    width: 100%;
    border-radius: $border-radius;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
    transition: all 400ms cubic-bezier(0.23, 1 ,0.32, 1);
    img {
      width: 100%;
      border-radius: $border-radius;
    }
    .playa-venue-badge {
      height: 30px;
      width: 30px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      border-radius: 50%;
      &.playa-venue-badge-camp {
        background-image: url(./playa-venue-badge-1.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-art {
        background-image: url(./playa-venue-badge-2.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-artist {
        background-image: url(./playa-venue-badge-3.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-artcar {
        background-image: url(./playa-venue-badge-4.png);
        background-size: 30px 30px;
      }
    }
  }

.playa-venue-text {
    position: relative;
    background-color: darken($sand,5%);
    border-radius: 20px;
    margin-top: 10px;
    width: 130%;
    margin-left: -15%;
    height: auto;
    transition: height 400ms cubic-bezier(0.23, 1 ,0.32, 1);

    .playa-venue-maininfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 10px;

      .playa-venue-title {
        display: block;
        line-height: 1;
        font-size: 0.9rem;
      }
      .playa-venue-people {
        position: relative;
        display: block;
        font-size: 0.9rem;
        padding-right: 18px;
        padding-left: 8px;
        border-left: 1px solid rgba($black,0.2);
        &:before {
          content: '';
          display:block;
          position: absolute;
          width: 20px;
          height: 20px;
          right: -2px;
          top: 50%;
          transform: translateY(-50%);
          background-image: url('../img/playa-venue-people.png');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-position: center;
        }
      }
    }


      .playa-venue-secondinfo{
        border-top: 1px solid rgba($black,0.2);
        padding: 6px 10px;
        display: none;
        .playa-venue-desc {
          font-size: 0.7rem;
        }

        .playa-venue-actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 10px;
          font-size: 0.9rem;
          .btn-block {
            margin-bottom: 0;
          }
          .btn-info {
            background-color: rgba($black,0.4);
          }
        }
      }
}


}

// Playa Profile Bubbles

.playa-profile {

  position: absolute;
  z-index: 4;

  height: 50px;
  width: 50px;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba($black,0.4);
  border: 3px solid lighten($sand,5%);
  transition: all 400ms cubic-bezier(0.23, 1 ,0.32, 1);
  background-image: url('../img/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

.playa-profile-video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  video {
    position: absolute;
    height: 100%;
    width: auto;
    transform:  translateX(-50%);
    left: 50%;

  }
}


  &:after {
    position: absolute;
    display: block;
    background-color: $sand;
    padding: 4px 10px;
    font-size: 0.7rem;
    left: 50%;
    bottom:-30px;
    border-radius: 20px;
    content: attr(data-profilename);
    transform:  translateX(-50%) translateY(14px);
    transition: all 200ms cubic-bezier(0.23, 1 ,0.32, 1);
    opacity: 0;
    pointer-events: none;
  }

    &:hover {
      box-shadow: 0 4px 6px 0 rgba(0,0,0,0.2);
      border: 3px solid rgba($white,1);
      transform: scale(1.2);
      .playa-profile-action {
        opacity: 1;

        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          transform: translateX(0px) translateY(0px);
        }
      }
      &:after {
        transform: translateX(-50%) translateY(0px);
        opacity: 1;
      }
    }
    &:active {
      transform: scale(1.1);

    }


    .playa-profile-action {
      position: absolute;
      height: 24px;
      width: 24px;
      z-index: 10;
      background-color: $sand;
      border-radius: 12px;
      background-size: 20px 20px;
      background-position: center;
      transition: opacity 400ms, transform 400ms cubic-bezier(0.23, 1 ,0.32, 1);
      opacity: 0;

      &:hover {
        background-color: darken($sand,5%);
      }
      &.disabled {
        background-color: darken($sand,5%);
      }
      &:nth-child(1) {
        right: 5px;
        top: -22px;
        transform: translateX(-10px) translateY(38px);
      }
      &:nth-child(2) {
        right: -17px;
        top: -8px;
        transform: translateX(-30px) translateY(24px);
        transition-delay: 0.05s;
      }
      &:nth-child(3) {
        right: -22px;
        top: 18px;
        transform: translateX(-40px) translateY(-4px);
        transition-delay: 0.1s;
      }
      &:nth-child(4) {
        right: -22px;
        top: 34px;
      }
      &.playa-profile-action_mic {
        background-image: url(../img/playa-profile-action-mic.png);
      }
      &.playa-profile-action_video {
        background-image: url(../img/playa-profile-action-video.png);
      }
      &.playa-profile-action_chat {
        background-image: url(../img/playa-profile-action-chat.png);
      }
      &.playa-profile-action_groupchat {
        background-image: url(../img/playa-profile-action-groupchat.png);
      }
    }

    &.playa-profile-own {
      border: 3px solid $primary;
      &:after {
        background-color: rgba($primary,0.8);
      }
    }



}

.playa-profile {

  &.playa-profile-1 {
    background-image: url('../img/avatar-axel.jpg');

    top: 50%;
    left: 50%;
  }
  &.playa-profile-2 {
    background-image: url('../img/navbar-link-profile.png');

    top: 30%;
    left: 20%;
  }
  &.playa-profile-3 {
    background-image: url('../img/splash-quote-author-1.png');

    top: 35%;
    left: 25%;
  }
}


// Playa Controls

.playa-controls {

  position: absolute;
  bottom: 30px;
  right: 30px;


  .playa-controls-zoom {
    position: relative;
    background-color: rgba($sand,0.8);
    width: 44px;
    border-radius: 22px;
    height: auto;
    &:before {
      content: '';
      position: absolute;
      width: 60%;
      left: 20%;
      height: 1px;
      background-color: rgba($black,0.3);
      top: 50%;
    }
    .playa-controls-zoom-in,.playa-controls-zoom-out{
      position: relative;
      display: block;
      cursor: pointer;
      height: 44px;
      width: 100%;
      background-image: url('../img/playa-controls-zoom-in.png');
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1 ,0.32, 1);

      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
      &.playa-controls-zoom-out {
        background-image: url('../img/playa-controls-zoom-out.png');

      }
    }
  }
  .playa-controls-shout {
    background-color: rgba($sand,0.8);
    width: 44px;
    height: 44px;

    border-radius: 22px;
    margin-top: 6px;
    cursor: pointer;

    .playa-controls-shout-btn {
      height: 100%;
      width: 100%;
      background-image: url('../img/playa-controls-shout.png');
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1 ,0.32, 1);
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }

  }
}

@media (max-width: 600px) {

}
*/
