<html class="no-js">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

				<title>Sparkleverse Playa</title>

				<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/playa.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

		<script type="text/javascript">

		function parallax(){
			var scrolled = $(window).scrollTop();
			$('.splash-demoscreen').css('transform', 'translateY(' + (scrolled * -0.2) + 'px)');
		}

		$(window).scroll(function() {
				parallax();
		});
			$( document ).ready(function() {



		});



		</script>
	</head>
  <body>

		<div class="navbar navbar_playa">
			<div class="navbar-container">
				<div class="navbar-logo">
					<a href="#">
						<img src="./img/sparkleverse-logo.png" alt="Logo" class="logo-img">
					</a>
				</div>
				<div class="navbar-dropdown-middle">
					<span>136 Venues open now / 865 burners live</span>
				</div>
				<div class="navbar-links">
					<a href="#" class="navbar-link-message"></a>
					<a href="#" class="navbar-link-profile"></a>
					<a href="#" class="navbar-link-menu"></a>
				</div>
			</div>

		</div>



		<div class="playa-container">

			<div class="playa-controls">
				<div class="playa-controls-zoom">
					<div class="playa-controls-zoom-in"></div>
					<div class="playa-controls-zoom-out"></div>
				</div>
				<div class="playa-controls-shout">
					<div class="playa-controls-shout-btn"></div>
				</div>

			</div>

			<div class="playa-content">
				<div class="playa-profile playa-profile-1" data-profilename="Arthur14">
					<div class="playa-profile-action playa-profile-action_chat"></div>
				</div>
				<div class="playa-profile playa-profile-2 playa-profile-own" data-profilename="jesserbrt">
					<div class="playa-profile-action playa-profile-action_mic"></div>
					<div class="playa-profile-action playa-profile-action_video"></div>
					<div class="playa-profile-action playa-profile-action_groupchat"></div>


					<div class="playa-profile-video-container">
						<video  autoplay>
					  <source src="./img/profile-cam.mp4" type="video/mp4">
					</video>

					</div>

				</div>
				<div class="playa-profile playa-profile-3" data-profilename="Sofi">
					<div class="playa-profile-action playa-profile-action_chat"></div>
				</div>


				<div class="playa-venue playa-venue-1">
					<div class="playa-venue-img">
						<div class="playa-venue-badge playa-venue-badge-camp">

						</div>
						<img src="./img/playa-venue-img-1.png" alt="">
					</div>
					<div class="playa-venue-text">
						<div class="playa-venue-maininfo">
							<div class="playa-venue-title">The Newbie Campfire</div>
							<div class="playa-venue-people">22</div>
						</div>
						<div class="playa-venue-secondinfo">
							<div class="playa-venue-desc">
							Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Aenean lacinia bibendum nulla sed consectetur.
						</div>
							<div class="playa-venue-actions">
								<a href="#" class="btn btn-block btn-small btn-info">&#9432;</a>

								<a href="#" class="btn btn-block btn-small btn-primary">Join the Room</a>
							</div>
						</div>

					</div>
				</div>

		</div>







  </body>
