@import "scss/constants";

.PosterHall {
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  &__sponsor-logo {
    width: 100px;
  }

  &__posters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__related {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__more-button {
    display: flex;
    justify-content: center;
  }

  &__categories {
    display: flex;
    justify-content: center;
    margin: $spacing--md;
    flex-wrap: wrap;
  }

  &__category {
    font-size: $font-size--sm;
    cursor: pointer;
    text-transform: capitalize;
  }

  &__subcategories {
    display: flex;
    justify-content: center;
    margin: $spacing--xs;
    flex-wrap: wrap;
  }

  &__subcategory {
    font-size: $font-size--xxs;
    cursor: pointer;
    text-transform: capitalize;
  }
}
