@import "scss/constants";

.PosterHall {
  &__posters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  &__more-button {
    display: flex;
    justify-content: center;
  }

  &__categories {
    display: flex;
    justify-content: center;
    margin: $spacing--md;
    flex-wrap: wrap;
  }

  &__category {
    font-size: $font-size--sm;
    cursor: pointer;
    text-transform: capitalize;
  }
}
