.playa-background {
  &.daypart-morning {
    filter: hue-rotate(0deg) brightness(0.6);
  }
  &.daypart-day {
    filter: hue-rotate(0deg) brightness(1);
  }
  &.daypart-evening {
    filter: hue-rotate(340deg) brightness(0.6);
  }
  &.daypart-night {
    filter: hue-rotate(210deg) brightness(0.3);
  }
}
