@import "scss/constants.scss";

$sand: #937c63;
$playa-mode-badge-size: 24px;
$playa-mode-badge-icon-size: 12px;
$playa-profile-name-size: 60px;

.playa-userlist {
  margin: 10px 80px;
}

.playa-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex: 1;

  .map-container {
    margin-top: 0;
    position: relative;
    transform-origin: top left;
    width: $playa-width-and-height;
    height: $playa-width-and-height;

    .avatar {
      position: absolute;
      border-radius: 50%;
      width: $playa-avatar-size;
      height: $playa-avatar-size;
      z-index: 1;

      &:hover {
        transform: scale(1.2);
      }

      .profile-image {
        width: 100%;
        background-color: $profile-image-bg-color;
      }
      .border-helper {
        border-radius: inherit;
        height: 100%;
        overflow: hidden;
        background-color: $profile-image-bg-color;
      }
      &.me {
        background: $gradient;
        padding: 2px;
        width: $playa-avatar-size * 1.5;
        height: $playa-avatar-size * 1.5;
      }
      &.they {
        border: 2px solid white;
        background: $sand;
        .avatar-name-container {
          top: -9px;
        }
      }
    }

    .avatar-small {
      position: absolute;
      display: flex;
      justify-self: center;
      justify-content: center;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      z-index: 1;
      overflow: hidden;

      &:hover {
        transform: scale(1.2);
      }

      .profile-image {
        width: 100%;
        background-color: $profile-image-bg-color;
      }

      &.me {
        background: $gradient;
        padding: 2px;

        .border-helper {
          background: $sand;
          border-radius: inherit;
          height: 100%;
          overflow: hidden;
        }
      }
      &.they {
        border: 2px solid white;
        background: $sand;
      }
    }

    .chatzone {
      position: absolute;
      border-radius: 50%;
      width: $playa-avatar-size * 3;
      height: $playa-avatar-size * 3;
      display: none;

      &.open-me {
        display: block;
        width: $playa-avatar-size * 4.5;
        height: $playa-avatar-size * 4.5;
        -webkit-animation: blinkingBackground 2s infinite; /* Safari 4+ */
        -moz-animation: blinkingBackground 2s infinite; /* Fx 5+ */
        -o-animation: blinkingBackground 2s infinite; /* Opera 12+ */
        animation: blinkingBackground 2s infinite; /* IE 10+, Fx 29+ */

        @keyframes blinkingBackground {
          25% {
            background-color: $chat-open;
          }
          50% {
            background-color: transparent;
          }
          75% {
            background-color: $chat-open;
          }
          100% {
            background-color: transparent;
          }
        }
      }

      &.open-other {
        display: block;
      }

      &.busy {
        display: block;
        background-color: $chat-busy;
      }
      &.busy-me {
        display: block;
        width: $playa-avatar-size * 4.5;
        height: $playa-avatar-size * 4.5;
        -webkit-animation: blinkingBusyBackground 2s infinite; /* Safari 4+ */
        -moz-animation: blinkingBusyBackground 2s infinite; /* Fx 5+ */
        -o-animation: blinkingBusyBackground 2s infinite; /* Opera 12+ */
        animation: blinkingBusyBackground 2s infinite; /* IE 10+, Fx 29+ */

        @keyframes blinkingBusyBackground {
          25% {
            background-color: $chat-busy-me;
          }
          50% {
            background-color: transparent;
          }
          75% {
            background-color: $chat-busy-me;
          }
          100% {
            background-color: transparent;
          }
        }
      }

      &.me.locked {
        display: block;
        width: $playa-avatar-size * 4.5;
        height: $playa-avatar-size * 4.5;
        background-color: $chat-closed;
      }
      &:hover {
        transform: scale(1.2);
      }
    }
    .video_chat-status {
      position: absolute;
      top: -18px;
      top: -29px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      display: flex;
      border-radius: 10px;
      font-size: 9px;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      padding: 3px 8px;
    }

    .avatar-name-container {
      position: absolute;
      top: -7px;
      left: 50%;
      transform: translate(-50%, 0);
      display: flex;
      border-radius: 10px;
      font-size: 8px;
      justify-content: center;
      align-items: center;
      height: $playa-mode-badge-size / 2;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
      color: white;
      overflow: hidden;
      white-space: nowrap;
      padding: 3px;
    }

    .mode-badge {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: $playa-mode-badge-size;
      height: $playa-mode-badge-size;
      background-color: white;
      z-index: 1;
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: $playa-mode-badge-icon-size;
        height: $playa-mode-badge-icon-size;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 3px;
      }

      &.bike:before {
        background-image: url("./img/avatar-bike.png");
      }
      &.walk:before {
        background-image: url("./img/avatar-walk.png");
      }
    }

    $fireColor: rgb(255, 80, 0);
    $fireColorT: rgba(255, 80, 0, 0);
    $dur: 1s;
    $blur: 0.02em;
    $fireRad: 3em;
    $parts: 50;
    $partSize: 5em;

    .playa-icon {
      position: absolute;
      z-index: 4;
      height: 175px;
      width: 213px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      top: 50%;
      left: 40%;

      &.clickable {
        cursor: pointer;
      }

      &.playa-icon1 {
        background-image: url("./img/playa-icon1.png");
      }
      &.playa-icon2 {
        background-image: url("./img/playa-icon2.png");
      }
      &.playa-icon3 {
        background-image: url("./img/playa-icon3.png");
      }
      &.playa-icon4 {
        background-image: url("./img/playa-icon4.png");
      }
      &.playa-icon5 {
        background-image: url("./img/playa-icon5.png");
        width: 300px;
        height: 232px;
      }

      .clickable-banner {
        position: absolute;
        top: -41px;
        left: -62px;
        width: 400px;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        height: auto;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        padding: 6px 10px;
        font-weight: 500;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-size: 40px;
      }
    }
    .fire {
      font-size: 24px;
      filter: blur($blur);
      -webkit-filter: blur($blur);
      margin: -4em auto 0 auto;
      position: relative;
      width: 10em;
      height: 12em;
      opacity: 0.8;
    }
    .particle {
      animation: rise $dur ease-in infinite;
      background-image: radial-gradient($fireColor 20%, $fireColorT 70%);
      border-radius: 50%;
      mix-blend-mode: screen;
      opacity: 0;
      position: absolute;
      bottom: 0;
      width: $partSize;
      height: $partSize;
      // spread particles out in time and x-position to get desired effect
      @for $p from 1 through $parts {
        &:nth-of-type(#{$p}) {
          animation-delay: $dur * random();
          left: calc((100% - #{$partSize}) * #{($p - 1) / $parts});
        }
      }
    }
    @keyframes rise {
      from {
        opacity: 0;
        transform: translateY(0) scale(1);
      }
      25% {
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: translateY(-10em) scale(0);
      }
    }
  }

  .playa-background {
    display: flex;
    flex: 1;
  }

  .venue {
    width: $playa-venue-size;
    height: $playa-venue-size;
    cursor: pointer;
    position: relative;
    background: rgba($sand, 0.2);
    border: 2px solid rgba($sand, 0.2);
    border-radius: 25%;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    opacity: 0.75;

    &.sized {
      background: none;
      border: none;
      transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        transform: scale(1.05);
      }
    }

    .venue-icon {
      max-width: 100%;
      max-height: 100%;
    }

    .selected {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      animation: ripple 4s linear infinite;
      border-radius: 25%;
      opacity: 1;
    }

    &.live {
      border: 2px solid $playa-venue-live;
      box-shadow: 0 0 5px 5px $playa-venue-live;
      opacity: 1;
    }
  }

  .button-bar {
    position: fixed;
    top: 80px;
    left: 20px;

    .button {
      width: 44px;
      height: 44px;
      margin: 11px;
      border-radius: 50%;
      background-color: #ffffff33;
      position: relative;
      cursor: pointer;

      &:active,
      &.active {
        background-color: #ffffff99;
      }

      .icon {
        position: absolute;
        width: 44%;
        height: 44%;
        left: 28%;
        top: 28%;
        color: #999999;

        &:active {
          color: #fff;
        }
      }
    }
  }
  .sparkle-fairies {
    position: fixed;
    top: calc(#{$navbar-height} + 25px);
    left: 0px;
  }
  .create-edit-pop-up {
    position: fixed;
    top: 210px;
    left: 0;
  }
  .donate-pop-up {
    position: fixed;
    top: 329px;
    left: 0px;
  }
  .chat-pop-up {
    position: fixed;
    right: 0px;
    top: $navbar-height * 2;
  }

  .shout {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: none;
    font-size: 44px;
    position: absolute;
    border-radius: 22px;
    padding: 6px 10px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 22px;
    z-index: 2;
    padding-left: 44px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 44px;
      height: 44px;
      left: 6px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("./img/playa-controls-shout.png");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: center;
    }
  }
}

.playa-venue-text {
  position: relative;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-top: 10px;
  width: 110%;
  margin-left: -15%;
  height: auto;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

  .playa-venue-maininfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    .playa-venue-title {
      display: block;
      line-height: 1;
      font-size: 0.8rem;
    }
    .playa-venue-people {
      position: relative;
      display: block;
      font-size: 0.8rem;
      padding-right: 18px;
      padding-left: 8px;
      border-left: 1px solid rgba($black, 0.2);
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        right: -2px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("./img/playa-venue-people.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
      }
    }
    .playa-user-title {
      display: block;
      line-height: 1;
      font-size: 0.9rem;
      padding-left: 24px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        left: 6px;
        top: 50%;
        transform: translateY(-50%);
        background-image: url("./img/playa-venue-people.png");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: center;
      }
    }
  }

  .playa-venue-secondinfo {
    border-top: 1px solid rgba($black, 0.2);
    padding: 6px 10px;
    display: none;
    .playa-venue-desc {
      font-size: 0.7rem;
    }

    .playa-venue-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
      font-size: 0.9rem;
      .btn-block {
        margin-bottom: 0;
      }
      .btn-info {
        background-color: rgba($black, 0.4);
      }
    }
  }
}

.playa-menu {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-top: 10px;
  width: 110%;
  margin-left: 50%;
  height: auto;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 0.8rem;
  text-align: center;
  overflow: hidden;

  .prompt {
    padding: 14px 12px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    white-space: pre-wrap;
  }

  .choices {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 0;

    .choice {
      padding: 14px 12px;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      font-weight: 700;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      white-space: pre-wrap;

      &:hover {
        background: rgba($sand, 0.5);
      }
    }
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($ripple-color, 0.4),
      0 0 0 0.25em rgba($ripple-color, 0.4),
      0 0 0 0.75em rgba($ripple-color, 0.4),
      0 0 0 1.25em rgba($ripple-color, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0.5em rgba($ripple-color, 0.4),
      0 0 0 0.75em rgba($ripple-color, 0.4),
      0 0 0 1.25em rgba($ripple-color, 0.4), 0 0 0 2em rgba($ripple-color, 0);
  }
}
.link-button {
  display: inline-block;
  color: white !important;
  padding: 10px;
  border: solid 1px white;
  font-size: 13px;
  text-decoration: none !important;
}

// Playa Controls

.playa-controls {
  position: absolute;
  bottom: 30px;
  right: 30px;

  .playa-controls-recenter {
    background-color: rgba($sand, 0.8);
    width: 44px;
    height: 44px;

    border-radius: 22px;
    margin-bottom: 6px;
    cursor: pointer;

    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), visibility 0s,
      opacity 0.5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    &.show {
      visibility: visible;
      opacity: 1;
    }

    .playa-dust-storm-btn {
      z-index: 2000;
      height: 100%;
      width: 100%;
      background-image: url("./img/pickspace-thumbnail_camp.png");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }

    .playa-dust-storm-btn-activated {
      z-index: 2000;
      height: 100%;
      width: 100%;
      background-image: url("./img/pickspace-thumbnail_camp.png");
      background-size: 20px 20px;
      background-position: center center;
      border-radius: 22px;
      background-repeat: no-repeat;
      border: solid 5px red;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }

    .playa-controls-recenter-btn {
      height: 100%;
      width: 100%;
      background-image: url("./img/playa-controls-recenter.png");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }
  }

  .playa-controls-bikemode {
    background-color: rgba($sand, 0.8);
    width: 44px;
    height: 44px;

    border-radius: 22px;
    margin-bottom: 6px;
    cursor: pointer;

    .playa-controls-bikemode-btn {
      height: 100%;
      width: 100%;
      background-image: url("./img/playa-controls-walk.png");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }

      &.bike {
        background-image: url("./img/playa-controls-bike.png");
      }
    }
  }

  .playa-controls-zoom {
    position: relative;
    background-color: rgba($sand, 0.8);
    width: 44px;
    border-radius: 22px;
    height: auto;
    &:before {
      content: "";
      position: absolute;
      width: 60%;
      left: 20%;
      height: 1px;
      background-color: rgba($black, 0.3);
      top: 50%;
    }
    .playa-controls-zoom-in,
    .playa-controls-zoom-out {
      position: relative;
      display: block;
      cursor: pointer;
      height: 44px;
      width: 100%;
      background-image: url("./img/playa-controls-zoom-in.png");
      background-size: 20px 20px;
      background-position: center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
      &.disabled {
        opacity: 0.4;
        &:hover {
          transform: none;
        }
      }
      &.playa-controls-zoom-out {
        background-image: url("./img/playa-controls-zoom-out.png");
      }
    }
  }
  .playa-controls-shout {
    background-color: rgba($sand, 0.8);
    width: 44px;
    height: 44px;

    border-radius: 22px;
    margin-top: 6px;
    cursor: pointer;

    .playa-controls-shout-btn {
      height: 100%;
      width: 100%;
      background-image: url("./img/playa-controls-shout.png");
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }
  }
  .playa-controls-shout-text {
    position: absolute;
    right: 50px;
    bottom: 0;
    width: 300px;
    background-color: rgba($sand, 0.8);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: left;

    &:focus {
      box-shadow: 0 0 0 2px $sand;
    }
    &::placeholder {
      color: rgba(white, 0.8);
    }
  }
}

.avatar-controls {
  .up,
  .down,
  .left,
  .right {
    background-color: rgba($sand, 0.8);
    width: 44px;
    height: 44px;

    border-radius: 22px;
    margin-top: 6px;
    cursor: pointer;

    position: absolute;

    .btn {
      height: 100%;
      width: 100%;
      background-size: 20px 20px;
      background-position: center center;
      background-repeat: no-repeat;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        transform: scale(1.2);
      }
      &:active {
        transform: scale(1);
      }
    }
  }

  .up {
    left: 80px;
    bottom: 130px;
    .btn {
      background-image: url("./img/avatar-controls-up.png");
    }
  }
  .down {
    left: 80px;
    bottom: 30px;
    .btn {
      background-image: url("./img/avatar-controls-down.png");
    }
  }
  .left {
    left: 30px;
    bottom: 80px;
    .btn {
      background-image: url("./img/avatar-controls-left.png");
    }
  }
  .right {
    left: 130px;
    bottom: 80px;
    .btn {
      background-image: url("./img/avatar-controls-right.png");
    }
  }
}

.playa-banner {
  position: fixed;
  z-index: 1;
  text-align: center;
  background-image: linear-gradient(
    124deg,
    #00f6d5 0%,
    #6f43ff 50%,
    #e15ada 100%
  );
  width: 100%;
}

.img-vcenter-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.playa-slider {
  height: 10px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='10'><path d='M0 2 h30 M0 5 h30 M0 8 h30' fill='none' stroke='lightgrey'/></svg>");
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  background-color: rgba($dark, 0.8);
  cursor: row-resize;

  &.show {
    display: block;
  }
}

.playa-videochat {
  overflow: hidden;
  display: none;

  &.show {
    display: block;
  }

  .room {
    display: flex;

    .participant {
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 100%;

      .mirrored {
        transform: scale(-1, 1);
      }

      video {
        height: 100%;
        min-height: 100%;
      }
      .name {
        position: absolute;
        bottom: 0;
        left: 0;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        padding: 4px 10px 4px 4px;
        border-top-right-radius: 10px;
        cursor: pointer;
      }

      .leave,
      .remove {
        position: absolute;
        top: 0;
        right: 0;
        height: 40px;
        background-color: rgba($sand, 0.8);
        border-bottom-left-radius: 22px;
      }

      .leave {
        width: 40px;
        border-radius: 50%;
        margin: 4px;

        .btn {
          background-image: url("./img/playa-controls-exit.png");
        }
      }

      .remove {
        font-weight: 500;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
        padding: 8px;
        cursor: pointer;
      }

      .av-controls {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 4px;
        text-align: center;

        .mic,
        .audio,
        .camera,
        .video {
          width: 40px;
          height: 40px;
          margin: 0 4px;
          background-color: rgba($sand, 0.8);
          border-radius: 50%;
          display: inline-block;
        }

        .mic,
        .audio {
          .btn.on {
            background-image: url("./img/playa-controls-audio-on.png");
          }
          .btn.off {
            background-image: url("./img/playa-controls-audio-off.png");
          }
        }

        .camera,
        .video {
          .btn.on {
            background-image: url("./img/playa-controls-video-on.png");
          }
          .btn.off {
            background-image: url("./img/playa-controls-video-off.png");
          }
        }
      }

      .btn {
        height: 100%;
        width: 100%;
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
        &:hover {
          transform: scale(1.2);
        }
        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
