@import "scss/constants.scss";
.playa-venue-preview-container {
  padding-bottom: 30px;

  & > .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    object-fit: cover;
    margin: 0 -15px;
    border-radius: 22px;

    .img-venue {
      position: absolute;
      top: 30px;
      right: 20px;
      height: 70px;
      width: 70px;
    }

    .title-container {
      display: flex;
      width: 100%;
      padding: 0 22px;
      align-items: flex-end;

      .host-icon {
        width: 25%;
        border-radius: 22px;
        margin-right: 30px;
      }

      .title-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        .subtitle,
        .template-name {
          margin-bottom: 0;
          .red {
            color: red;
          }
        }
      }

      .join-button,
      .hide-button {
        flex: 0 0 auto;
        align-self: flex-end;
      }

      .hide-button {
        margin-top: 12px;
      }
    }
  }

  & > .user-list-container {
    margin-top: 30px;
  }

  & > .description {
    margin-top: 30px;
  }

  & > .schedule-container {
    margin-top: 30px;
  }

  & > .address {
    margin: 20px 0;
  }
}

.modal-content .venue-hidden-content {
  text-align: center;
  white-space: pre-wrap;
}
