.video_chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}
.video_chat-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.video_chat-title {
  margin: 0 20px 0 20px;
}
.video_chat-room_container {
  flex: 1;
  display: flex;
}
