@import "../../constants";

$question-container-gap: 0.7rem;
$question-answer-gap: 4px;
$question-answer-gap-editable: 0.7rem;
$question-color: rgba(255, 255, 255, 0.6);

.ProfileModalQuestions {
  &__question-container {
    margin-bottom: $question-container-gap;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__answer {
    margin-top: $question-answer-gap;
  }
  &__answer-input {
    @include ProfileModalInput;
    margin-top: $question-answer-gap-editable;
  }
  &__question {
    color: $question-color;
    margin-bottom: 0;
  }
}
