.UIShoutouter {
  position: absolute;
  right: 68px;
  bottom: 22px;
  z-index: 200;
  width: 287px;
  height: 34px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  pointer-events: all;
  border-radius: 17px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.15);

  & input {
    flex: 3 2 10px;
    width: 257px;
    text-align: left;
    background: transparent;
  }
  & input:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  & div {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    border: none;
    background: transparent;
    flex: 0;
    min-width: 25px;
    min-height: 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: auto;
    & img {
      height: 1em;
      margin: 0px;
      opacity: 0.5;
    }
    &:hover img {
      opacity: 0.7;
    }
  }
}
