@use "components/attendee/scss/AttendeeVariables.scss";
@use "components/attendee/scss/AttendeeMixins.scss";

.componentMediaObject {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 50;
  padding: 21px 6px 0;
  margin-top: 21px;
  margin-bottom: 42px;
  height: min-content;
}

.video {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  @media (min-width: 768px) {
    margin-left: AttendeeVariables.$button-height;
    transition: max-width 0.2s ease;
  }

  // This is needed to force the video to size correctly and so display
  &:before {
    content: " ";
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 56.25%;
  }

  &__expanded {
    max-width: 960px;
  }
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include AttendeeMixins.rounded;
  overflow: hidden;
}

.mediaControls {
  display: none;
  position: relative;
  margin-top: AttendeeVariables.$button-gap * -1;
  width: AttendeeVariables.$button-height;
  flex-direction: column;
  justify-self: start;
  margin-left: AttendeeVariables.$whitespace;
  @media (min-width: 768px) {
    display: flex;
  }
  svg {
    @include AttendeeMixins.atom-icon;
    opacity: AttendeeVariables.$opacity;
    @media (prefers-color-scheme: dark) {
      filter: invert(1);
    }
    border-radius: 0;
    width: AttendeeVariables.$button-height;
    position: relative;
  }
}

.componentSpaceInfo {
  text-align: center;
  padding: 0 AttendeeVariables.$whitespace * 2;
  margin: 0 auto;
  width: 100%;
  // TODO Decide why this is 416..
  max-width: 416px;
  h1 {
    font-size: 23px;
  }
}
