@use "scss/attendee/variables.scss";

.componentSpaceInfo {
  text-align: center;
  padding: 0 variables.$whitespace * 2;
  margin: 0 auto;
  width: 100%;
  // TODO Decide why this is 416..
  max-width: 416px;
  h1 {
    font-size: variables.$font-size-large;
    font-weight: variables.$font-weight-normal;
  }
}
