@import "scss/constants";

$infoTab-position-top: 188px;
$infoTab-width: 70px;
$infoTab-width-expanded: 464px;
$infoTab-body-margin-top: 56px;

$infoTab-logo-width: 50px;
$infoTab-logo-height: $infoTab-logo-width;
$infoTab-logo-width-expanded: 124px;
$infoTab-logo-height-expanded: $infoTab-logo-width-expanded;

.InfoTab {
  position: fixed;
  top: $infoTab-position-top;
  z-index: z(left-column);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: $infoTab-width;
  padding: $spacing--md;

  background: $dark;
  box-shadow: 0 0 30px $black;
  border-radius: 0 $border-radius--xl $border-radius--xl 0;
  cursor: pointer;

  font-family: Rubik, sans-serif;

  &--expanded {
    align-items: flex-start;
    width: $infoTab-width-expanded;
    padding: $spacing--xl $spacing--xxl $spacing--xxl $spacing--xxl;
  }

  &__title {
    font-weight: bold;
    font-size: $font-size--xxl;
    line-height: $spacing--xxl;
    margin: 0 auto;
  }

  &__body {
    display: flex;
    flex-direction: row;
    margin-top: $infoTab-body-margin-top;

    font-size: $font-size--md;
    line-height: $spacing--lg;
  }

  &__bodyRight {
    margin: $spacing--xs 0 0 $spacing--xxl;
  }

  &__subtitle {
    font-weight: $font-weight--300;
    font-size: $font-size--xl;
    line-height: $spacing--xl;
  }

  &__userList {
    margin-top: $spacing--md;

    & > .UserList__label {
      align-items: flex-start;

      & > p {
        margin-bottom: 0;
      }
    }

    & > .UserList__avatars {
      justify-content: flex-start;
    }
  }

  &__description {
    margin-top: $spacing--xxl;
  }

  &__chevronWrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: $spacing--xs;
  }

  &__chevron {
    transition: all 0.2s linear;

    &--turned {
      transform: rotate(-180deg);
    }
  }

  &__logoWrapper {
    & > .InfoTab__logo {
      width: $infoTab-logo-width;
      height: $infoTab-logo-height;
      border-radius: $border-radius--max;
      object-fit: cover;

      &--expanded {
        width: $infoTab-logo-width-expanded;
        height: $infoTab-logo-height-expanded;
        border-radius: $border-radius--lg;
      }
    }
  }
}
