@import "scss/constants.scss";

.map-container {
  margin-top: 20px;
  position: relative;

  .map-image {
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .room-image {
    width: 100%;
  }
}
.sparkle-fairies {
  position: fixed;
  top: 160px;
  left: 0px;
}
.info-drawer-camp {
  position: fixed;
  top: 40px;
  left: 0px;
}
.chat-pop-up {
  position: fixed;
  right: 0px;
  top: calc(#{$navbar-height} + 15px);
}
