@import "scss/constants.scss";
$sand: #937c63;
$border-radius: 28px;

.map-container {
  margin-top: 20px;
  position: relative;

  .map-image {
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .room-image {
    width: 100%;
  }
}
.sparkle-fairies {
  position: fixed;
  top: 160px;
  left: 0px;
}
.info-drawer-camp {
  position: fixed;
  top: 40px;
  left: 0px;
}
.chat-pop-up {
  position: fixed;
  right: 0px;
  top: calc(#{$navbar-height} + 15px);
}

.playa-venue {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    .playa-venue-text {
      display: block;
    }
    .playa-venue-img {
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.05);
    }
  }

  &.clicked {
    .playa-venue-text {
      .playa-venue-secondinfo {
        display: block;
      }
    }
  }
  &:active {
    .playa-venue-img {
      transform: scale(1);
    }
  }
  .playa-venue-img {
    position: relative;
    // height: 140px;
    width: 100%;
    height: 100%;
    //border-radius: $border-radius;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    img {
      width: 100%;
      height: 100%;
      //border-radius: $border-radius;
    }
    .playa-venue-badge {
      height: 30px;
      width: 30px;
      position: absolute;
      bottom: 10px;
      left: 10px;
      border-radius: 50%;
      &.playa-venue-badge-camp {
        //background-image: url(../img/playa-venue-badge-1.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-art {
        //background-image: url(../img/playa-venue-badge-2.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-artist {
        //background-image: url(../img/playa-venue-badge-3.png);
        background-size: 30px 30px;
      }
      &.playa-venue-badge-artcar {
        //background-image: url(../img/playa-venue-badge-4.png);
        background-size: 30px 30px;
      }
    }
  }

  .playa-venue-text {
    z-index: 200;
    position: relative;
    background-color: darken($sand, 5%);
    border-radius: 20px;
    margin-top: 10px;
    width: 130%;
    min-width: 280px;
    margin-left: -15%;
    height: auto;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    display: none;
    .playa-venue-maininfo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 10px;

      .playa-venue-title {
        display: block;
        line-height: 1;
        font-size: 0.9rem;
      }
      .playa-venue-people {
        position: relative;
        display: block;
        font-size: 0.9rem;
        padding-right: 18px;
        padding-left: 8px;
        border-left: 1px solid rgba($black, 0.2);
        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          right: -2px;
          top: 50%;
          transform: translateY(-50%);
          //background-image: url('../img/playa-venue-people.png');
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-position: center;
        }
      }
    }

    .playa-venue-secondinfo {
      border-top: 1px solid rgba($black, 0.2);
      padding: 6px 10px;
      display: none;
      .playa-venue-desc {
        font-size: 0.7rem;
        z-index: 2;
      }

      .playa-venue-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 0.9rem;
        .btn-block {
          margin-bottom: 0;
        }
        .btn-info {
          background-color: rgba($black, 0.4);
        }
      }
    }
  }
}
