.map-container {
  margin-top: 20px;
  position: relative;

  .map-image {
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .room-image {
    width: 100%;
  }
}
.sparkle-fairies {
  position: fixed;
  top: 330px;
  left: 27px;
}
.chat-pop-up {
  position: fixed;
  height: calc(100% - 50px);
  right: 0px;
  top: 132px;
}
