@import "scss/constants.scss";

.MobileWarning {
  background-color: #f2db5f;
  color: black;
  z-index: z(mobile-warning);
  position: fixed;
  top: $navbar-height;
  width: 100%;
  padding: $spacing--md;
  display: flex;
  flex-direction: row;
  font-weight: $font-weight--500;

  &__icon {
    margin-right: $spacing--sm;
  }

  &__message {
    flex: 1;
  }

  @media (min-width: $media-breakpoint--md) {
    display: none;
  }
}
