@use "scss/attendee/space.scss";
@use "scss/attendee/theme.scss";

.tuner {
  background-color: rgba(0, 0, 0, 0.3);
  padding: space.empty(2);
  margin: 0 auto space.empty(1) auto;
  width: fit-content;
  position: relative;

  label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    color: #fff;
    margin-bottom: space.empty(1);
  }

  // Custom input styling from https://moderncss.dev/pure-css-custom-styled-radio-buttons/
  input[type="radio"] {
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: rgba(255, 255, 255, 0.16);
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    width: 1rem;
    height: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;

    margin-top: space.gap(2);
    margin-right: space.gap(7);

    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    box-shadow: inset 1em 1em var(--sparkle--bg);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
}

.divider {
  background: rgba(255, 255, 255, 0.14);
  height: 1px;
  width: 100%;
  margin: space.empty(2) 0 space.empty(2) 0;
}

.close {
  cursor: pointer;
  position: absolute;
  right: space.empty(2);
  color: #fff;
  svg {
    margin-left: space.gap(2);
  }
}

.endControls {
  display: flex;
  flex-direction: row-reverse;
  gap: space.gap(5);
}
