@use "scss/attendee/font.scss";
@use "scss/attendee/space.scss";

.multimediaBanner {
  font-size: font.$size--xl;
  margin-right: space.empty(1);
  svg {
    margin-right: space.empty(1);
  }
}

.tuneHint {
  margin-right: space.empty(1);
}
