@import "scss/constants.scss";

$text-height: font-size--parent(1);

.AdminDateTime {
  display: flex;
  flex-direction: column;

  margin-top: $spacing--xs;
  margin-bottom: $spacing--xs;

  &__error,
  &__subtext,
  &__supertext {
    display: block;
  }

  &__error {
    color: var(--danger--under);
  }

  &__subtext,
  &__supertext {
    margin: $spacing--xs 0 $spacing--md;
    padding: 0;
    color: var(--content--over-50a);
    place-content: center start;
    min-height: $text-height;
    line-height: $text-height;
    font-size: $text-height * 0.9;
  }

  &__inputs {
    display: inline-flex;
    gap: font-size--parent(1);

    > * {
      width: 50%;
    }
  }

  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: $spacing--sm $spacing--xs;
  }

  input#{&}--error {
    border: 1px solid var(--danger--under);
  }

  input:focus#{&}--error {
    box-shadow: 0 0 0 2px var(--danger--under);
  }
}
