@use "scss/attendee/font";
@use "scss/attendee/opacity";
@use "scss/attendee/space";
@use "scss/attendee/theme";

.chatMessageInfo {
  display: flex;

  svg {
    opacity: opacity.$md;
    // Slight alignment tweak
    margin-top: 3px;
    margin-left: space.empty(0.5);
  }
}

.messageTime {
  font-size: font.$size--xs;
  opacity: opacity.$md;
}

.isMine {
  justify-content: right;
}

.authorName {
  margin-top: 0;
  margin-bottom: 0;
  font-size: font.$size--xs;
}
