@import "scss/constants.scss";

$dialog-max-width: 1000px;
$dialog-background-color: #232225;

$footer-section-gap: 4rem;
$footer-margin: 5rem;
$footer-info-containers-gap: 3rem;

.CallARangerModal {
  .modal-dialog {
    max-width: unset;
    width: auto;
  }
  .modal-content {
    padding: 0;
    max-width: $dialog-max-width;
    width: auto;
    background-color: $dialog-background-color;
  }

  &__header {
    position: relative;
    object-fit: contain;
    background: black;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: $footer-section-gap;
    margin: $footer-margin;

    &-info-container {
      gap: $footer-info-containers-gap;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
  }
}
