@import "scss/constants";

$reactionOffset: calc(-1 * #{$persistentReactionSize} / 3);
$shoutBounceTranslateXOffset: 50%;

.UserPersistentReaction {
  // Note: we need this to ensure the reactions use this container for their positioning
  position: relative;

  // Ensure persistent reactions are positioned 'on bottom' of the element rendered before it (eg. UserAvatar)
  top: -100%;

  width: 100%;
  height: 100%;

  .UserPersistentReaction__reaction {
    right: $reactionOffset;
  }

  &__reaction {
    position: absolute;
    bottom: $reactionOffset;

    z-index: z(user-persistent-reaction-emoji);

    font-size: $persistentReactionSize;

    animation: reaction-pulse 5s ease-in-out infinite;
  }
}

@keyframes reaction-pulse {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.7);
  }
}
