@import "scss/constants";

$counterparty-text-border-radius: 28px 28px 28px 4px;
$my-text-border-radius: 28px 28px 4px 28px;
$spacing: 16px;

.ChatPoll {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;

  &__topic {
    text-align: center;
    font-size: $spacing;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__text {
    margin-bottom: $spacing;
  }

  &__question {
    display: block;
    background: none;
    margin-bottom: $spacing;
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__votes {
    margin: 0 10px 0 0;
  }

  &__wrapper {
    position: relative;
    margin-bottom: 6px;
    width: 100%;
    border-radius: $counterparty-text-border-radius;
    background-color: $intermediate-grey;
    padding: 12px $spacing;
    font-size: 14px;
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__author {
    opacity: 0.8;
    color: $white;
    margin: 0 8px 0 4px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__time {
    opacity: 0.6;
    font-weight: 300;
  }

  &__icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &__delete-button {
    margin-left: 10px;
    background: none;
    border: none;
    color: #fff;
    text-decoration: underline;
    font-weight: initial;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  &--me {
    align-self: flex-end;
    align-items: flex-end;

    .ChatPoll__wrapper {
      background-color: $primary;
    }

    .ChatPoll__info {
      flex-direction: row-reverse;
      align-self: flex-end;
    }

    .ChatPoll__author {
      margin: 0 4px 0 8px;
    }
  }
}
