@import "scss/constants.scss";

.ConfirmationBannerModal {
  text-align: center;

  &__header {
    font-size: $font-size--xl;
    margin: 0;
  }

  &__message {
    padding: $spacing--md 0 $spacing--xl;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

// Override global styles button
button.ConfirmationBannerModal__button {
  width: $button-width;
  font-weight: $font-weight--500;
  background-color: $primary--live;

  &--cancel {
    background-color: opaque-white(0.2);
  }
}
