@import "scss/constants.scss";

.upcoming-tickets-overlay {
  padding: 20px;

  .link {
    text-decoration: none;
  }

  .event {
    display: flex;
    padding: 10px 16px;
    margin-top: 10px;
    margin: 10px -16px 0px -16px;

    &:hover {
      background: $secondary--live;
    }

    .time-section {
      border-right: 1px solid var(--content--over-60a);
      min-width: 110px;
      margin-right: 10px;

      .date {
        font-weight: 800;
      }
    }

    .event-description {
      color: var(--content--over-60a);
    }

    .event-section {
      display: flex;
      width: 100%;
      font-weight: 800;
    }
  }
}
