@use "scss/attendee/theme";
@use "scss/attendee/space";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";

$-control-size: 32px;

.VideoHuddle {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: breakpoint.$md) {
    @include sparkle.panel--normal;
    grid-column: 1 / 3;
    margin: 0 space.empty(-1);
    width: calc(100% + #{space.empty(2)});
  }

  height: layout.$h-video-chat;
  border-top: 1px solid theme.$sparkle--border;
  border-bottom: 1px solid theme.$sparkle--border;
}

.VideoHuddleControls {
  @include sparkle.panel--normal;
  position: relative;
  margin-top: space.gap(-1);
  display: flex;
  flex-direction: column;
  justify-self: start;
  border-left: 1px solid theme.$sparkle--border;

  span {
    border-bottom: 1px solid theme.$sparkle--border;
    width: $-control-size;
    height: $-control-size;
    opacity: 0.5;
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }

    svg {
      margin: auto;
    }
  }
}

.VideoHuddleVideos {
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  min-width: (layout.$h-video-chat * 1.7 + 2) * 3;
  display: flex;
  justify-content: center;
  gap: space.gap(1);
}
