@import "scss/constants";

$height: 1rem;

.AdminSidebarSectionSubTitle {
  place-content: center start;
  min-height: $height;
  line-height: $height;
  font-size: $height * 0.75;
  font-weight: $font-weight--400;
  margin: $spacing--xs 0 $spacing--md;
  padding: 0;
  color: var(--content--over-50a);
}
