@import "scss/constants";

$counterparty-text-border-radius: $spacing--xxl $spacing--xxl $spacing--xs
  $spacing--xxl;

.ChatPoll {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;

  &__bulb {
    position: relative;
    width: 100%;
    border-radius: $counterparty-text-border-radius;
    background-color: $secondary;
    padding: $spacing--md;
    margin-bottom: $spacing--sm;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
  }

  &__question {
    display: block;
    background: none;
    margin-bottom: $spacing--lg;
    width: 100%;
    background-color: $concrete;
  }

  &__topic {
    text-align: center;
    font-size: $font-size--lg;
    font-weight: $font-weight--500;
    margin-bottom: $spacing--lg;
  }

  &__text {
    font-size: $font-size--lg;
    margin-bottom: $spacing--md;
  }

  &--me {
    align-self: flex-end;
    align-items: flex-end;

    .ChatPoll__bulb {
      background-color: $primary;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    justify-content: center;
    color: opaque-white(0.8);
    font-size: $font-size--sm;
  }

  &__votes {
    margin-right: $spacing--md;
  }

  &__icon {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  &__delete-button {
    margin-left: $spacing--md;
  }
}
