.secret-password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;

  .secret-password-input {
    margin-bottom: 10px;
    max-width: 275px;
  }
}
