.video-player {
  position: relative;
  display: flex;
  border: solid 0;
  border-radius: 22px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .avatar-container {
    width: 28px;
    height: 28px;
    position: absolute;
    z-index: 1;
    left: 10px;
    bottom: 10px;
  }

  .overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .buttons {
      display: flex;
      justify-content: flex-end;
      margin: 10px;

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        border: solid 0;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.3);

        .camera-off {
          margin: 0 2px 2px 0;
        }

        img {
          user-select: none;
        }
      }

      .on {
        background: rgb(124, 70, 251);
      }
    }
  }
}
