@use "scss/attendee/layout";
@use "scss/attendee/theme";
@use "scss/attendee/effects/sparkle";

.videoCommsParticipant {
  display: flex;
  flex-direction: row;
  position: relative;
}

.trackContainer {
  display: flex;
  position: relative;
}

.videoCommsControlsContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: 22px;
  color: theme.$c-light-text-on-dark;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 4px;

  span {
    margin: 2px 7px;
  }
  &__darkButtons {
    color: theme.$c-default-text;
    background: none;
    cursor: pointer;
  }
}

.avatarContainer {
  display: flex;
  border: 1px solid theme.$sparkle--border;
  min-width: 186px;

  @include sparkle.panel--normal;

  img {
    max-width: 64px;
    max-height: 64px;
    margin: auto;
  }
}

.userName {
  position: absolute;
  bottom: 0;
}
