@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/space";
@use "scss/attendee/theme";
@use "scss/attendee/effects/sparkle";

.videoCommsParticipant {
  display: flex;
  flex-direction: row;
  position: relative;

  &:hover {
    .userName {
      display: block;
    }
  }
}

.trackContainer {
  display: flex;
  position: relative;
}

.videoCommsControlsContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: font.$size--lg;
  color: theme.$c-light-text-on-dark;
  background: theme.$c-glass-panel-background-inverted;
  border-top-left-radius: 4px;
  cursor: pointer;

  span {
    display: flex;
    width: layout.$w-video-chat-icon;
    height: layout.$h-video-chat-icon;
    align-items: center;
    justify-content: center;

    &:hover {
      background: theme.$c-mask-bg;
    }
  }
}

.avatarContainer {
  display: flex;
  border: 1px solid theme.$sparkle--border;
  min-width: 186px;

  @include sparkle.panel--glass;

  img {
    max-width: 64px;
    max-height: 64px;
    margin: auto;
  }
}

.userName {
  position: absolute;
  bottom: 0;
  background: theme.$c-glass-panel-background-inverted;
  color: theme.$c-glass-panel-background-text;
  padding: space.$s2 space.$xs space.$xs;
  border-radius: 3px;
  font-size: font.$size--sm;
  display: block;

  // media query for devices supporting hover
  // @see https://stackoverflow.com/a/42363147
  @media not all and (hover: none) {
    display: none;
  }
}
