@use "scss/attendee/font";
@use "scss/attendee/layout";
@use "scss/attendee/space";
@use "scss/attendee/theme";
@use "scss/attendee/effects/sparkle";

$w-icon: 20px;
$h-icon: 16px;

.videoCommsParticipant {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  &:hover {
    .userName {
      display: block;
    }
  }
}

.trackContainer {
  display: flex;
  position: relative;
  width: 100%;

  video {
    width: 100%;
  }
}

.videoCommsControlsContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  font-size: font.$size--lg;
  color: theme.$c-light-text-on-dark;
  background: theme.$c-mask-bg;
  border-top-left-radius: 4px;
  padding-left: space.gap(4);
  // removes blue highlighting on mobile tap
  -webkit-tap-highlight-color: transparent;

  span {
    margin: space.gap(4);
    width: $w-icon;
    height: $h-icon;
    text-align: center;
    cursor: pointer;
  }

  &__darkButtons {
    color: theme.$c-default-text;
  }
}

.avatarContainer {
  display: flex;
  border: 1px solid theme.$sparkle--border;
  width: 100%;
  min-width: layout.$w-video-chat-participant;

  @include sparkle.panel--normal;
  background-color: theme.$webcam-video-disabled-bg;

  img {
    max-width: 64px;
    max-height: 64px;
    margin: auto;
  }
}

.userName {
  position: absolute;
  bottom: 0;
  background: theme.$c-mask-bg;
  color: theme.$c-light-text-on-dark;
  padding: space.$s2 space.$xs space.$xs;
  border-radius: 3px;
  font-size: font.$size--sm;
  display: block;

  // media query for devices supporting hover
  // @see https://stackoverflow.com/a/42363147
  @media not all and (hover: none) {
    display: none;
  }
}
