.Gradients {
  // TODO Figure out CSS dither that doesn't look terrible
  min-height: 100vh;
  background: linear-gradient(#ff8888, transparent),
    linear-gradient(to top left, #88ff88, transparent),
    linear-gradient(to top right, #8888ff, transparent),
    repeating-linear-gradient(#000, #060606 7px),
    repeating-linear-gradient(90deg, #060606, #000 11px),
    repeating-linear-gradient(30deg, #060606, #000 13px);
  background-blend-mode: screen;
}
