@import "scss/constants";

$breadcrumbs-height: 45px;

.recipient-chat {
  height: 100%;
  width: 100%;
  position: relative;

  &__breadcrumbs {
    position: absolute;
    top: 0;
    width: 100%;
    height: $breadcrumbs-height;
    background-color: $almost-black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: z(recipient-chat-breadcrumbs);
    padding: 0 8px;
    cursor: pointer;
  }

  &__chatbox {
    position: absolute;
    top: $breadcrumbs-height;
    height: calc(100% - #{$breadcrumbs-height});
  }

  &__back-icon {
    cursor: pointer;
    margin-right: 8px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &__nickname {
    cursor: pointer;
    margin-left: 6px;
    color: $white;
    font-size: 0.8rem;
    font-weight: 500;

    &:hover {
      opacity: 0.8;
    }
  }
}
