@use "scss/attendee/layout";
@use "scss/attendee/space";

.recipientChat {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.avatarContainer {
  min-width: layout.$chat-avatar-size;
  min-height: layout.$chat-avatar-size;
  max-width: layout.$chat-avatar-size;
  max-height: layout.$chat-avatar-size;

  img {
    width: 100%;
    height: 100%;
  }
}

.infoContainer {
  padding: space.empty(1.5);
  display: flex;
  gap: space.empty(1);
}

.backIcon {
  cursor: pointer;
}
