@import "scss/constants.scss";

.SpaceEditFormNG {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  .AdminSidebarTitle {
    margin: $spacing--xxl $spacing--xl $spacing--md;
  }

  .AdminSidebarSubTitle {
    margin: 0 $spacing--xl $spacing--xl;
  }

  .AdminSection {
    padding: $spacing--sm $spacing--xl;
  }

  .AdminSidebarFooter__buttons {
    width: 100%;
  }

  .SpacesDropdown {
    .Dropdown {
      width: 100%;
      background-color: opaque-white(0.12);
      border-radius: $border-radius--xl;

      .Dropdown__button {
        width: 100%;

        &:hover {
          background: opaque-white(0.2);
        }

        &:after {
          margin-left: auto;
        }
      }
    }
  }
}
