@import "scss/constants.scss";

$textarea-height: 120px;
$image-container-height: 200px;

.SpaceEditFormNG {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__toggler {
    width: max-content;
  }

  &__capacity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    text-align: center;
  }

  .AdminSidebarTitle {
    margin: $spacing--xxl $spacing--xl $spacing--md;
  }

  .AdminSidebarSubTitle {
    margin: 0 $spacing--xl $spacing--xl;
  }

  .AdminSection {
    padding: $spacing--sm $spacing--xl;

    &__label {
      display: flex;
      flex-direction: column;

      .ImageInput__container {
        position: relative;
        width: 60%;
        margin-bottom: -($spacing--lg);
        align-self: center;
        height: $image-container-height;
      }
    }
  }

  .AdminSidebarFooter__buttons {
    width: 100%;
  }

  .AdminInput__input {
    text-align: left;

    &::placeholder {
      word-break: break-word;
    }
  }

  .AdminTextarea__input {
    height: $textarea-height;
  }

  .SpacesDropdown {
    .Dropdown {
      width: 100%;
      background-color: var(--content--over-10a);
      border-radius: $border-radius--xl;

      .Dropdown__button {
        width: 100%;

        &:hover {
          background-color: var(--content--over-20a);
        }

        &:after {
          margin-left: auto;
        }
      }
    }
  }
}
