@import "scss/constants.scss";

.Modal {
  &__overlay {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    height: 100%;
    z-index: z(modal);
    background-color: rgba(26, 29, 36, 0.8);
    overflow-y: auto;

    & .ReactModal__Content {
      width: 35%;
      position: relative !important;
      padding: $spacing--lg;
      display: flex;
      align-items: center;
      box-shadow: 0 $spacing--md $spacing--xxl 0 var(--content--under-30a);

      form {
        width: 100%;
      }
    }
  }

  &__html {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
