@import "scss/constants.scss";

.Badges {
  &__container {
    padding: $spacing--lg 0;
  }

  &__title {
    color: $concrete;
    font-size: $font-size--md;
    margin-bottom: $spacing--md;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  &__item-image {
    width: 30px;
    height: 30px;
    border-radius: $border-radius--max;
    margin: 3px 3px 0 0;
  }
}

.visits {
  display: flex;
  background-color: $dark;
  border-radius: 22px;
  padding: 15px;
  justify-content: space-evenly;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item-value {
    font-weight: 900;
    font-size: $spacing--lg;
  }

  &__item-label {
    color: $concrete;
    font-size: $font-size--md;
  }
}
