@import "scss/constants.scss";

$input-horizon-space: 14px;
$button-height: 30px;

.EditProfileForm {
  &__title {
    font-size: $font-size--md;
    line-height: $spacing--xl;
    color: opaque-white(0.5);
    text-align: start;
    margin-bottom: $spacing--md;
  }

  &__edit-input-title {
    font-size: $font-size--md;
    margin-bottom: $spacing--lg;
    opacity: 0.8;
    width: 100%;
  }

  &__question {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  &__cancel-container {
    display: flex;
    justify-content: center;
  }

  &__input-container-name {
    height: $submit-button-diameter;
    margin-top: $spacing--sm;
  }

  &__input-name {
    text-align: start;
    padding: $spacing--md $input-horizon-space;
    font-size: $font-size--lg;
  }

  // @debt had to increase specificity because Button styles go later
  & .EditProfileForm__submit-button {
    width: 100%;
    height: $button-height;
    padding: 0;
    background-color: $primary--live;
    font-size: $font-size--md;
    margin: $spacing--md 0;

    &:hover {
      background-color: $primary--live-hover;
    }
  }
}
