@import "scss/constants.scss";

$input-horizon-space: 14px;
$button-height: 30px;

.EditProfileForm {
  &__title {
    font-size: $font-size--md;
    line-height: $spacing--xl;
    color: opaque-white(0.5);
    text-align: start;
  }

  &__question {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  &__cancel-container {
    display: flex;
    justify-content: center;
  }

  &__cancel-button {
    cursor: pointer;
    text-decoration: underline;
  }

  &__input-container-name {
    height: $submit-button-diameter;
  }

  &__input-name {
    text-align: start;
    padding: $spacing--md $input-horizon-space;
    font-size: $font-size--lg;
  }
}

button.EditProfileForm__submit-button {
  width: 100%;
  height: $button-height;
  padding: 0;
  background-color: opaque-white(0.2);
  font-size: $font-size--md;
  margin: $spacing--md 0;
}
