@use "scss/attendee/font";
@use "scss/attendee/effects/atom";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/space";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/theme";

.PortalPopupInfo {
  @include sparkle.panel--glass;
  @include rounded.normal;
  border: 1px solid theme.$sparkle--border;
  box-sizing: border-box;
  z-index: 100;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  cursor: text;

  h3 {
    @include font.body;
    text-align: center;
    margin: space.empty(1);
  }

  p {
    text-align: center;
    margin: space.empty(1);
  }
}

.PortalInfoButton {
  @include atom.button;
  @include rounded.bottom;
  @include sparkle.color--normal;
  justify-content: center;
  cursor: pointer;
}

.portalEventContent {
  display: flex;
  margin: space.empty(0.5) space.empty(1);
  justify-content: center;
  align-items: center;
  text-align: center;
}
