@import "scss/constants";

.DetailsForm {
  &__wrapper {
    padding: 1em 5em;
  }

  &__footer {
    display: flex;
    padding: 1em 5em;
    justify-content: flex-end;

    border-top: 1px solid var(--accent--over-20a);
  }

  &__input {
    &-info {
      margin-top: 0.2rem;
      opacity: 0.8;
      font-size: 0.8em;
    }

    &-container {
      margin-top: 15px;
      position: relative;
    }
  }
}
