@use "scss/attendee/breakpoint";
@use "scss/attendee/space";

.MapBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  // Needed to override inline styles that are only used on larger screens
  background-size: cover !important;

  @media (max-width: calc(#{breakpoint.$md} - 1px)) {
    z-index: -1;
  }

  @media (min-width: breakpoint.$md) {
    position: absolute;
  }
}

.MapTitle {
  position: relative;
  width: 100%;
  height: 66vh;
  box-sizing: border-box;
  padding-top: space.button(1) + space.empty(1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34vw;
  letter-spacing: -0.07em;
  line-height: 0.8;
  color: white;
  overflow: hidden;

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    font-size: 26vw;
    letter-spacing: -0.08em;
    line-height: 0.75;
  }
}

.Portals {
  display: block;

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
