@import "scss/constants";

$sand: #937c63;
$white: #ffffff;
$border-radius: 28px;

.party-map-map-component {
  display: flex;
  flex-direction: row;

  .party-map-map-content {
    display: flex;
    position: relative;
    box-sizing: content-box;

    flex: 1;
    margin: 20px;

    width: calc(100% - 300px);
  }
}

.map-container {
  display: flex;
  flex: 1;
}

.party-map-background {
  z-index: z(map-background);
  border-radius: 15px;
  height: 100%;
}

.party-map-grid-container > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.party-map-grid-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;

  &:before {
    content: " ";
    display: block;
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  .seat-column {
    width: 100%;
    height: 100%;
    z-index: z(map-grid);
  }

  .seat-row {
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .seat-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &:hover {
      cursor: pointer;
      .not-seat {
        opacity: 0.4;
      }
    }
  }

  .seat {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    position: relative;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .user {
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
    }

    .avatar {
      opacity: 0.025;
      background-color: $white;
    }
  }

  .not-seat {
    width: 80%;
    height: 80%;
    position: relative;
    background-color: white;
    opacity: 0.025;
    border-radius: 100%;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .adjacent {
    opacity: 0.3;
  }

  .near-adjacent {
    opacity: 0.2;
  }

  @keyframes avatarpulse {
    0% {
      background-color: $primary;
      box-shadow: 0 0 0 3px $primary, 0 0 20px rgba($primary, 0.65);
    }
    50% {
      background-color: lighten($primary, 10%);
      box-shadow: 0 0 0 3px $primary, 0 0 20px 10px rgba($primary, 0.65);
    }
    100% {
      background-color: $primary;
      box-shadow: 0 0 0 3px $primary, 0 0 20px rgba($primary, 0.65);
    }
  }

  .chat-drawer-container {
    position: fixed;
    display: flex;
    flex: 1;
  }

  .chat-drawer-container.expanded {
    position: fixed;
    display: flex;
    flex: 1;
    height: 100%;
    border-radius: 0px;
  }
}

.tab-option {
  padding: 10px;
}

.sparkle-fairies {
  position: fixed;
  top: 70px;
  left: 0px;
  z-index: z(left-column);
}

.info-drawer-camp {
  position: fixed;
  top: 40px;
  left: 0px;
}

.chat-pop-up {
  position: fixed;
  right: 0px;
  top: calc(#{$navbar-height} + 15px);
}
