@use "scss/attendee/breakpoint";
@use "scss/attendee/space";
@use "scss/attendee/theme";

$-h-map-title: 66vh;
$-font-size-map-title: 34vw;
$-letter-spacing-map-title: -0.07em;
$-line-height-map-title: 0.8;

.MapBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  // Needed to override inline styles that are only used on larger screens
  background-size: cover !important;

  @media (min-width: breakpoint.$md) {
    position: absolute;
  }
}

.MapTitle {
  position: relative;
  width: 100%;
  height: $-h-map-title;
  box-sizing: border-box;
  padding-top: space.button(1) + space.empty(1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $-font-size-map-title;
  letter-spacing: $-letter-spacing-map-title;
  line-height: $-line-height-map-title;
  color: theme.$c-white-text;
  word-break: break-word;
  text-align: center;

  @media (min-width: 768px) {
    display: none;
  }
}

.Portals {
  display: block;
  position: relative;
  padding: 0 space.empty(1);

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
