@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/space";
@use "scss/attendee/opacity";
@use "scss/attendee/effects/sparkle";
@use "scss/attendee/effects/atom";
@use "scss/attendee/effects/rounded";
@use "scss/attendee/layout";

.MapRoom {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: layout.$w-sidebar;

  @media (min-width: 768px) {
    align-self: center;
    position: absolute;
    overflow: visible;
    z-index: 21;
    width: min-content;
  }
}

.PortalImage {
  position: relative;
  display: block;
  cursor: pointer;
  width: 100%;

  img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.PortalTitle {
  @include atom.button;
  @include rounded.normal;
  @include sparkle.color--glass;

  &:hover {
    @include sparkle.color--normal;
  }

  white-space: nowrap;

  & > span {
    display: flex;
    padding-left: space.empty(0.5);
    opacity: opacity.$md;

    span {
      @include atom.icon;
      background-image: url(/assets/icons/icon-users.svg);
      position: relative;
      filter: invert(1);
      margin-right: space.empty(0.5);
      top: -2px;
    }
  }
}

.PortalOnMap {
  display: flex;
}

.InfoButton {
  @include atom.button;
  height: space.button(1) - space.gap(8);
  margin: space.gap(4) 0;
  border-left: 1px solid theme.$sparkle--border;
  border-radius: 0;
  padding-right: 0;

  span {
    @include atom.icon;
    background-image: url(/assets/icons/icon-info.svg);
    position: relative;
    filter: invert(1);
  }
}

.PortalPopupInfo {
  position: absolute;
  @include sparkle.panel--glass;
  @include rounded.normal;
  border: 1px solid theme.$sparkle--border;
  box-sizing: border-box;
  left: 50%;
  top: space.button(1) + space.empty(1);
  $portal-info-panel-width: 200px;
  width: $portal-info-panel-width;
  margin-left: $portal-info-panel-width * -0.5;
  z-index: 100;

  h3 {
    @include font.body;
    text-align: center;
    margin: space.empty(1);
  }

  p {
    text-align: center;
    margin: space.empty(1);
  }
}

.PortalInfoButton {
  @include atom.button;
  @include rounded.bottom;
  @include sparkle.color--normal;
  justify-content: center;
}

.InfoButton {
  border: none;
  background: none;
}
