@import "scss/constants";

$label-hidden: none;
$label-visible: flex;

.maproom {
  position: absolute;
  z-index: z(map-room);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 600ms $transition-function;

  &:hover {
    z-index: z(map-room--hovered);
    transform: scale(1.1);

    .maproom__label {
      display: $label-visible;

      background-color: $primary;
      opacity: 1;
      box-shadow: 0 0 0 3px lighten($primary, 10%), 0 2px 4px rgba($black, 0.2);
    }

    .maproom__title--count {
      display: $label-visible;
    }

    .maproom__image {
      filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.4)) contrast(110%)
        saturate(110%);
    }
  }

  &--unclickable {
    z-index: z(map-room--unclickable);

    cursor: default;

    &:hover {
      z-index: z(map-room--unclickable);

      transform: none;

      .maproom__image {
        filter: none;
      }
    }
  }

  &--always-show-label {
    .maproom__label {
      display: $label-visible;
    }
  }

  &__image {
    position: relative;

    width: 100%;
    height: 100%;
  }

  &__label {
    display: $label-hidden;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 6px 10px;
    border-radius: 20px;

    // This is used to give the label text a slightly blurred appearance
    backdrop-filter: blur(8px);

    font-size: 0.9rem;
    background-color: darken($primary, 50%);
    opacity: 0.5;
  }

  &__title--count {
    display: $label-hidden;
  }

  .islive {
    filter: drop-shadow(0px 0px 9px rgba(255, 0, 255, 0.5)) contrast(110%)
      saturate(110%);
    animation: pulse 1.5s infinite;

    &:hover {
      animation: none;
      filter: drop-shadow(0px 0px 9px rgba(255, 0, 255, 1)) contrast(110%)
        saturate(110%);
    }
  }

  @keyframes pulse {
    0% {
      filter: drop-shadow(0px 0px 9px rgba(255, 0, 255, 0.5));
    }

    50% {
      filter: drop-shadow(0px 0px 9px rgba(255, 0, 255, 1));
    }

    100% {
      filter: drop-shadow(0px 0px 9px rgba(255, 0, 255, 0.5));
    }
  }
}
