@import "scss/constants";

.UserStatusDropdown {
  display: flex;
  flex-direction: row;

  &__status {
    font-weight: $font-weight--500;
  }

  &__item {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
    opacity: 0.8;
    width: 100%;
    padding: $spacing--sm;
  }

  .Dropdown .Select {
    text-decoration: underline;
    font-weight: $font-weight--400;

    &::after {
      display: none;
    }

    &__menu {
      top: 30px;
      width: 150px;
    }

    &__value-container {
      padding: 0;
    }

    &__single-value {
      text-decoration: underline;
    }

    &__control {
      padding: 0;
    }
  }
}
