@import "scss/constants";

.ScreenShare {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing--xl;

  &__mode--share {
    height: 613px;
    width: 100%;
  }

  &__mode--local-play {
    width: 326px;
    height: $screen-share-player-height;
    position: absolute;
    bottom: $spacing--lg;
    right: $spacing--lg;
  }

  &__mode--play {
    width: 326px;
    height: $screen-share-player-height;
    margin: 10px;
  }

  &__scene {
    display: flex;
    background-color: #191919;
    width: calc(35 * 30px);
    border: solid 0;
    border-radius: 22px;
    flex-direction: column;
    align-items: center;

    &--players {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &--sharing {
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: $border-radius--lg;
      margin: $spacing--lg;
      width: calc(100% - 2 * #{$spacing--lg});
      min-height: calc(#{$screen-share-player-height} + 2 * #{$spacing--lg});
      position: relative;
    }
  }
}
