@import "scss/constants.scss";

.authentication-modal-container {
  padding: 20px;

  .save-card-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;

    button {
      padding: 10px;
      margin-top: 10px;
    }
  }

  h2.centered {
    margin-top: 1em;
    text-align: center;
  }

  .secondary-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    font-style: italic;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .form {
      width: 100%;
      text-align: center;
    }
  }

  .link {
    cursor: pointer;
    border-radius: 15px;
    padding: 5px 15px;
    border: #777 solid 2px;
    background: #444;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 90%;
  }
}
