@use "scss/attendee/space";
@use "scss/attendee/theme";
@use "scss/attendee/font";
@use "scss/attendee/border";

$-avatar-size: 84px;

.profileModalAvatar {
  width: $-avatar-size;
  height: $-avatar-size;
}

.input {
  display: none;
}

.image {
  width: $-avatar-size;
  height: $-avatar-size;
  border-radius: border.$radius--mx;
  cursor: pointer;
}

.text {
  @include font.core;
  position: sticky;
  margin: space.empty(-5) space.empty(1) 0 space.empty(1);
  cursor: pointer;
  text-align: center;
  border-radius: border.$radius--xs;
  background-color: theme.$c-glass-panel-background;
}
