.profileModalAvatar {
  width: 84px;
  height: 84px;
}

.input {
  display: none;
}

.image {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  cursor: pointer;
}

.text {
  font-size: 14px;
  margin: -58px 0px 50px 0px;
  cursor: pointer;
  text-align: center;
}
