@import "scss/constants.scss";
@import "./Schedule.constants.scss";

$room-count: var(--room-count, 1);
$current-time--position: var(--current-time--position, -2);
$hours-count: var(--hours-count, 8);

$hour-width: 200px;
$half-hour-width: calc(#{$hour-width} / 2);

$rooms-column--width: 215px;
$timeline--height: 36px;

$time-line--margin-top: 18px;
$time-line--width: 1px;
$current-time-line--width: 2px;

$time-line--height: calc(
  (#{$room--height} + #{$room--margin-bottom}) * #{$room-count}
);

$schedule--width: calc(#{$hours-count} * #{$hour-width} + #{$half-hour-width});

.ScheduledEvents {
  padding-top: $ScheduleEvents--padding;
  display: flex;
  position: relative;

  &__rooms {
    flex-basis: $rooms-column--width;
    flex-shrink: 0;
    margin-top: $timeline--height;
    padding-right: $ScheduleEvents--padding;
    box-shadow: box-shadow--large();
    font-size: 0.8rem;
  }

  &__room {
    margin-bottom: $room--margin-bottom;
    height: $room--height;
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  &__schedule {
    @include scrollbar;
    flex-grow: 1;
    overflow-x: auto;
    position: relative;
  }

  &__room-title {
    margin-bottom: 0;
    font-weight: 600;
  }

  &__timeline {
    height: $timeline--height;
    font-size: $font-size--md;
    opacity: 0.6;
    white-space: nowrap;
  }

  &__hour {
    width: $hour-width;
    text-align: center;
    display: inline-block;

    &::after {
      content: "";
      display: block;
      height: $time-line--height;
      border-left: #{$time-line--width} solid white;
      margin-left: $half-hour-width;
      margin-top: $time-line--margin-top;
    }
  }

  &__user-schedule {
    height: $room--height;
    margin-bottom: $room--margin-bottom;
    background-color: rgba(255, 255, 255, 0.2);
    width: $schedule--width;
  }

  &__current-time-line {
    position: absolute;
    width: $current-time-line--width;
    height: $time-line--height;
    left: calc(#{$current-time--position} * 1px);
    background-color: $primary;
  }
}
