@import "scss/constants.scss";

$Schedule--padding: 20px;

.Schedule {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  &__loading {
    margin-top: $Schedule--padding;
  }

  &__no-events {
    padding: $Schedule--padding;
  }
}
