@import "scss/constants.scss";

.VenuePartygoers {
  &__container {
    font-size: $font-size--sm;
    line-height: $font-size--md;
    color: opaque-white(0.8);
  }

  &__number {
    font-weight: $font-weight--700;
  }
}
