@import "scss/constants";

.small-right-margin {
  margin-right: 10px;
}

.starting-indication {
  font-weight: 700;
  font-style: italic;
  margin-top: 20px;
  color: $primaryColor;
  font-size: 20px;
}

.chat-wrapper {
  padding: 30px 0 20px 0;
}
