@import "scss/constants.scss";

$black: #000000;
$white: #fff;
$dark: #19181a;

.sidebar-container {
  position: fixed;
  z-index: z(sidebar);
  right: 0;
  top: 60px;
  width: 360px;
  height: 100%;
  display: block;
  transition: opacity 600ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 600ms cubic-bezier(0.23, 1, 0.32, 1);
  background-color: $dark;
  transform: translateX(360px);
  opacity: 1;
  &.show {
    box-shadow: 0 0 50px rgba($black, 1);
    transform: translateX(0px);
    .sidebar-slide-btn {
      left: -30px;
      width: 32px;
    }
    .sidebar-slide-btn .slide-btn-arrow-icon {
      transform: scale(1);
    }
    .sidebar-slide-btn .slide-btn-chat-icon {
      display: none;
    }
  }

  &.hide {
    opacity: 0;
    transform: translateX(360px);
  }

  .sidebar-slide-btn {
    position: absolute;
    top: 0;
    z-index: -1;
    left: -50px;
    height: 52px;
    width: 50px;
    cursor: pointer;
    background-color: lighten($dark, 10%);
    border-radius: 16px 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;

    &:hover {
      background-color: lighten($dark, 14%);
    }
    .slide-btn-arrow-icon {
      height: 22px;
      width: 22px;
      background-size: 22px 22px;
      transform: scale(-1);
    }
    .slide-btn-chat-icon {
      height: 22px;
      width: 22px;
      background-size: 22px 22px;
      transform: scale(1);
      opacity: 1;
      margin-right: 4px;
    }
  }

  .sidebar-tabs {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $black;

    .notification {
      width: 8px;
      height: 8px;
      right: 5px;
      border-radius: 4px;
      background: #ffffff;
      box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.8);
    }

    div {
      position: relative;
      text-align: center;
      flex-grow: 1;
      display: inline-block;
      cursor: pointer;
      line-height: 54px;
      opacity: 0.6;
      font-size: 0.9rem;
      &:hover {
        opacity: 0.7;
      }
      &.active {
        opacity: 1;
        border-bottom: 2px solid $white;
      }
    }
  }
}

.sidebar-container {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: $dark;
  box-shadow: none;
  transform: translateX(0px);
  .sidebar-slide-btn {
    display: none;
  }
}
.page-container {
  display: flex;
  align-items: flex-start;

  .sidebar-container-space {
    position: relative;
    flex-shrink: 0;
    width: 360px;
    height: 100vh;
  }

  .map-container {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1440px;
    min-width: 900px;
    margin: 80px 20px 20px 20px;
    height: auto;
    display: flex;
    align-items: center;
  }
}

a.nav-link_sidebar {
  display: none !important;
}
