@import "scss/constants";

.AdvancedSettings {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__form-container {
    width: 50%;
  }

  &__form-field {
    padding: $spacing--sm 0;
  }

  &__save-button {
    margin-bottom: $footer-height;
  }
}
