@import "scss/constants";

.BackgroundSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing--xl 0;
  position: relative;
  background-size: cover;
  background-color: $dark;
  background-position: center;

  &__maps-header {
    font-size: $font-size--md;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
    margin: $spacing--xxl auto $spacing--md auto;
  }

  &__map-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }

  &__map {
    width: 23%;
    padding-bottom: 60px;
    border-radius: $border-radius--lg;
    background: $black;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border: solid $border-radius--xxs;
    margin-bottom: $spacing--sm;

    &:hover {
      border: $border-radius--xxs solid $white;
      padding-bottom: 60px - $border-radius--xxs;
    }
  }
}
