@use "scss/attendee/mixins.scss"as *;
@use "scss/attendee/variables.scss"as *;

.TablesUserList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $whitespace * 2 $whitespace * 3.5 $button-height * 2;
  flex-wrap: wrap;
}
