@import "scss/constants.scss";

$side-padding: 30px;

$gradient: linear-gradient(-124deg, #e15ada 0%, #6f43ff 50%, #00f6d5 100%);

$dark: #1a1d24;
$border-radius: 28px;
$large-shadow: box-shadow--large(0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

$sand: #937c63;

.modal-content {
  width: 100%;
  max-width: $modal-max-width;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: left;
  border-radius: $border-radius;
  overflow: hidden;

  h3 {
    margin-bottom: 1rem;
    padding: 0 $side-padding;
  }
  .modal-tabs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center; /* Align Items Vertically */
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba($white, 0.2);
    overflow-x: auto;
    overflow-y: hidden;
    button {
      background-color: transparent;
      border: none;
      display: block;
      position: relative;
      color: white;
      text-align: center;
      padding: 4px 10px;
      opacity: 0.7;
      font-weight: 400;
      &:hover {
        opacity: 1;
      }
      &.selected {
        opacity: 1;
        font-weight: bold;
        color: yellow;
        outline: none;
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          border-radius: 4px;
          width: 100%;
          background-color: white;
          left: 0;
          bottom: -1px;
        }
      }
    }
  }
}
