@import "scss/constants";

$top-margin: 20px;
$vertical-padding: 20px;
$side-padding: 30px;
$border-radius: 28px;

.title {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.wizard-buttons-container {
  margin-top: 20px;
}

.form-container {
  margin-top: $top-margin;
  padding: $vertical-padding $side-padding;
  background-color: $light-grey;
  border-radius: $border-radius;
}

.title-adornment {
  color: $yellow;
}

.form {
  margin-top: 10px;
  max-width: 600px;
  margin: auto;
}

.input-container {
  margin-top: 20px;
}

.input-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-subtext {
  margin-left: 10px;
  font-size: 0.8rem;
}

.input-logo-container {
  width: 150px;
  height: 150px;
}

.input-logo-image {
  height: 100%;
  object-fit: cover;
}

.templates-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.template-card {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
  border-color: gray;
  background-color: darkgray;
  box-shadow: 0 1px 3px 0 darkgray;
}

.template-card:hover {
  cursor: pointer;
}

.template-card.selected {
  box-shadow: 0 0 0 5px lightblue;
}

.template-card .title {
  text-align: center;
  color: $yellow;
}

ul.template-card-list {
  list-style-position: inside;
}
ul.template-card-list li {
  left: 0;
}
