// @debt is this file used anywhere anymore? Doesn't seem like it based on searching for this class?
// @debt There is also src/pages/Account/Venue/VenueMapEdition/VenueMapEdition.scss which seems to be used (though poorly named for it's purpose/contents)
.venue-map-edition-container {
  display: flex;

  .left-column {
    flex: 1;
    padding: 30px;
  }

  .right-column {
    flex: 1;
    align-items: center;
    display: flex;
    height: calc(100vh - 50px);
  }

  .party-map {
    width: 100%;
  }
}
