@import "scss/constants.scss";

$loader-size: font-size--root(1);

.PortalStripForm {
  display: grid;
  grid: auto-flow dense / 1fr 6fr 1fr 1fr 1fr;
  place-items: center start;
  grid-gap: $spacing--lg;
  margin: 0;
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
    min-width: font-size--parent(10);

    .Loading {
      flex-direction: row;

      &__icon {
        @include square-size($loader-size);
        margin: 0 font-size--parent(0.5) 0 0;
      }
    }
  }

  &__cell {
    margin: 0;
    padding: 0;
  }

  &__edit > * {
    display: flex;
  }

  &__edit-text {
    margin-left: font-size--parent(1);
  }

  @media (max-width: $media-breakpoint--xl) and (min-width: $media-breakpoint--md) {
    grid: repeat(3, 1fr) / 1fr 6fr 3fr;
    gap: $spacing--xs;

    &__info {
      grid-area: 1 / 2 / span 3 / 2;
    }

    &__visibility,
    &__clickability,
    &__edit {
      grid-column: 3;
    }
  }

  @media (max-width: $media-breakpoint--md) {
    grid: auto-flow dense / 1fr;
    gap: $spacing--xs;
    place-items: center start;
  }
}
