@import "scss/constants.scss";

#popover-onlinestats {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transform: translateY(-800px);
  transition: all 1000ms cubic-bezier(0.23, 1, 0.32, 1);

  &.show {
    transform: translateY(0px);
  }
  .popover-body {
    height: 100%;
    overflow: hidden;
  }

  .stats-outer-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    .stats-modal-container {
      padding: 30px;
      display: flex;
      flex-direction: column;

      .modal-title {
        font-style: normal;
        font-size: 25px;
        margin-bottom: 10px;
      }

      .open-venues {
        font-size: 30px;
        font-weight: 900;
        font-style: italic;
      }

      .search-container {
        display: flex;
        justify-content: space-between;

        .search-bar {
          width: 600px;
        }
      }

      .venues-container {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        padding: 20px 0;
        h5 {
          font-weight: 300;
          opacity: 0.6;
        }

        .venues-container-live,
        .venues-container-all {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          display: flex;
          flex-wrap: wrap;
          overflow: auto;
          padding: 20px 0;
        }

        .venue-card {
          width: calc(25% - 15px);
          margin-right: 15px;
          margin-bottom: 15px;
          background-color: $dark;
          height: auto;
          border-radius: 30px;
          border: 0;
          padding: 12px;
          cursor: pointer;

          &:hover {
            box-shadow: 0 20px 30px rgba($black, 0.2);
            background-color: lighten($dark, 2%);
            .img-container {
              box-shadow: 0 4px 8px rgba($black, 0.4);
            }
          }

          .venue-name {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 4px;
          }
          .venue-subtitle {
            display: block;

            font-size: 0.8rem;
            opacity: 0.8;
            margin-bottom: 4px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .whatson-container {
            padding-top: 4px;
          }
          .whatson-title-container {
            display: block;
            color: yellow;
            font-size: 0.8rem;
            opacity: 0.6;
            margin-bottom: 4px;
          }
          .whatson-description-container-title {
            display: block;
            margin-bottom: 4px;
            font-weight: 500;
          }
          .whatson-description-container-description {
            font-size: 0.8rem;
            opacity: 0.8;
            margin-bottom: 4px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .centered-flex {
            .btn {
              display: block;
              margin-bottom: 0;
              margin-top: 10px;
            }
          }

          .img-container {
            margin-top: 10px;
            border-radius: 30px;
            height: 150px;
            overflow: hidden;
            flex: 1;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .events-list {
            overflow-y: auto;
            .event {
              margin-bottom: 5px;
              padding: 16px;
              display: flex;
              &:nth-child(even) {
                background-color: rgba($dark, 0.5);
              }
              &.event_live {
                .event-time,
                .event-text h5 {
                  color: white;
                }
              }

              .event-time {
                margin-right: 10px;
                .event-time-start,
                .event-time-end {
                  font-size: 0.9em;
                  display: inline-block;
                  width: 115px;
                  &.event-time-end {
                    opacity: 0.5;
                  }
                }
                .event-badge-live {
                  display: block;
                  margin-top: 6px;
                  border-radius: 16px;
                  background-color: rgba($primary, 0.2);
                  text-align: center;
                  color: $white;
                  padding: 2px 0;
                  font-weight: 500;
                }
              }
              .event-text {
                margin-left: 5px;
                .button-join-now {
                  color: white;
                  text-decoration: none;
                }
                .h5 {
                  margin-top: 0;
                  margin: 0;
                }
                a {
                  font-weight: normal;
                  margin-top: 0.5rem;
                  display: inline-block;
                  color: white;
                  text-decoration: underline;
                  &:hover {
                    opacity: 0.7;
                  }
                }
              }
            }
          }
        }

        @media (max-width: 1500px) {
          .venue-card {
            width: calc(33% - 20px); // minus margin on each side
          }
        }
      }
    }

    .users-container {
      padding: 30px 10px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .online-users {
        font-weight: 900;
        font-size: 30px;
        font-style: italic;
      }

      .people {
        flex: 1;
        overflow: auto;

        .user-row {
          border-radius: 20px;
          margin-top: 10px;
          padding: 5px;
          cursor: pointer;
          width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            margin-left: 10px;
          }

          .chat-icon {
            margin-right: 10px;
            visibility: hidden;
          }
        }

        .user-row:hover {
          background-color: rgba(0, 0, 0, 0.5);

          .chat-icon {
            visibility: visible;
          }
        }
      }
    }
  }
}
