@import "scss/constants.scss";

.stats-modal-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .modal-title {
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
  }
}

#popover-onlinestats {
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .open-venues {
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
  }

  .search-container {
    display: flex;
    justify-content: space-between;

    .search-bar {
      width: 600px;
    }
  }

  .venues-container {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    padding: 20px 0;

    .venue-card {
      border: 2px solid black;
      background-color: rgba(0, 0, 0, 0.9);
      border-radius: 30px;
      overflow: hidden;
      width: 300px;
      height: 400px;
      margin: 10px 10px;
      display: flex;
      flex-direction: column;
      padding: 10px;

      &:hover {
        background-color: rgba(30, 30, 30, 0.9);
        cursor: pointer;
      }

      .venue-name {
        font-size: larger;
        font-weight: bold;
      }

      .img-container {
        margin-top: 10px;
        border-radius: 30px;
        height: 150px;
        overflow: hidden;
        flex: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .venue-info-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        .whats-on-container {
          padding: 10px 20px;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.1);
          flex: 1;
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: larger;
          font-weight: bold;

          .title-container {
            display: flex;
            align-items: center;
            img {
              height: 25px;
              margin-right: 5px;
            }
          }

          .description-container {
            margin-top: 10px;
            color: $concrete;

            .yellow {
              color: $bright-yellow;
            }
          }
        }

        .btn-primary {
          background-image: none;
          background-color: $bright-yellow;
          color: $black;
          font-weight: bold;
          font-size: larger;
        }
      }
    }
  }
}

.popover {
  max-width: 100%;
}

.popover-body {
  height: 100%;
  overflow: hidden;
}
