.chatbox-container {
  all: unset;
  height: 100%;
  display: flex;
  flex-flow: column;

  .chatbox-messages-container {
    flex: 1;
    display: flex;
    flex-flow: column-reverse;
    justify-self: flex-end;
    padding: 24px 16px 0;
    overflow-x: auto;
  }

  .chatbox-input-container {
    background-color: #000;
    height: 74px;
    padding: 10px;
    display: flex;
    align-items: center;

    .chatbox-input {
      all: unset;
      outline: none;
      background-color: #19181a;
      flex: 1;
      cursor: pointer;
      font-size: 0.9em;
      padding: 12px 12px;
      border-radius: 28px;
      color: #fff;
      border: solid 2px rgba(0, 0, 0, 0.13);

      &:hover {
        border: solid 2px rgba(0, 94, 229, 0.3);
      }

      &:focus {
        border: solid 2px rgba(0, 94, 229, 0.6);
      }
    }

    .chatbox-input-button {
      outline: none;

      min-width: 44px;
      min-height: 44px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      background-color: #005ee5;

      .chatbox-input-button_icon {
        color: white;
      }
    }
  }
}
