$help-back-button-pos--top: 90px;
$help-back-button-pos--left: 25px;

.HelpCenter {
  &__iframeContainer {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__backButton {
    position: absolute;
    top: $help-back-button-pos--top;
    left: $help-back-button-pos--left;
  }

  &__iframe {
    width: 100%;
    height: 100%;
  }
}
