@import "scss/constants";

$height: 1rem;

.AdminCardTitle {
  place-content: center start;
  min-height: $height;
  line-height: $height;
  padding: 0;
  text-shadow: $text-shadow--outline;
  font-weight: $font-weight--700;
  font-size: font-size--parent();
  color: $content--over;
  margin: $spacing--md $spacing--md $spacing--sm;
  word-break: break-word;
}
