@import "scss/constants";

$label-width: 35%;
$mute-size: 32px;

.VolumeControl {
  margin: $spacing--xs;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: opaque-white(0.5);

  &__mute {
    @include square-size($mute-size);
  }

  &__slide {
    padding: 0;
    color: opaque-white(0.5);
    background-color: opaque-white(0.5);
    height: $spacing--sm;
    cursor: pointer;
    opacity: 1;

    &:hover,
    &:focus {
      //border: none;
      box-shadow: none;
      color: $primary--live;
    }
  }

  &__label {
    max-width: $label-width;
    line-height: 2 * $font-size--lg;
    font-size: $font-size--lg;
    word-wrap: normal;
    white-space: nowrap;
    margin: 0 $spacing--xs;
  }

  &--with-label &__slide {
    max-width: calc(100% - #{$label-width} - #{$spacing--md});
  }

  &--with-label#{&--with-mute} &__slide {
    max-width: calc(100% - #{$label-width} - #{$mute-size} - #{$spacing--md});
  }
}
