@import "scss/constants.scss";

$icon-size: 20px;
$venue-room-logo-size: 36px;
$tab-bar-height: 36px;

.Spaces {
  display: flex;
  flex: 1;

  &__rooms {
    width: 20%;
  }

  &__map {
    width: 80%;
    background-color: $secondary--dark;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: calc(100vh - #{$tab-bar-height});
  }

  &__upload-background-wrapper {
    background-color: $secondary--dark;
    border-radius: $border-radius--lg;
    padding: 40px;
  }

  &__upload-background-button {
    background-color: opaque-white(0.2);
    border-radius: $border-radius--xl;
    padding: $spacing--md;
    text-align: center;
  }

  &__backgrounds {
    display: flex;
    position: relative;
    overflow-x: scroll;
  }

  &__accordion {
    &-title {
      padding: 20px;
      font-size: $font-size--xl;
      font-weight: bolder;
    }

    &-item-title {
      padding: $spacing--md;
      background-color: $saturated-black;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid opaque-white(0.1);

      &:hover {
        background-color: lighten($saturated-black, 5%);
        cursor: pointer;
      }
    }
  }

  &__venue-room {
    padding: $spacing--md;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: $saturated-black;
    }
  }

  &__venue-room-logo {
    @include square-size($venue-room-logo-size);
    margin-right: $spacing--md;
    background-size: contain;
    background-position: center;
    border-radius: $border-radius--xs;
    box-shadow: 0 0 0 3px $primary;
  }

  &__footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    padding: $spacing--md;
    background-color: $black;
    border-top: 1px solid opaque-white(0.2);
  }

  &__nav-buttons {
    display: flex;
    width: 40%;
  }

  &__nav-button {
    flex-shrink: 0;
  }

  &__appearance {
    padding: 20px;
  }

  &__room-appearance-title {
    display: block;
    margin-bottom: 0.3rem;
  }

  &__room-appearance-description {
    display: block;
    margin-top: 0.2rem;
    font-size: 0.8em;
    opacity: 0.6;
  }
}
