@import "scss/constants";

.Player {
  position: relative;
  display: flex;
  border: solid 0;
  border-radius: $border-radius--xl;
  overflow: hidden;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    .Player__buttons {
      visibility: visible;
    }
  }

  &__background {
    position: absolute;
    background-color: $black;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    z-index: z(player-overlay);
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &__buttons {
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    margin: $spacing--md;
  }

  &__avatar {
    position: absolute;
    bottom: $spacing--md;
    left: $spacing--md;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: $spacing--xs;
    border: solid 0;
    border-radius: $border-radius--max;
    background-color: rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 2px 10px 0 #ffffff4d;
      cursor: pointer;
    }

    img {
      user-select: none;
    }

    &--off {
      visibility: visible;
      background: rgb(124, 70, 251);
    }
  }
}
