@import "scss/constants.scss";

$image-height: 20rem;
$image-opacity: 25%;
$title-gap: 3rem;
$close-margin: 1rem;

.CallARangerHeader {
  user-select: none;
  &__img {
    object-fit: cover;
    height: $image-height;
    width: 100%;
    opacity: $image-opacity;
  }
  &__close {
    position: absolute;
    top: $close-margin;
    right: $close-margin;
    &-button {
      height: unset;
    }
  }
  &__inner-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $title-gap;
  }
  &__quote {
    font-weight: $font-weight--300;
  }
}
