@import "scss/constants.scss";

$side-padding: 30px;

$gradient: linear-gradient(-124deg, #e15ada 0%, #6f43ff 50%, #00f6d5 100%);

$dark: #1a1d24;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

$sand: #937c63;

.event-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: -1;
}

.event-time {
  font-size: 1rem;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  margin-bottom: 20px;
}
.event-time-line {
  width: 1px;
  background-color: white;
  opacity: 0.5;
  height: 100%;
}
