.PosterHallSearch {
  display: flex;
  width: 100%;

  justify-content: center;
  margin: 30px 0;

  &__input-container {
    width: 40%;
    min-width: 300px;
  }

  &__input {
    width: 100%;
  }

  // The following styles will be removed, once we implement our own Checkbox component
  &__checkbox {
    display: flex !important;
    justify-content: center;
    align-items: center;

    height: 100%;

    .form-check-input {
      position: static;

      height: 30px;
      width: 30px;
      margin: 0;

      border-radius: 50%;
      -webkit-appearance: checkbox;
    }

    .form-check-label {
      margin-left: 5px;
    }
  }
}
