@import "scss/constants";

.ChatMessageBox {
  display: flex;
  align-items: center;
  padding-bottom: 5px;

  &__input {
    flex: 1;
  }

  &__submit-button {
    outline: none;
    border: none;
    min-width: 44px;
    min-height: 44px;
    border-radius: $border-radius--max;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    background-color: $primary;

    &:disabled {
      background-color: $saturated-black;
    }
  }

  &__submit-button-icon {
    color: $white;
  }
}
