@use "scss/attendee/border";
@use "scss/attendee/space";
@use "scss/attendee/theme";

.chatMessageBoxForm {
  padding: space.empty(1);
  display: flex;
  flex-direction: row;

  > div:first-child {
    flex-grow: 1;
  }
}

.icon {
  color: theme.$light--aux-text;
  padding-right: space.empty(1);
}
