@import "scss/constants";

$emoji-button-diameter: $submit-button-diameter - $spacing--md;

.Chatbox {
  &--question {
    background-color: $dark-green;
  }

  &__form {
    padding: $spacing--md;
    display: flex;
    align-items: center;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    margin-right: $spacing--lg;

    .InputField {
      flex-grow: 1;

      input {
        // NOTE: this removes screen artefacts of the embedded <input> inside InputField being as wide as the parent
        margin: 1px;
      }

      &__input {
        padding-right: $submit-button-diameter;
      }
    }
  }

  &__emoji-button {
    margin-left: -1 * $submit-button-diameter;
    @include square-size(
      $emoji-button-diameter,
      $emoji-button-diameter,
      $emoji-button-diameter
    );
  }

  &__buttons {
    display: flex;
    flex-grow: 0;
  }

  &__input {
    text-align: left;
    padding-left: $spacing--lg;
  }

  &__submit-button {
    min-width: $submit-button-diameter;
    min-height: $submit-button-diameter;
  }

  &__submit-button-icon {
    color: $white;
  }

  &__emoji-picker {
    position: absolute;
    bottom: 65px;
    right: 60px;
    z-index: z(chatbox-emoji-picker);

    // Override default lib styles
    .emoji-mart-search {
      margin: $spacing--sm $spacing--xs $spacing--xs $spacing--xs;
    }

    .emoji-mart-search-icon {
      top: 0;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
  }
}
