@import "scss/constants.scss";

$image-container-height: 200px;

.SpaceEditForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__portal {
    display: flex;
    flex-direction: column;

    .AdminInput,
    .AdminTextarea,
    .AdminSection {
      padding: 0px $spacing--xl;
    }
  }

  &__loading-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__content {
    padding: $spacing--xl;
  }

  .AdminSidebarFooter__buttons {
    // NOTE: Magic number determined empirically to fill the footer space in just this one case
    width: 2 * $admin-ng-sidebar-footer-buttons-width--magic-number;
  }

  .AdminSection {
    &__label {
      display: flex;
      flex-direction: column;

      .ImageInput__container {
        position: relative;
        width: 60%;
        margin-bottom: -($spacing--lg);
        align-self: center;
        height: $image-container-height;
      }
    }
  }
}
