@import "scss/constants.scss";

.SpaceEditForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $admin-ng-spaces-footer-height;

  &__room {
    display: flex;
    flex-direction: column;
    padding: $spacing--xl;
  }

  &__loading-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  &__footer {
    height: $admin-ng-spaces-footer-height;
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: $admin-ng-sidebar-width--normal;
    padding: $spacing--md;
    margin-bottom: $footer-height;
    background-color: $black;
    border-top: 1px solid opaque-white(0.2);
  }
}
