@import "../../profileModalStyles";

.ProfileModalSectionHeader {
  font-size: $content-increased-font-size;
  font-weight: $font-weight--500;
  color: $white;
  margin-bottom: $section-header-bottom-margin;
}
