@import "scss/constants.scss";

.ScheduleItem {
  display: flex;
  padding: 10px $spacing--lg;

  &:hover {
    background-color: $primary--darker;
    cursor: pointer;
  }

  &__event-dates {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__event-info {
    display: flex;
    flex: 4;
    flex-direction: column;
  }

  &__event-description {
    display: block;
    white-space: pre-wrap;
    word-break: break-word;
    opacity: 0.8;

    p {
      display: inline;
    }
  }

  &--primary {
    background-color: var(--primary-accent--under-20a);
  }

  &__event-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__event-live-label {
    padding: 5px 15px;
    background: $accent--under;
    box-shadow: 0px 0px 8px var(--primary-accent--under-80a);
    border-radius: $border-radius--xl;
  }

  &__event-time {
    font-weight: $font-weight--400;
    font-size: $font-size--md;
  }

  &__event-end-time {
    font-weight: $font-weight--400;
    font-size: $font-size--md;
    opacity: 0.6;
  }

  &__event-name {
    display: block;
    font-weight: $font-weight--500;
    font-size: $font-size--lg;
  }

  &__event-date {
    display: block;
    font-weight: $font-weight--700;
    color: $concrete;
  }

  &__event-host-prefix {
    font-weight: $font-weight--400;
    font-size: $font-size--md;
    opacity: 0.6;
  }

  &__event-host {
    font-weight: $font-weight--400;
    font-size: $font-size--md;
  }
}
