@import "scss/constants.scss";

.schedule-item-container {
  display: flex;
  padding: 10px 16px;
  margin-top: 10px;
  margin: 10px -16px 0px -16px;
  &:hover {
    background: $dark;
  }

  .time-section {
    border-right: 1px solid $concrete;
    min-width: 110px;
    margin-right: 10px;
  }

  .event-description {
    display: block;
    color: $concrete;
    white-space: pre-wrap;
  }

  .primary {
    color: $primaryColor;
  }

  .event-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .entry-room-button {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .event-time,
  .event-name {
    display: block;
    font-weight: 700;
  }
  .event-date {
    display: block;
    font-weight: 700;
    color: $concrete;
  }
  .event-host {
    font-weight: 700;
  }
}
