@import "scss/constants";

.EntranceButtonsInputFieldSet {
  display: flex;
  flex-direction: column;
  background-color: var(--content--under-lighter-10pp);
  padding: font-size--parent(1);
  border-radius: $border-radius--lg;

  > *:not(:last-child) {
    margin-bottom: font-size--parent(1);
  }

  .ButtonNG {
    align-self: center;
  }

  .Checkbox {
    justify-content: flex-start;
  }
}
