.private-chat-preview-container {
  display: flex;
  justify-content: flex-start;
  padding: 8px 24px;
  width: 100%;
  align-items: center;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: black;
  }

  .private-chat-preview-content {
    margin-left: 16px;
    max-width: 60%;

    .private-chat-preview-username {
      font-size: 13px;
      opacity: 0.7;

      &--highlight {
        font-weight: 500;
        color: white;
        opacity: 1;
      }
    }
    .private-chat-preview-text {
      font-size: 11px;
      opacity: 0.35;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &--highlight {
        color: white;
        opacity: 0.7;
      }
    }
  }

  .private-chat-preview-time {
    margin-left: auto;
    font-size: 10px;
    opacity: 0.35;

    &--highlight {
      opacity: 0.7;
    }
  }
}
