.SlidersPanel {
  display: flex;
  position: relative;
  width: 100%;

  .column {
    margin: 25px 20px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .space {
    margin: auto;
  }

  .row {
    display: flex;
  }

  label {
    max-height: 15px;
    width: 100%;
    display: flex;
  }

  input {
    margin: 2px;
    margin-left: auto;
    padding: 3px;
    width: 85%;
    max-height: 15px;
  }
}
