@import "scss/constants.scss";

.reaction-page-container {
  flex-direction: column;

  .title {
    margin-bottom: 20px;
  }

  .message-bubble {
    font-size: 30px;
    background: $primaryColor;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 22px;
  }
  .message {
    display: flex;

    img {
      margin-right: 20px;
    }
  }
}
