@import "scss/constants.scss";

.EventsView {
  background-color: $black;
  position: relative;
  height: 75%;
  width: 85%;
  border-radius: $border-radius--xl;
  box-shadow: box-shadow--large();
  overflow: scroll;

  &__title {
    margin: $spacing--lg;
    font-weight: $font-weight--500;
    font-size: $font-size--xl;
  }

  &__content > .TimingEvent:nth-of-type(odd) {
    background-color: $secondary--dark;
  }

  .TimingEvent {
    display: flex;
    width: 100%;
    color: $concrete;
    padding: $spacing--lg;

    &__time {
      position: relative;
      display: inline;
      float: left;
      width: 15%;

      p {
        margin: 0px;
      }

      &-start {
        font-weight: $font-weight--700;
        color: $white;
        margin-top: $spacing--xl;
      }
    }

    &__details {
      &-name {
        font-weight: $font-weight--700;
        color: $white;
        font-size: $spacing--lg;
      }

      &-host {
        font-weight: $font-weight--600;
      }

      &-room {
        span {
          font-weight: $font-weight--700;
        }

        font-size: $font-size--sm;
      }

      p {
        margin: 0px;
      }

      position: relative;
      display: inline;
      width: 75%;
    }

    &__edit-button {
      outline: none;
      border: none;
      width: $submit-button-diameter;
      height: $submit-button-diameter;
      border-radius: $border-radius--max;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background-color: $primary;

      &__icon {
        color: $white;
      }
    }
  }

  &__no-events {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.create-button {
  width: 85%;
  margin-top: $spacing--sm;

  .btn {
    width: 200px;
    display: inline;
    float: right;
  }
}
