@import "scss/constants.scss";

.EventsView {
  padding: 5vh;
  width: 85%;

  &__container {
    height: 60vh;
    background-color: $primary-content-under;
    border-radius: $border-radius--xl;
    box-shadow: box-shadow--large();
    overflow-y: scroll;
  }

  &__header {
    margin: $spacing--xl $spacing--xxl;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checkbox {
    font-size: $font-size--lg;
    user-select: none;
  }

  &__title {
    margin: 0;
    font-weight: $font-weight--700;
    font-size: $font-size--xl;
  }

  &__content > .TimingEvent:nth-of-type(odd) {
    background-color: $secondary--dark;
  }

  .TimingEvent {
    display: flex;
    width: 100%;
    color: $concrete;
    padding: $spacing--lg;

    &__time {
      position: relative;
      display: inline;
      float: left;
      width: 15%;

      p {
        margin: 0px;
      }

      &-start {
        font-weight: $font-weight--700;
        color: $primary-content--over;
        margin-top: $spacing--xl;
      }
    }

    &__details {
      &-name {
        font-weight: $font-weight--700;
        color: $primary-content--over;
        font-size: $spacing--lg;
      }

      &-host {
        font-weight: $font-weight--600;
      }

      &-room {
        span {
          font-weight: $font-weight--700;
        }

        font-size: $font-size--sm;
      }

      p {
        margin: 0px;
      }

      position: relative;
      display: inline;
      width: 75%;
    }

    &__edit-button {
      outline: none;
      border: none;
      width: $submit-button-diameter;
      height: $submit-button-diameter;
      border-radius: $border-radius--max;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background-color: $primary-accent--under;

      &__icon {
        color: $primary-content--over;
      }
    }
  }

  &__no-events {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__create {
    margin-top: $spacing--sm;
    display: flex;
    justify-content: flex-end;
  }
}
