$side-padding: 30px;
$primary: #d0021b;
$black: #000000;
$white: #fff;
$green: #1ba52e;
$blue: #227afa;
$pink: #ffa7ee;

$gradient: linear-gradient(0deg, #ac12fe 0%, #8d11fe 100%);

$dark: #19181a;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

.avatar-grid-container {
  position: relative;
  z-index: 8;
  left: 0;
  width: 100%;
  max-width: 1440px;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  padding: 20px;

  .seat-row {
    width: 100%;
    height: 100%;
  }

  .seat-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .seat {
    width: 80%;
    height: 80%;
    border-radius: 100%;
    position: relative;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .user {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
    }

    .profile-avatar {
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  .not-seat {
    width: 80%;
    height: 80%;
    position: relative;
    background-color: white;
    opacity: 0.1;
    border-radius: 100%;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  .adjacent {
    opacity: 0.3;
  }

  .near-adjacent {
    opacity: 0.2;
  }
}

.avatargrid-chat-drawer-container {
  position: absolute;
  right: 0;
  top: 70px;
}

.announcement-container {
  display: block;
  z-index: 100;
  position: absolute;
  background: #3e3e3e;
  top: 66px;
  left: 50%;
  width: 500px;
  margin: 0 auto 0 -250px;

  padding: 20px 35px 40px 35px;
  border-radius: 0 0 50px 50px;
  text-align: center;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    :hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}

.grid-rooms-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  z-index: 2;
  pointer-events: none;
  user-select: none;

  .grid-room {
    pointer-events: all;
    position: absolute;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 20px;
    cursor: pointer;
    padding: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-position: center;
    background-size: cover;

    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      background-image: linear-gradient(
        -180deg,
        rgba(darken($blue, 15%), 0) 0%,
        darken($blue, 15%) 100%
      );
    }

    &.grid-room-blue {
      background-color: darken($blue, 15%);
      box-shadow: inset 0 0 0 3px $blue, 0 0 12px $blue;
      background-size: cover;
      &:hover {
        box-shadow: inset 0 0 0 3px $blue, 0 0 30px 30px rgba($blue, 0.3);
      }
    }

    &.grid-room-blue.hitting-room {
      transform: scale(1.06);
      box-shadow: inset 0 0 0 3px $blue, 0 0 30px 30px rgba($blue, 0.3);
    }

    &:hover {
      transform: scale(1.06);
      .grid-room-info-btn {
        opacity: 0.6;
        transform: scale(1);
      }
    }
    &:active {
      transform: scale(0.98);
    }

    .grid-room-info-btn {
      display: flex;
      justify-content: center;
      align-content: center;
      align-self: center;
      position: absolute;
      height: 30px;
      width: 30px;
      right: 5px;
      top: 5px;
      background-color: transparent;
      background-size: 30px 30px;
      opacity: 0;
      transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
      transform: scale(0.6);
      &:hover {
        opacity: 1;
      }
    }

    .grid-room-info-btn.hitting-room {
      opacity: 0.6;
      transform: scale(1);
    }

    .grid-room-bg {
      width: 100%;
      border-radius: 14px 14px 0 0;
      background-position: center;
      background-size: cover;
    }

    .grid-room-title {
      line-height: 1;
      text-align: center;
      text-shadow: 0 2px 4px rgba($black, 0.4);
      word-break: break-all;

      /* Non standard for webkit */
      word-break: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
    }

    .grid-room-infos {
      position: relative;
      margin-top: 10px;
      width: 100%;

      .grid-room-people {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 1;
        transform: translateY(0) scale(1);

        .grid-room-avatar {
          width: 24px;
          height: 24px;
          background-color: rgba($black, 0.4);
          border-radius: 12px;
          margin-right: 4px;
          cursor: pointer;
          background-size: cover;
          background-position: center;
          box-shadow: 0 2px 4px rgba($black, 0.4);
          &:last-child {
            margin-right: 0px;
          }

          &.grid-room-avatar-more {
            text-align: center;
            line-height: 24px;
            font-size: 0.8rem;
            box-shadow: none;
          }
        }
      }

      .grid-room-people.hitting-room {
        opacity: 0;
        transform: translateY(20px) scale(0.8);
      }

      .grid-room-btn {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
      }

      .grid-room-btn.hitting-room {
        opacity: 1;
        transform: translateY(2px) scale(1);
      }
    }

    &:hover {
      .grid-room-infos {
        .grid-room-people {
          opacity: 0;
          transform: translateY(20px) scale(0.8);
        }
        .grid-room-btn {
          opacity: 1;
          transform: translateY(2px) scale(1);
        }
      }
    }
  }
}

div.btn {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  padding: 1em 20px 1em;
  font-size: 1em;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: $primary;
  box-shadow: inset 0 0 0 3px $primary;
  transition: box-shadow 400ms, background-color 400ms, color 400ms,
    opacity 400ms, transform 1400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: $border-radius;
  transform: translateY(0px);

  &.btn-big {
    padding: 1em 30px 1em;
    font-size: 1.2em;
  }
  &.btn-small {
    padding: 0.7em 5px 0.7em;
    font-size: 0.8em;
  }
  &:hover {
    color: darken($primary, 5%);
    box-shadow: inset 0 0 0 3px rgba($primary, 0.2);
    transform: translateY(-1px);
  }

  &.btn-primary {
    background-color: $primary;
    color: $white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    &:hover {
      color: $white;
      background-color: darken($primary, 5%);
    }
  }

  &.btn-link {
    color: $primary;
    background-color: transparent;

    &:after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 6px;
      left: 20px;
      width: calc(100% - 40px);
      background-color: rgba($primary, 0.2);
    }

    &:hover {
      color: darken($primary, 20%);
      &:after {
        background-color: rgba($primary, 0.5);
      }
    }

    &.btn-link_disabled {
      color: rgba($black, 0.5);
      cursor: auto;
      &:after {
        display: none;
      }
    }
  }
  &.btn-white {
    background-color: white;
    color: $black;
    box-shadow: none;
    &:hover {
      color: rgba($black, 0.6);
    }
    &:disabled {
      background-color: rgba($white, 0.1);
      color: rgba($white, 0.6);
    }
  }
  &.btn-block {
    display: block;
    text-align: center;
  }
  &.btn-disabled {
    cursor: not-allowed;
    background-color: $black;
    box-shadow: none;
    color: rgba($white, 0.6);
  }
}
