.avatar-grid-container {
  display: flex;
  flex: 1;
  padding-left: 30vh;
  padding-right: 30vh;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 38%;

  .room-title {
    border: 1px white solid;
    padding-top: 5px;
    border-radius: 14px;
    position: absolute;
    border-width: 2;
    z-index: 1;
    border-color: #3e3838;
    background-color: #3e3838;
    text-align: center;
    margin-top: 38%;
    margin-left: 30vh;
    margin-right: 30vh;
  }

  .room-border {
    position: absolute;
    border-width: 2;
    border-radius: 14px;
    border-color: green;
    background-color: rgba(0, 255, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 38%;
    margin-left: 30vh;
    margin-right: 30vh;
  }

  .seat-row {
    display: flex;
    flex-direction: column;
  }

  .seat {
    margin: 0.5vh;
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 100%;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .user {
      border-radius: 100%;
      width: 3vh;
      height: 3vh;
    }

    .me {
      border: purple 1px solid;
    }

    .profile-avatar {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .not-seat {
    margin: 0.5vh;
    width: 3vh;
    height: 3vh;
    background-color: white;
    opacity: 0.1;
    border-radius: 100%;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.chat-container {
  position: absolute;
  right: 0;
  top: 70px;
}
