$green: #1ba52e;

.avatar-grid-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;

  .room-title {
    border: 1px white solid;
    padding-top: 5px;
    border-radius: 14px;
    position: absolute;
    border-width: 2;
    z-index: 1;
    border-color: #3e3838;
    background-color: #3e3838;
    text-align: center;
  }

  .room-border {
    position: absolute;
    border-width: 2;
    border-radius: 14px;
    border: solid 2px $green;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
    background-color: rgba(0, 255, 0, 0.2);
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 0 3px $green, 0 0 20px $green;
    }
  }

  .room-area {
    position: absolute;
    border-width: 2;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .seat-row {
    display: flex;
    flex-direction: column;
  }

  .seat {
    margin: 0.5vh;
    width: 3vh;
    height: 3vh;
    background-color: white;
    border-radius: 100%;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .user {
      border-radius: 100%;
      width: 3vh;
      height: 3vh;
    }

    .me {
      border: purple 1px solid;
    }

    .profile-avatar {
      border-radius: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .not-seat {
    margin: 0.5vh;
    width: 3vh;
    height: 3vh;
    background-color: white;
    opacity: 0.1;
    border-radius: 100%;

    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }

    &:active {
      opacity: 0.6;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.chat-container {
  position: absolute;
  right: 0;
  top: 70px;
}

.announcement-container {
  display: block;
  z-index: 100;
  position: absolute;
  background: #3e3e3e;
  top: 66px;
  left: 50%;
  width: 500px;
  margin: 0 auto 0 -250px;

  padding: 20px 35px 40px 35px;
  border-radius: 0 0 50px 50px;
  text-align: center;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    :hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}
