@import "scss/constants.scss";

.ProfileModalQuestions {
  &__question-container {
    margin-bottom: 0.7rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__answer {
    margin-top: 4px;
  }
  &__answer-input {
    margin-top: 0.7rem;
  }
  &__question {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 0;
  }
}
