@use "scss/attendee/layout";
@use "scss/attendee/space";

.privateChatPreviewContainer {
  margin-bottom: space.empty(1.5);
  display: flex;
  flex-direction: row;
  text-align: left;

  &__highlight {
    .chatPreviewText {
      font-weight: 600;
    }
  }
}

.chatBodyContainer {
  margin-left: space.empty(0.5);
  cursor: pointer;
}

.chatPreviewInfo {
  display: flex;
}

.chatPreviewInfoTime {
  margin-left: space.empty(0.5);
  color: #888888;
}
