@import "scss/constants";

.SectionPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;

  padding: $spacing--lg;
  height: 100%;
  width: 100%;

  background-color: $dark;
  border-radius: $medium-border-radius;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &--locked {
    cursor: not-allowed;
  }

  &--empty {
    .SectionPreview__title {
      opacity: 0.7;
    }
  }

  &__status-icons {
    position: absolute;
    top: $spacing--xs;
    right: $spacing--xs;
    justify-content: flex-end;
  }

  &__lock-icon {
    margin-left: $spacing--xs;
  }

  &__title {
    font-size: $font-size--lg;
    font-weight: $font-weight--500;
  }

  &__people-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacing--xs;
  }

  &__people-count-number {
    font-size: $font-size--md;
    margin-left: $spacing--xs;
  }
}
