$spacing: 15px;

.section-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  position: relative;

  padding: $spacing;
  height: 100%;
  width: 100%;

  background-color: #1a1d24;
  border-radius: 16px;

  cursor: pointer;

  &--full,
  &--locked {
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
  }

  &__status-icons {
    position: absolute;
    top: 5px;
    right: 5px;
    justify-content: flex-end;

    &__lock {
      margin-left: 5px;
    }
  }

  &__title {
    font-size: 15px;
    font-weight: 500;
  }

  &--empty {
    .section-preview__title {
      opacity: 0.7;
    }
  }

  &__people-count {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;

    &__number {
      font-size: 13px;
      margin-left: 5px;
    }
  }
}
