@import "scss/constants.scss";

.profile-modal-container {
  padding: 30px;

  .user-information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile-modal-avatar {
    margin-right: 10px;
  }

  .profile-modal-container {
    padding: 30px;
  }

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .question-section {
    margin-bottom: 30px;
  }

  .question {
    color: $concrete;
  }

  .answer {
    font-size: 20px;
  }

  .modal-title {
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
    text-decoration: underline;
  }

  input {
    margin-bottom: 10px;
  }

  .text-container {
    overflow: hidden;
    font-size: 12px;
  }
}
