@import "scss/constants.scss";

#profile-popover {
  &.popover {
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: $white;
    }

    &::-webkit-scrollbar {
      width: 8px;
      background-color: $white;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba($white, 0.1);
    }
  }
}

.profile-modal-container {
  position: relative;
  overflow: auto;
  padding: 30px;
  background: $black;
  background-image: linear-gradient(
    0deg,
    rgba($white, 0.05) 0%,
    rgba($white, 0.05) 100%
  );
  border-radius: 22px;

  .user-information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .profile-modal-avatar {
    margin-right: 10px;
  }

  .profile-modal-container {
    padding: 30px;
  }

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .question-section {
    margin-bottom: 30px;
  }

  .question {
    color: $concrete;
  }

  .answer {
    font-size: 20px;
  }

  .modal-title {
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
  }

  input {
    margin-bottom: 10px;
  }

  .text-container {
    overflow: hidden;
    font-size: 12px;
  }

  .checkbox {
    margin-bottom: 0px;
  }

  input[type="checkbox"] {
    margin-bottom: 0px;
  }

  .title {
    margin-top: 0px;
  }
}
