@import "scss/constants.scss";

$profile-popover--margin-top: 12px;

#profile-popover {
  margin-top: $profile-popover--margin-top;

  &.popover {
    @include scrollbar;
    border-radius: 0 0 $border-radius--xl $border-radius--xl;
  }
}

.ProfilePopoverContent {
  position: relative;
  overflow: auto;
  padding: $spacing--md;
  background: $black;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    rgba($white, 0.05) 0%,
    rgba($white, 0.05) 100%
  );
  border-radius: 22px;
  font-family: "Rubik", sans-serif;

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .question-section {
    margin-bottom: 30px;
    font-size: 14px;
    color: white;
  }

  .question {
    opacity: 0.6;
  }

  .modal-title {
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .checkbox {
    margin-bottom: 0px;
  }

  input[type="checkbox"] {
    margin-bottom: 0px;
  }

  .title {
    margin-top: 0px;
  }
}
