@import "scss/constants.scss";

$spacing: 15px;

.announcement-container {
  display: block;
  z-index: z(announcement);
  position: absolute;
  background: $primary;
  top: 66px;
  // NOTE: Currently, the sidebar takes 20% of the screen, thus 40% is half of map's occupation
  left: calc((100% - #{$map-sidebar-width}) / 2);
  width: 500px;
  margin: 0 auto 0 -250px;

  &.center {
    left: 50%;
  }

  padding: $spacing 0;
  border-radius: 0 0 20px 20px;
  text-align: center;

  .close-button {
    cursor: pointer;
    position: absolute;
    top: $spacing;
    right: $spacing;
    :hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }
}

.announcement-message {
  margin: 0px 30px;
}
