@import "scss/constants.scss";

$spacing: 15px;
$close-icon-width: 20px;
$message-margin: $spacing + $close-icon-width + 5px;
$action-button-height: 30px;
$action-button-padding: 6px;

.AnnouncementMessage {
  display: block;
  position: relative;
  background: $primary;
  width: $announcement-container-width;
  transition: left 0.1s linear;
  padding: $spacing 0;
  border-radius: $border-radius--xl;
  text-align: center;

  &--fullscreen {
    top: 35%;
    left: 35%;
    position: fixed;
    z-index: 123;
    width: $announcement-container-width-fullscreen;
  }

  &--user {
    left: 25%;
    position: absolute;
    z-index: 2;
  }

  &__default-text {
    opacity: 0.6;
  }

  &__title {
    font-size: $font-size--xl;
  }

  &__content {
    font-size: $font-size--md;
    margin: 0 $message-margin;
  }

  &__action-button {
    display: inline-block;
    background-color: $primary--darker;
    min-width: $announce-button-width;
    min-height: $action-button-height;
    font-size: $font-size--md;
    font-weight: $font-weight--500;
    padding: $action-button-padding $spacing--lg;
  }

  &__close-button {
    cursor: pointer;
    position: absolute;
    top: $spacing;
    right: $spacing;
    &:focus,
    &:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
  }

  &__container {
    top: 66px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: z(announcement);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;

    &--centered {
      bottom: 0;
      position: fixed;
      display: flex;
      align-items: center;
      background-color: opaque-black(0.6);
    }

    &--admin {
      position: initial;
    }

    &--canceled {
      position: relative;
      top: 0;
    }
  }
}
