@import "scss/constants.scss";

.PortalsTable {
  grid-template-columns: 1fr;
  border-radius: $border-radius--xl;
  overflow: hidden;
  box-shadow: box-shadow--large(var(--content--under));

  > * {
    margin: 0;
    padding: $spacing--md;
  }

  > :nth-child(odd) {
    background-color: var(--content--under-lighter-10pp);
  }

  > :nth-child(even) {
    background-color: var(--content--under-darker-10pp);
  }
}
