@import "scss/constants";

.chatbox-container {
  padding: 10px;
  border-radius: 22px;
  background: $dark;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.chatbox-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.message-container {
  overflow: scroll;
  margin: 10px 10px;

  .chat-message {
    margin-bottom: 10px;
  }
}

.side-title-icon {
  margin-right: 10px;
}

.chat-input {
  text-align: left;
  background: $black;
  padding: 10px 15px;

  &:hover {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.chat-form {
  display: flex;
  align-items: baseline;
  margin: 0px 7px;
}

.chat-submit-button {
  z-index: 1;
  border: none;
}

.submit-icon {
  margin-left: -40px;
}

.avatar-picture {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
