@import "scss/constants";

.chatbox-container {
  padding: 10px;
  border-radius: 22px;
  background: $dark;
  display: flex;
  flex-direction: column;
  height: 100%;

  .picture-logo {
    margin-right: 10px;
    border-radius: 50%;
  }
  .discussion-partner-info {
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .profile-picture {
    border-radius: 50%;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
}

.chatbox-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.message-container {
  margin: 10px 10px;
  overflow: auto;

  .chat-message {
    margin-bottom: 10px;
  }
}

.side-title-icon {
  margin-right: 10px;
}

.chat-input {
  text-align: left;
  background: $black;
  padding: 10px 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  &:hover {
    box-shadow: none;
  }
  &:focus {
    box-shadow: none;
  }
}

.chat-form {
  display: flex;
  align-items: baseline;
}

.chat-submit-button {
  z-index: z(chatbox-submit-button);
  background-color: #000000;
  border: none;
  padding: 10px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.submit-icon {
  color: white;
}

.avatar-picture {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.dropdown-container {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;

  .recipient-label {
    margin-right: 10px;
  }

  .dropdown-toggle {
    background: $black;
    color: $white;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 22px;
  }

  .show {
    border-radius: 22px;
  }

  .dropdown-item {
    text-decoration: none;
    &:hover {
      background: $primaryColor;
      color: $black;
    }
  }
}
