$side-padding: 30px;
$primary: #7c46fb;
$black: #000000;
$white: #fff;

$gradient: linear-gradient(-124deg, #e15ada 0%, #6f43ff 50%, #00f6d5 100%);

$dark: #1a1d24;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

.navbar.navbar_splash {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba($black, 0.2);
  border-bottom: 1px solid rgba($white, 0.2);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);

  .navbar-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    padding: 8px 20px;

    .btn {
      margin: 0;
      margin-left: 10px;
    }
    a.navbar-link {
      display: block;
      color: white;
      height: 44px;
      line-height: 44px;
      padding: 0 10px;
      font-weight: 400;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Splash page

.splash-container {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url("../img/splash-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.splash-header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 200px 40px 0;
  max-width: 680px;
  margin: 0 auto 180px;
  text-align: center;
  .sparkleverse-logo-big {
    position: relative;
    width: 128px;
    height: 128px;
    background-image: url("../img/sparkleverse-logo-big.png");
    background-size: 128px 128px;
    margin: auto;
    margin-bottom: 34px;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);

    &:hover {
      transform: scale(1.2) rotate(40deg);
    }

    &:active {
      transform: scale(1.1) rotate(20deg);
    }
  }
  .sparkleverse-type-big {
    position: relative;
    width: 410px;
    height: 56px;
    background-image: url("../img/sparkleverse-type-big.png");
    background-size: 410px 56px;
    margin: auto;
    margin-bottom: 8px;
  }
  h3 {
    font-weight: 300;
  }
}

.splash-waitinglistbox {
  position: relative;
  z-index: 2;
  width: 90%;
  padding: 30px;
  max-width: 300px;
  margin: 0 auto 100px;
  text-align: center;
  background-color: rgba($black, 0.5);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: $border-radius;
}

.splash-demoscreen {
  position: absolute;
  z-index: 1;
  width: 70%;
  max-width: 1100px;
  right: -20%;
  top: 540px;
  height: auto;
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
  }
}

.splash-features {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  padding: 0 40px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }
  .splash-feature-img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.3);
    img {
      width: 100%;
    }
  }
  .splash-feature-container-1 {
    grid-column: 1 / 6;
    grid-row: 1;
    margin-bottom: 20px;
  }
  .splash-feature-container-2 {
    grid-column: 1 / 6;
    grid-row: 2;
    margin-bottom: 20px;
  }
  .splash-feature-container-3 {
    grid-column: 7 / 13;
    grid-row: 2;
  }
}

.splash-quotes {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1000px;
  padding: 0 40px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  span.quote {
    position: relative;
    display: block;
    margin-bottom: 16px;
    &:before {
      content: "";
      position: absolute;
      width: 36px;
      height: 20px;
      left: -40px;
      top: -10px;
      background-image: url("../img/splash-quote-before.png");
      background-size: 36px 20px;
    }
    &:after {
      content: "";
      position: absolute;
      width: 36px;
      height: 20px;
      right: -30px;
      bottom: -10px;
      background-image: url("../img/splash-quote-before.png");
      background-size: 36px 20px;
      transform: scaleX(-1);
      opacity: 0.7;
    }
  }
  .quote-author {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    .quote-author-pic {
      height: 44px;
      width: 44px;
      background-color: rgba($white, 0.2);
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .quote-author-text {
      margin-top: 4px;
      margin-left: 10px;
      span {
        display: block;
        &.quote-author-name {
          font-weight: 500;
        }
        &.quote-author-role {
          font-size: 0.9rem;
        }
      }
    }
  }
  .splash-quote-container-1 {
    grid-column: 1 / 6;
    grid-row: 1;
    margin-bottom: 20px;
  }
  .splash-quote-container-2 {
    grid-column: 8 / 13;
    grid-row: 1;
    margin-bottom: 20px;
    margin-top: 20px;
    span.quote {
      font-size: 1.2rem;
    }
  }
  .splash-quote-container-3 {
    grid-column: 3 / 9;
    grid-row: 2;
  }
}

.splash-footer {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 20px 40px;
  margin-top: 120px;
  text-align: center;
  border-top: 1px solid rgba($white, 0.2);
  font-size: 0.8rem;
  opacity: 0.6;
}

@media (max-width: 600px) {
  .splash-features {
    padding: 0 60px;
    .splash-feature-container-1 {
      grid-column: 2 / 12;
      grid-row: 1;
    }
    .splash-feature-container-2 {
      grid-column: 2 / 12;
      grid-row: 2;
    }
    .splash-feature-container-3 {
      grid-column: 2 / 12;
      grid-row: 3;
    }
  }
  .splash-quotes {
    padding: 0 60px;
    .splash-quote-container-1 {
      grid-column: 2 / 12;
      grid-row: 1;
    }
    .splash-quote-container-2 {
      grid-column: 1 / 13;
      grid-row: 2;
    }
    .splash-quote-container-3 {
      grid-column: 2 / 12;
      grid-row: 3;
    }
  }
}
