.room-list-title {
  font-weight: 700;
  margin-bottom: 10px;
}

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rooms-container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 30px;
}

.rooms-container {
  display: flex;
  flex-wrap: wrap;
}
