@import "scss/constants.scss";

.ImageOverlay {
  padding: $image-overlay-padding;
  border-radius: $border-radius--xl;
  backdrop-filter: $image-overlay-backdrop-filter;
  background: opaque-white(0.2);
  color: $primary-content-over;
  text-shadow: 0 1px 2px opaque-black(0.25);
  white-space: nowrap;
  font-weight: $font-weight--500;
  cursor: pointer;
  user-select: none;
  &--disabled {
    color: $light-grey--lightest;
    cursor: initial;
  }
}
