@use "scss/attendee/space";
@use "scss/attendee/theme";
@use "scss/attendee/border";
@use "scss/attendee/font";
@use "scss/attendee/effects/sparkle";

.button {
  @include sparkle.color--glass;
  @include font.core;
  padding: 0 space.empty(1);
  height: space.item(1);
  margin: space.gap(1);
  border-radius: border.$radius--xs;
  white-space: nowrap;
  cursor: pointer;
  border: none;

  &:focus {
    // removes blue highlighting on mobile tap
    -webkit-tap-highlight-color: transparent;
  }
}

.variant-primary {
  @include sparkle.color--glass;
}

.variant-intensive {
  background: theme.$c-button-bg;
}

.variant-danger {
  background: theme.$c-danger-bg;
}

.variant-alternative {
  background: transparent;

  &.disabled {
    background: transparent;
    opacity: theme.$disabled-opacity;
  }
}

.variant-login {
  color: theme.$c-login-button--fg;
  background-color: theme.$c-login-button--bg;
  border-color: theme.$c-login-button--eg;
}

// @debt remove this workaround after you make sure this attendee button doesn't inherit admin's initial.scss styles
.variant-login-primary {
  &,
  &[type="submit"] {
    @include sparkle.color--glass;
  }
}

.border-alternative {
  border: border.$width--slim solid theme.$c-button-fg;
}

.border-login {
  border: border.$width--slim solid theme.$c-login-button--eg;
}

.transparent {
  background: transparent;
  backdrop-filter: none;
}

.disabled {
  background-color: theme.$c-button-disabled-background;
  color: theme.$c-button-disabled-foreground;
  cursor: default;
}

.borderRadiusNone {
  border-radius: 0;
}

.buttonMarginNone {
  margin: 0;
}

.large {
  font-size: font.$size--xl;
}
