@use "scss/attendee/mixins.scss"as *;
@use "scss/attendee/variables.scss"as *;

.Button {
  @include sparkle-color-glass;
  padding: 0 $whitespace;
  height: $element-height-normal;
  margin: $button-gap;
  border-radius: $border-radius-normal;
  white-space: nowrap;
  cursor: pointer;
}
