@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/font";
@use "scss/attendee/effects/sparkle";

.button {
  @include sparkle.color--glass;
  @include font.core;
  padding: 0 space.empty(1);
  height: space.item(1);
  margin: space.gap(1);
  border-radius: border.$radius--xs;
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

.buttonPrimary {
  @include sparkle.color--glass;
}

.buttonAlternative {
  background: transparent;
}

.buttonAlternativeBorder {
  background: transparent;
  border: 1px solid white;
}
