{
  "verbose": true,
  "credentials": "./simulator/simulator.credentials.json",
  "projectId": "same project id as in the credentials file",

  "user": {
    "scriptTag": "user-simulator",
    "count": 100
  },

  "venue": {
    "id": "venue id",
    "minRow": -12,
    "maxRow": 12,
    "minCol": -12,
    "maxCol": 12
  },
  "seat": {
    "tick": 1000,
    "chunkSize": 100,
    "affinity": 0.01
  },
  "chat": {
    "chunkSize": 100,
    "tick": 9999,
    "affinity": 0.01
  }
}
