// NOTE: JSON5 is superset of JSON with some added functionalities @see https://json5.org/
// NOTE: JSON5 makes it easier for people to write config files while JSON is more geared for data transfer

// this is your credentials file
// it can be extracted from the ./functions/.runtimeconfig.json file
// from the field named service_account
// and the final step should be to
// replace all the double \\n with \n in the contents

// all *.credentials.json and *.credentials.json5 files are ignored in this directory
// so you can have multiple of them, depending on which environment is being tested

{
  "client_email": "",
  "auth_uri": "",
  "auth_provider_x509_cert_url": "",
  "project_id": "",
  "client_id": "",
  "token_uri": "",
  "client_x509_cert_url": "",
  "private_key": "",
  "private_key_id": "",
  "type": ""
}
