@import "scss/constants.scss";

$side-padding: 10px 30px;

$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$modal-max-width: 540px;

.question {
  margin-bottom: 0;
}

.light {
  opacity: 0.8;
}

.modal-container {
  width: calc(100% - 20px);
  max-width: $modal-max-width;
  margin: 0 auto;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: left;
  border-radius: $border-radius;

  margin-bottom: 1rem;
  h6 {
    margin-bottom: 0.5rem;
  }
}

.modal-container.modal-container_profile {
  .profile-information-container {
    padding: $side-padding;
  }

  .private-chat-container {
    height: 300px;
    overflow-wrap: break-word;
  }

  .profile-basics {
    display: grid;
    grid-template-columns: 110px 1fr; /* 250px + "largeur restante" */
    grid-gap: 20px;
    margin-bottom: 1rem;
    align-items: center;
    .profile-pic {
      height: 110px;
      width: 110px;
      border-radius: 55px;
      overflow: hidden;
      grid-column: 1;
      grid-row: 1;

      img {
        width: 100%;
      }
    }
    .profile-text {
      grid-column: 2;
      grid-row: 1;
    }
  }

  .visits {
    display: flex;
    background-color: $dark;
    border-radius: 22px;
    padding: 15px;
    justify-content: space-evenly;

    .separator {
      border: 1px solid $concrete;
      border-radius: 22px;
    }

    .visit-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .visit-item__value {
        font-weight: 900;
        font-size: 1.3em;
      }

      .visit-item__label {
        color: $concrete;
      }
    }
  }

  .badges-container {
    padding: 15px;

    .badges-title {
      color: $concrete;
    }

    .badge-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }

    .badge-list-item-image {
      width: 40px;
      height: 40px;
      border-radius: 22px;
    }
  }
}
