@import "scss/constants.scss";

$side-padding: 10px 30px;

$border-radius: 28px;
$large-shadow: box-shadow--large(0.34);
$modal-max-width: 540px;

$profile-link--spacing: 10px;
$profile-link--padding: 6px 18px;

.UserProfileModal {
  &__icon--bookmark {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__profile-link {
    margin-right: $profile-link--spacing;
    margin-bottom: $profile-link--spacing;
    display: inline-block;
    background: pink;
    border-radius: $border-radius;
    padding: $profile-link--padding;
    text-decoration: none;
    background: $secondary;

    &:hover {
      text-decoration: none;
      color: $white;
      background: $secondary--light;
    }
  }
}

.question {
  margin-bottom: 0;
}

.light {
  opacity: 0.8;
}

.modal-container {
  width: calc(100% - 20px);
  max-width: $modal-max-width;
  margin: 0 auto;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: left;
  border-radius: $border-radius;

  margin-bottom: 1rem;
  h6 {
    margin-bottom: 0.5rem;
  }
}

.modal-container.modal-container_profile {
  .profile-information-container {
    padding: $side-padding;
    position: relative;
  }

  .private-chat-container {
    .chat-container {
      height: 300px;
      overflow-wrap: break-word;
    }
  }

  .profile-basics {
    display: grid;
    grid-template-columns: 110px 1fr; /* 250px + "largeur restante" */
    grid-gap: 20px;
    margin-bottom: 1rem;
    align-items: center;
    .profile-pic {
      height: 110px;
      width: 110px;
      border-radius: 55px;
      overflow: hidden;
      grid-column: 1;
      grid-row: 1;

      img {
        width: 100%;
      }
    }
    .profile-text {
      grid-column: 2;
      grid-row: 1;
    }
  }
}
