@import "../../../../styles";

$background: rgba(255, 255, 255, 0.2);
$background-hover: rgba(255, 255, 255, 0.3);

.ProfileModalLink {
  background-color: $background;
  border-radius: $input-border-radius;
  backdrop-filter: $input-backdrop-filter;
  padding: 6px 18px 6px 12px;
  text-shadow: $input-text-shadow;
  color: $white;

  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: $white;
    background-color: $background-hover;
  }
}
