@import "scss/constants.scss";

$visibility-width: 90px;
$visibility-item-height: 160px;
$portal-image-height: $visibility-width;
$portal-image-width: 75px;

.PortalVisibility {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;

  &__item {
    border-radius: $border-radius--xl;
    background-color: opaque-white(0.12);
    text-align: center;
    width: $visibility-width;
    height: $visibility-item-height;
    margin: $spacing--sm $spacing--xs $spacing--xl $spacing--xs;
    cursor: pointer;
    font-size: $font-size--sm;
    padding: $spacing--sm;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: $border-radius--xxs solid transparent;

    &:hover {
      background-color: opaque-white(0.16);
    }

    &-image {
      background-image: url(/assets/images/label-carousel.png);
      height: $portal-image-height;
      width: $portal-image-width;
      margin-bottom: $spacing--sm;
      background-size: contain;
      background-repeat: no-repeat;
      display: flex;
    }

    &--selected {
      border: $border-radius--xxs solid $primary--light;
    }

    &-subtitle {
      display: flex;
      flex-direction: column;
      background-color: $primary--light;
      margin: auto;
      width: 90%;
      padding: $spacing--xs;
      border-radius: $border-radius--md;

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        &-text {
          margin-left: $spacing--xs;
        }
      }
    }
  }
}
