@import "scss/constants.scss";

$left-section-width: 360px;

.Timing {
  height: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: $left-section-width 1fr;

  &__btn {
    display: inline-block;
    padding: $spacing--md $spacing--lg;
    font-weight: $font-weight--700;
    border-radius: $border-radius--xl;
    text-align: center;
    font-size: $font-size--lg;
    transition: all 400ms $transition-function;
    color: $white;
    transform: translateY(0);
    background-color: $light-grey;
    border: none;
    line-height: 1.5;
    height: 50px;

    &:hover:enabled {
      transform: translateY(-1px);
      background-image: linear-gradient(
        0deg,
        opaque-black(0.4) 0%,
        opaque-black(0.4) 100%
      );
    }
  }

  &__content {
    padding: 1em;
  }

  &__header {
    margin-bottom: 0;
  }

  &__right {
    background-color: $secondary--dark;

    &-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
