@import "scss/constants.scss";

.creation-page-container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 360px 1fr;
}

.creation-page-container .creation-page-left {
  position: relative;
  background-color: #000;
  height: 100%;
  overflow-y: scroll;
  width: 360px;
}

.creation-page-container .creation-page-left .creation-page-left-content {
  margin-top: 100px;
  padding: 100px 30px;
  padding: 40px 30px 100px;
  max-width: 620px;
  margin: auto;
}

.creation-page-container .creation-page-left .creation-page-left-bottombar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  bottom: 0px;
  width: 360px;
  padding: 12px;
  background-color: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.creation-page-container
  .creation-page-left
  .creation-page-left-bottombar
  .creation-page-left-bottombar-btnright
  .btn {
  margin-left: 12px;
}

.creation-page-container .creation-page-right {
  background-color: #19181a;
  overflow-y: scroll;
}

.creation-page-container .creation-page-right .creation-page-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.events-container {
  background-color: #000;
  position: relative;
  height: 75%;
  width: 85%;
  margin: 75px 75px 10px;
  border-radius: $border-radius--xl;
  box-shadow: 0px 0px 15px -4px #000000;
  overflow: scroll;
}

.party-heading,
.party-subheading {
  font-weight: 300;
  line-height: 1;
  opacity: 0.6;
}

.party-heading {
  opacity: 1;
  display: inline-block;
  margin-top: 20px;
}

.input-left {
  width: 59%;
  margin-right: 5px;
  float: left;
  margin-top: 10px;
}

.input-right {
  width: 38%;
  float: right;
  margin-top: 10px;
}

.mb-1 {
  line-height: 1;
}

.btn-grey {
  display: inline-block;
  padding: $spacing--md $spacing--lg;
  font-weight: 700;
  border-radius: 22px;
  text-align: center;
  font-size: 1em;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
  transform: translateY(0);
  background-color: $light-grey;
  border: none;
  line-height: 1.5;
  height: 50px;

  &__home {
    width: 50px;
    border-radius: $border-radius--xl;
    padding: $spacing--md;
  }
}
