@import "scss/constants.scss";

$ScheduleEvent--margin-top: 0.25rem;
$ScheduleEvent--height: 3.75rem;
$ScheduleEvent--padding: 0 0.25rem 0 0.75rem;
$ScheduleEvent--border-radius: 18px;
$ScheduleEvent--box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65);

$bookmark--padding: 0.5rem;
$bookmark-hover--padding-top: 0.375rem;

$description--margin-top: 2px;

.ScheduleEvent {
  display: flex;
  position: absolute;
  border-radius: $ScheduleEvent--border-radius;
  cursor: pointer;
  height: $ScheduleEvent--height;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary--schedule-event;
  box-shadow: $ScheduleEvent--box-shadow;
  margin-top: $ScheduleEvent--margin-top;
  margin-left: var(--event--margin-left);
  width: var(--event--width);

  &:hover {
    background-color: $secondary--schedule-event-hover;
    z-index: z(navbar__schedule-event--hover);
  }

  &--users {
    color: $secondary--schedule-event-hover;
    background-color: $secondary--schedule-event-users;

    &:hover {
      background-color: $white;
    }

    .ScheduleEvent__bookmark {
      color: $black;
    }
  }

  &--expanded {
    width: var(--event--expanded-width);
  }

  &--live {
    background-color: $primary--live;
    color: $white;

    &:hover {
      background-color: $primary--live-hover;
    }

    .ScheduleEvent__bookmark {
      color: $white;
    }
  }

  &__info {
    font-size: $font-size--sm;
    overflow: hidden;
    padding: $ScheduleEvent--padding;

    &--hidden {
      display: none;
    }
  }

  &__title {
    @include line-clamp-with-overflow(2);
    white-space: pre-line;
    font-weight: bold;
  }

  &__host {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-top: $description--margin-top;
    font-size: 0.7rem;
  }

  &__bookmark {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $bookmark--padding;

    &:hover {
      padding-top: $bookmark-hover--padding-top;
    }

    &--hidden {
      display: none;
    }
  }

  &__expand {
    color: $concrete--dark;
    outline: none;
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:hover {
      color: $white;
    }

    &--square {
      position: absolute;
      height: $spacing--xl;
    }

    &--arrows {
      height: $spacing--lg;
      margin-top: $spacing--xs;
    }

    &--hidden {
      display: none;
    }

    &--marged {
      margin: auto;
    }

    &--padded {
      padding: $ScheduleEvent--padding;
    }
  }

  & .ScheduleEvent__expand--square {
    width: $spacing--xl;
  }

  & .ScheduleEvent__expand--arrows {
    width: $spacing--xl;
  }
}
