.UIOverlayGrid {
  width: 100%;
  height: 100%;
  padding: 10px 19px 22px 26px;
  display: grid;
  grid-template-columns: 34px 230px 1fr 4fr 1fr 287px;
  grid-template-rows: 1fr 1fr 160px 34px 100px 34px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  grid-template-areas:
    "test test test test test test"
    ". . . . . ."
    "zoom . . . . ."
    "center . . . . ."
    ". . . . . ."
    ". . . tooltip . mute";

  &__zoom {
    grid-area: zoom;
  }

  &__center {
    grid-area: center;
  }

  &__mute {
    grid-area: mute;
  }

  &__tooltip {
    grid-area: tooltip;
  }

  &__test {
    grid-area: test;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }
}
