@import "scss/constants";

.TalkShowStudio {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing--xl;

  &__mode--share {
    height: 613px;
    width: 100%;
  }

  &__mode--play {
    width: 326px;
    height: 178px;
    margin: 10px;
  }

  &__scene {
    display: flex;
    background-color: #191919;
    width: calc(35 * 30px);
    border: solid 0;
    border-radius: 22px;
    flex-direction: column;
    align-items: center;

    &--sharing {
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: $border-radius--lg;
      margin-bottom: $spacing--lg;
      width: 100%;
    }
  }

  &__players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
