@import "scss/constants";

$shareMode-height: 614px;
$playMode-height: 178px;
$playMode-width: 326px;

.TalkShowStudio {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing--xl;

  &__mode {
    &--share {
      height: $shareMode-height;
      width: 100%;
    }

    &--play {
      width: $playMode-width;
      height: $playMode-height;
      margin: $spacing--md;
    }

    &--local-play {
      position: absolute;
      bottom: $spacing--lg;
      right: $spacing--lg;
      width: 18.2%;
      height: 21.3%;
    }
  }

  &__scene {
    display: flex;
    background-color: $cod-gray;
    width: calc(35 * 30px);
    border: solid 0;
    border-radius: $border-radius--xl;
    flex-direction: column;
    align-items: center;

    &--sharing {
      position: relative;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: $border-radius--lg;
      margin-bottom: $spacing--lg;
      width: 100%;
    }
  }

  &__players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
