@import "../../profileModalStyles";

$url-text-icon-right-margin: 0.5rem;

.ProfileModalInput {
  &__input {
    text-align: start;
    cursor: initial;
    &--condensed {
      padding: 6px 14px 6px 14px;
    }
  }

  &__icon-end {
    padding-right: $url-text-icon-right-margin;
    & > * {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
  }

  &__error-message {
    color: $input--invalid;
    font-size: 0.8rem;
    position: relative;
    left: 2.8%;
    &--condensed {
      font-size: 0.7rem;
      bottom: -1rem;
    }
    &--hidden {
      visibility: hidden;
    }
  }
}
