@import "../../styles";

$url-text-icon-right-margin: 0.5rem;

.ProfileModalInput {
  &__input {
    text-align: start;
    cursor: initial;
    &--condensed {
      padding: 6px 14px 6px 14px;
    }
  }

  &__icon-end {
    padding-right: $url-text-icon-right-margin;
    & > * {
      opacity: 1;
    }
    &:focus {
      opacity: 1;
    }
  }

  &__error-message {
    &--condensed {
      font-size: 0.7rem;
      bottom: -1rem;
    }
  }
}
