@import "scss/constants";

.AllSectionPreviews {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0 $spacing--md 50px;

  display: grid;
  gap: $spacing--md;

  grid-auto-rows: 120px;
  grid-auto-columns: minmax(125px, 1fr);

  &--small {
    grid-template-areas:
      "left-space left-space video video video video right-space right-space"
      "left-space left-space video video video video right-space right-space"
      "left-space left-space video video video video right-space right-space"
      "left-space left-space   .     .     .     .   right-space right-space"
      "left-space left-space   .     .     .     .   right-space right-space"
      "left-space left-space   .     .     .     .   right-space right-space"
      "left-space left-space   .     .     .     .   right-space right-space";
  }

  &--medium {
    grid-template-areas:
      " left-space video video right-space "
      " left-space video video right-space "
      "     .      video video      .      "
      "     .        .     .        .      ";
  }

  &--large {
    grid-template-areas:
      ".      video video      ."
      ".      video video      ."
      ".      video video      ."
      ".        .     .        .";
  }

  &__empty-space {
    &--left {
      grid-area: left-space;
    }

    &--right {
      grid-area: right-space;
    }
  }

  &__iframe-overlay {
    grid-area: video;
  }

  &__iframe {
    height: 100%;
    width: 100%;
  }
}
