$spacing: 10px;

.AllSectionPreviews {
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 0 $spacing 50px;

  display: grid;
  gap: $spacing;

  grid-auto-rows: 120px;
  grid-auto-columns: minmax(250px, 1fr);

  &--small {
    grid-template-areas:
      "left-space video video right-space"
      "left-space video video right-space"
      "left-space video video right-space"
      "left-space   .     .   right-space"
      "left-space   .     .   right-space";
  }

  &--medium {
    grid-template-areas:
      " left-space video video right-space "
      " left-space video video right-space "
      "     .      video video      .      "
      "     .        .     .        .      ";
  }

  &--large {
    grid-auto-columns: minmax(150px, 1fr);
    grid-template-areas:
      " left-space left-space video video video video right-space right-space "
      "     .          .      video video video video      .           .      "
      "     .          .      video video video video      .           .      "
      "     .          .        .     .     .     .        .           .      ";
  }

  &__empty-space {
    &--left {
      grid-area: left-space;
    }

    &--right {
      grid-area: right-space;
    }
  }

  &__iframe-overlay {
    grid-area: video;
  }

  &__iframe {
    height: 100%;
    width: 100%;
  }
}
