#gift-popover {
  &.popover {
    height: unset;
  }
}

.gift_ticket-modal-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  .gift_ticket-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .gift_ticket-text {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
