.not-yet-button {
  border: none;
  background-color: transparent;
  color: $content--over;
  margin-top: 20px;
  text-decoration: underline;
  font-size: 16px;
}

.donate-container {
  text-align: center;
}
