.edit-profile-modal {
  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    margin-bottom: 20px;
  }

  .question {
    display: flex;
    justify-content: center;

    margin-bottom: 10px;

    &:first-child {
      margin-top: 10px;
    }
  }

  .cancel-button {
    cursor: pointer;
    text-decoration: underline;
  }
}
