@import "scss/constants.scss";

.Breadcrumbs {
  font-size: $font-size--sm;

  &__label {
    margin-right: $spacing--sm;
  }

  &__button {
    text-decoration: none;

    &--selected {
      text-decoration: underline;
    }
  }

  &__separator {
    margin-right: 0 $spacing--sm;
  }
}
