@import "scss/constants.scss";

.payment-modal-container {
  padding: 20px;

  .payment-confirmation-container {
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;

    button {
      margin: 0 10px;
    }
  }

  .event-title {
    font-size: 30px;
  }

  .tab-navigation-container {
    margin-top: 20px;
    width: 100%;
  }

  .payment-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;

    input {
      padding: 10px;
    }
  }

  .cancel-button {
    cursor: pointer;
  }

  .disabled {
    color: $light-grey;
    cursor: default;
  }

  .submit-button {
    height: 50px;
    margin-top: 5px;
    white-space: nowrap;
    padding: 0 30px;
  }

  .submit-button.hidden {
    display: none;
  }

  .price {
    font-size: 20px;
  }

  .red-text {
    color: $red;
    text-align: center;
  }
}
