@import "scss/constants.scss";

$close-icon-right-margin: 100px;

.VideoModal {
  padding: $spacing--xl;
  width: 100%;

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  &__youtube {
    width: 100%;
    min-height: 500px;
  }

  &__close-icon {
    @include square-size($spacing--xxl);
    position: absolute;
    right: $close-icon-right-margin;
    top: $spacing--xxl;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
