@import "scss/constants.scss";

.VideoModal {
  padding: 20px;
  width: 100%;

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  &__youtube {
    width: 100%;
    min-height: 500px;
  }

  &__close-icon {
    @include square-size($spacing--xxl);
    position: absolute;
    right: $spacing--xxl;
    top: $spacing--xxl;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
