@import "scss/constants.scss";

.MapPreview {
  width: 100%;
  margin-bottom: $spacing--lg;
  position: relative;
  overflow: hidden;

  &__save-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    border-radius: $border-radius--xl 0 $border-radius--xl 0;

    &:hover {
      transform: none;
    }
  }
}
