@import "scss/constants";

$icon-width: 2.5rem;

.InputField {
  position: relative;

  &--icon-start {
    .InputField__input {
      padding-left: $icon-width;
    }
  }

  &--icon-end {
    .InputField__input {
      padding-right: $icon-width;
    }
  }

  &--invalid .InputField__input {
    border: 1px solid $input--invalid;
    &:focus {
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-shadow: $input--invalid-box-shadow-focus;
    }
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 22px;
    height: 100%;

    &:focus + .InputField__icon > * {
      opacity: 0.6;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: $icon-width;
    z-index: z(input-icon);

    &--start {
      left: 0;
    }

    &--end {
      right: 0;
    }

    & > * {
      opacity: 0.2;
      max-width: 100%;
    }
  }

  &__error {
    color: $input--invalid;
    font-size: 0.8rem;
    position: absolute;
    bottom: -1.3rem;
    left: 8px;
  }
}
