@use "scss/attendee/variables.scss"as *;
@use "scss/attendee/theme";

.InputField {
  &__input {
    border: none;
  }

  label::after {
    content: attr(data-label);
    position: absolute;
    top: 9px;
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    height: 26px;
    color: rgba(0, 0, 0, 0.6);
    right: 10px;
    border-left: 1px solid theme.$sparkle--border;
    color: black;
    cursor: pointer;
  }
}
