@import "scss/constants";

.PollBox {
  $spacing: 10px;
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__section {
    display: flex;
    padding-bottom: $spacing;
  }

  &__input {
    flex: 1;
    input {
      max-width: 305px;
    }
  }

  &__submit-button {
    outline: none;
    border: none;
    width: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $spacing;
    background-color: $primary;
    color: $white;

    &:disabled {
      background-color: $saturated-black;
    }
  }

  &__append-button {
    outline: none;
    border: none;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $spacing;
    background-color: transparent;
    color: $white;

    &:focus {
      outline: none;
    }
  }
}
