@import "scss/constants.scss";

.participant-container {
  background: $black;
  display: flex;
  justify-content: center;
  width: 100%;
  align-self: flex-start;

  &.two-across {
    grid-column: span 3;
  }
  &.three-across {
    grid-column: span 2;
  }
}

.empty-chair-image {
  height: 100%;
  object-fit: contain;
  width: 80%;
}
