@import "scss/constants.scss";

.participant-container {
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.participant-container-2 {
  width: 50%;
  height: 100%;
}

.participant-container-4 {
  width: 50%;
  height: 50%;
}

.participant-container-6 {
  width: 33%;
  height: 50%;
}

.participant-container-8 {
  width: 25%;
  height: 50%;
}

.participant-container-10 {
  width: 33%;
  height: 33%;
}

.empty-chair-image {
  height: 100%;
  object-fit: contain;
  width: 80%;
}
