@import "scss/constants";

.SortDropDown {
  // NOTE: this dropdown mimics the appearance of the ButtonNG default style
  // NOTE: it is needed to mitigate the effects of the global SCSS file and Bootstrap

  display: inline-block;
  margin: $spacing--xs;
  width: $button-width--normal;
  max-width: $button-width--max;
  height: 46px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;

  color: var(--content--over);
  text-shadow: $text-shadow--thin;
  background-color: var(--content--over-20a);

  &:hover {
    background-color: var(--content--over-30a);
  }

  .Dropdown__button__menu {
    position: absolute;
    left: -65px;
  }

  .Dropdown__button__option {
    padding: 8px 12px;
    text-decoration: underline;
  }
}
