@import "scss/constants";

.SortDropDown {
  margin: $spacing--xs;
  width: $button-width--normal;
  max-width: $button-width--max;
  height: 46px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;

  color: var(--content--over);
  text-shadow: $text-shadow--thin;
  background-color: var(--content--over-20a);

  &:hover {
    background-color: var(--content--over-30a);
  }

  &__option {
    width: 100%;
  }

  .Dropdown .Select__option {
    padding: $spacing--sm font-size--parent(2);
  }
}
