@import "scss/constants";

$light: #ffffff;

$spacing: calc(1 * min(var(--seat-size), var(--seat-size-min)));

.audience-container {
  // If you change the names of these properties, make sure to also change it in Audience.tsx's SEAT_SIZE / SEAT_SIZE_MIN
  --seat-size: #{$avatarSize};
  --seat-size-min: #{$avatarSizeMin};

  background-attachment: fixed;
  background-position: center 46%;

  position: relative;
  overflow: auto;
  height: 100%;
  padding: $spacing;
  min-width: fit-content;

  .audience-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    .video-container {
      padding: calc(1.5 * min(var(--seat-size), var(--seat-size-min)));

      display: flex;
      flex-direction: column;
      align-items: center;

      pointer-events: auto;

      .video {
        width: 100%;
        height: 100%;

        .frame {
          width: 100%;
          height: 100%;
          border: 1px black;
          border-radius: 15px;
          box-shadow: 2px 2px 20px $light;
        }
      }

      .reaction-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        width: 90%;
        min-height: 105px;
        padding: 15px;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 2px 2px 20px $light;
        background-color: #1a1d24;

        .emoji-container {
          display: flex;
          flex: 1;
          justify-content: space-around;
          margin: 5px 0;

          .reaction {
            background-color: transparent;
            border-color: transparent;
            font-size: 20px;
            width: 50px;
            animation: sway 2200ms 1200ms ease-in-out;
          }

          .mute-button {
            display: flex;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
          }
        }

        .shout-container {
          margin: 0 8px 4px 8px;
          padding-bottom: 4px;

          .shout-form {
            display: flex;

            input {
              margin: 0 8px;
              border-radius: 8px;
              font-size: 1em;
              font-weight: 500;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
              padding: 10px;
            }

            .text {
              flex: 4;

              &:disabled {
                cursor: not-allowed;
              }
            }

            .shout-button {
              flex: 1;

              &:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }

  .audience {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: auto;

    .seat-row {
      display: flex;
      justify-content: center;
    }

    .seat,
    .not-seat {
      display: flex;
      justify-content: center;
      align-items: center;

      width: var(--seat-size);
      height: var(--seat-size);
      min-width: var(--seat-size-min);
      min-height: var(--seat-size-min);

      font-size: calc(0.75 * min(var(--seat-size), var(--seat-size-min)));

      border-radius: 100%;

      color: $black;
      user-select: none;
    }

    .seat {
      background-color: rgba(255, 255, 255, 0.2);

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
      }
    }

    .not-seat {
      background-color: rgba(0, 0, 0, 0);
    }
  }
}
