@import "scss/constants";

$light: #ffffff;

$spacing: 30px;

// If you change this, make sure to also change it in Audience.tsx's SEAT_SIZE
$seat-size: 4vh;

.audience-container {
  background-attachment: fixed;
  background-position: center 46%;

  position: relative;
  overflow: auto;
  height: 100%;
  padding: $spacing;
  min-width: fit-content;

  .video-container-wrapper {
    position: absolute;
    z-index: z(audience-video-container);
    width: 100%;
    display: flex;
    justify-content: center;

    .video-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;

      .video {
        width: 100%;
        height: 100%;

        .frame {
          width: 100%;
          height: 100%;
          border: 1px black;
          border-radius: 15px;
          box-shadow: 2px 2px 20px $light;
        }

        .aspect-16-9 {
          max-width: 88.5%;
          margin-left: 6.5%;
        }
      }

      .reaction-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;

        // these are fairly arbitrary figures
        // min-width: 495px;
        // max-width: 60%;
        width: 90%;
        min-height: 105px;
        padding: 15px;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 2px 2px 20px $light;
        background-color: #1a1d24;

        .emoji-container {
          display: flex;
          flex: 1;
          justify-content: space-around;
          margin: 5px 0;

          .reaction {
            background-color: transparent;
            border-color: transparent;
            font-size: 20px;
            width: 50px;
            animation: sway 2200ms 1200ms ease-in-out;
          }

          .mute-button {
            display: flex;
            align-items: center;
            font-size: 20px;
            cursor: pointer;
          }

          .leave-seat-button {
            display: inline-block;
            font-weight: 700;
            text-decoration: none;
            border-radius: 8px;
            text-align: center;
            font-size: 0.7em;
            transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
            line-height: 1.5;
            border: 1px solid transparent;
            transform: translateY(0);
            cursor: pointer;
            padding: 4px 10px;
            background: rgb(0, 0, 0);
            color: $white;

            &:hover {
              background-color: rgba(255, 255, 255, 0.5);
            }
          }
        }

        .shout-container {
          margin: 0 8px 4px 8px;
          padding-bottom: 4px;

          .shout-form {
            display: flex;

            input {
              margin: 0 8px;
              border-radius: 8px;
              font-size: 1em;
              font-weight: 500;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
              padding: 10px;
            }

            .text {
              flex: 4;

              &:disabled {
                cursor: not-allowed;
              }
            }

            .shout-button {
              flex: 1;

              &:disabled {
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }

  .audience {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: auto;

    .seat-row {
      display: flex;
      justify-content: center;
    }

    .seat {
      display: flex;
      border-radius: 100%;
      width: $seat-size;
      height: $seat-size;
      min-width: $seat-size;
      min-height: $seat-size;
      justify-content: center;
      align-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      user-select: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
      }

      .user .profile-picture-container {
        width: 4vh;
        height: 4vh;
      }
    }

    .not-seat {
      display: flex;
      border-radius: 100%;
      width: $seat-size;
      height: $seat-size;
      min-width: $seat-size;
      min-height: $seat-size;
      justify-content: center;
      align-content: center;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
    }

    .add-participant-button {
      color: black;
      font-size: calc(#{$seat-size} * 0.75);
      align-self: center;
      z-index: z(audience-participant-add-button);
    }
  }

  .chat-container {
    display: block;
    position: absolute;
    right: 0;
    top: 35px;
  }

  .user {
    width: $seat-size;
    height: $seat-size;
    min-width: $seat-size;
    min-height: $seat-size;
  }

  .profile-avatar {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }
}
