$light: #ffffff;

.audience-container {
  background-attachment: fixed;
  background-position: center 46%;
  position: relative;
  display: flex;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;

  .video-container {
    position: fixed;
    left: 50%;
    top: 28%;
    width: 45%;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    .video {
      position: relative;
      width: 100%;
      padding-bottom: 50%;
      float: left;
      height: 0;

      .frame {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        border-width: 1px black;
        border-radius: 15px;
        box-shadow: 2px 2px 20px $light;
      }

      .aspect-16-9 {
        max-width: 88.5%;
        margin-left: 6.5%;
      }
    }

    .reaction-container {
      display: flex;
      position: fixed;
      flex: 1;
      left: 20%;
      width: 60%;
      bottom: -50px;
      height: 50px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 2px 2px 20px $light;
      background-color: #1a1d24;
      flex-direction: column;
      justify-content: space-around;

      .instructions {
        align-self: center;
      }

      &.seated {
        bottom: -100px;
        height: 100px;
      }

      .emoji-container {
        display: flex;
        flex: 1;
        justify-content: space-around;

        .reaction {
          background-color: transparent;
          border-color: transparent;
          font-size: 33px;
          top: -25px;
          right: -20px;
          width: 50px;
          animation: sway 2200ms 1200ms ease-in-out;
          z-index: 1000;
        }

        .leave-seat-button {
          display: inline-block;
          font-weight: 700;
          text-decoration: none;
          border-radius: 8px;
          text-align: center;
          font-size: 1em;
          transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
          line-height: 1.5;
          border: 1px solid transparent;
          color: #000000;
          transform: translateY(0);
          cursor: pointer;
          padding: 4px 10px;
          margin: 6px;
          background: rgb(0, 0, 0);
          color: white;

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .shout-container {
        margin: 0 8px 4px 8px;
        padding-bottom: 4px;

        .shout-form {
          display: flex;

          input {
            margin: 0 8px;
            border-radius: 8px;
            font-size: 1em;
            font-weight: 500;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            padding: 10px;
          }

          .text {
            flex: 4;

            &:disabled {
              cursor: not-allowed;
            }
          }

          .shout-button {
            flex: 1;

            &:disabled {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  .audience {
    display: flex;
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: space-between;

    .seat-row {
      display: flex;
      justify-content: space-between;
    }

    .seat {
      display: flex;
      border-radius: 100%;
      width: 4vh;
      height: 4vh;
      justify-content: center;
      align-content: center;
      background-color: rgba(255, 255, 255, 0.2);
      color: white;
      user-select: none;

      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
      }

      .user .profile-picture-container {
        width: 4vh;
        height: 4vh;
      }
    }

    .not-seat {
      display: flex;
      border-radius: 100%;
      width: 4vh;
      height: 4vh;
      justify-content: center;
      align-content: center;
      background-color: rgba(0, 0, 0, 0);
      user-select: none;
    }

    .add-participant-button {
      color: black;
      font-size: 3vh;
      align-self: center;
    }
  }

  .chat-container {
    display: block;
    position: absolute;
    right: 0;
    top: 35px;
  }

  .user {
    width: 4vh;
    height: 4vh;
  }

  .profile-avatar {
    width: 100%;
    height: 100%;

    border-radius: 100%;
    background-size: cover;
    background-position: center;
  }
}
