@import "scss/constants";

@function box-shadow--input($color) {
  @return 0 0 0 2px $color;
}

// colors
$reg-flow-shadow--large: box-shadow--large(0.34);
$reg-flow-color--transparent: opaque-white(0.12);
$reg-flow-color--normal: $white;
$reg-flow-color--error: #dc3545;

// blurs
$reg-flow-blur--xs: blur(1px);
$reg-flow-blur--sm: blur(2px);
$reg-flow-blur--md: blur(5px);
$reg-flow-blur--xl: blur(10px);

// element widths
$reg-flow-form-width: 540px;
$reg-flow-input-width: 367px;
$reg-flow-checkbox-size: 30px;
$reg-flow-button-width--min: 18em;
$reg-flow-button-width--max: 275px;

// font sizes
$reg-flow-font-size--normal: 1rem;
$reg-flow-font-size--info: 0.8em;
$reg-flow-font-size--error: 0.9em;
$reg-flow-font-size--page-title: 24px;
$reg-flow-font-size--page-subtitle: 14px;

// distances
$reg-flow-element-distance: $spacing--lg;
$reg-flow-page-padding-top: 111px;

// misc
$reg-flow-icon-size: 50px;
$reg-flow-border-radius: $border-radius--xl;
