@import "scss/constants.scss";

$Schedule--padding: 20px;

.Schedule {
  padding-top: $Schedule--padding;
  display: flex;
  flex-direction: column;
  position: relative;

  &__item {
    display: flex;
    padding-bottom: $Schedule--padding;
  }

  &__item--info {
    flex-basis: 10%;
    margin-right: $Schedule--padding;
  }

  &__item--time,
  &__item--name {
    display: block;
    font-weight: 700;
  }

  &__item--date {
    display: block;
    font-weight: 700;
    color: $concrete;
  }

  &__loading {
    margin-top: $Schedule--padding;
  }

  &__no-events {
    padding: $Schedule--padding;
  }
}
