@import "scss/constants.scss";

// @debt hack-fix to update popover sizes
#menu-popover {
  margin-top: $spacing--md;

  &.popover {
    height: unset;
    width: 180px;
    border-radius: 0 0 $border-radius--xl $border-radius--xl;
  }
}

.MenuPopoverContent {
  display: flex;
  flex-direction: column;

  padding: $spacing--lg 0;
  height: auto;

  &__link {
    padding: 3px 12px;
    text-decoration: none;
  }
}
