@import "scss/constants.scss";

$max-allowed-button-width: 275px;
$normal-button-width: 100%;

// order of elements:
// $modifier  - will be used as ButtonNG--modifier
// $color     - the same foreground color with :hover and without
// $normal-bg - the normal background color
// $hover-bg  - the background color when button is :hover-ed
$variants-enum: (
  ("primary", $white, $primary--live, $primary--live-hover),
  ("secondary", $white, opaque-white(0.2), opaque-white(0.25)),
  ("white", $primary--live, $white, $white),
  ("dark", $white, opaque-black(0.4), opaque-black(0.6))
);

@function calc-size-by-factor($factor) {
  @return calc(#{$factor} * 1em + 2 * #{$spacing--xs});
}

.ButtonNG {
  display: inline-block;

  padding: $spacing--md;
  margin: $spacing--xs;
  width: $normal-button-width;
  max-width: $max-allowed-button-width;

  border-radius: $border-radius--xl;
  border: none;
  background-image: none;

  font-style: normal;
  font-weight: $font-weight--500;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: 1.5;

  transform: translateY(0);
  transition: transform 0.4s $transition-function;

  color: $white;
  text-shadow: 0 1px 2px opaque-black(0.25);
  background-color: opaque-white(0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px opaque-black(0.25);

  &:hover {
    color: currentColor;
    background-color: opaque-white(0.25);
    text-decoration: none;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px opaque-white(0.25);
  }

  &:enabled:hover,
  &--enabled:hover {
    transform: translateY(-1px);
  }

  &--disabled,
  &--disabled:hover,
  &:disabled,
  &:disabled:hover {
    color: opaque-white(0.4);
    background: opaque-white(0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px opaque-black(0.25);
    cursor: default;
  }

  &--icon-only {
    padding: $spacing--xs;
  }

  &__icon--icon-text {
    margin-right: 1em;
  }

  &--1x {
    @include square-size(calc-size-by-factor(2.5));
  }

  &--2x {
    @include square-size(calc-size-by-factor(3));
  }

  &--3x {
    @include square-size(calc-size-by-factor(4));
  }

  @each $modifier, $color, $normal-bg, $hover-bg in $variants-enum {
    &--#{$modifier} {
      color: $color;
      background-color: $normal-bg;

      &:hover {
        color: $color;
        background-color: $hover-bg;
      }
    }
  }

  &--gradient:enabled {
    background-image: $gradient;
  }

  &--admin-gradient:enabled {
    background-image: $admin-gradient;
  }

  &--danger-gradient:enabled {
    background-image: $danger-gradient;
  }
}
