@import "../../../profileModalStyles";

$link-group-gap: 1.5rem;

.ProfileModalEditLinks {
  &__header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__link-group {
    margin-bottom: $link-group-gap;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
