.banner {
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  transition: opacity 1.5s ease;
  transition-delay: 1s;
  height: 100vh;
  width: 100vw;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;

  height: 100%;
  width: 100%;
}

.actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton {
  padding: 0 12px;
}
