@use "scss/attendee/layout";
@use "scss/attendee/space";
@use "scss/attendee/breakpoint";

.ProfileOverlay {
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: layout.$w-overlay--max;
    min-height: 100vh;
    margin: 0 auto 0 0;
    padding: 0 space.empty(3) space.empty(4);

    @media (max-width: breakpoint.$md) {
      margin: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    min-height: 40vh;
  }

  &__content {
    height: 100%;
    width: 100%;
  }

  &__avatar {
    width: 84px;
    height: 84px;
  }

  &__action {
    display: flex;
    padding: space.empty(4) 0;
    font-size: 14px;
    line-height: 1.4;
  }
}

.logOut {
  padding-bottom: space.button(1);
}
