@import "scss/constants";

.VenueAdminPage {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    margin-top: $spacing--xxxl;
    padding: $spacing--xs;
    font-size: $font-size--sm;
    background: $dark;
    border-radius: $border-radius--xl;
    opacity: 0.9;
    width: 600px;
  }

  &__announcement {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 200px;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
    }
  }

  &__settings {
    width: $announcement-container-width-admin;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: $spacing--xxl auto;
  }
}
