@import "scss/constants";

.AdminPage {
  position: relative;
  max-width: 638px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-top: 41px;
    padding: $spacing--xs;
    font-size: $font-size--sm;
    background: $dark;
    border-radius: $border-radius--xl;
    opacity: 0.9;
  }
}
