@import "scss/constants.scss";

$footer-height: 75px;

.EditRoomForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: $footer-height;

  &__room {
    padding: $spacing--xl;
  }

  &__footer {
    height: $footer-height;
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: $admin-spaces-sidebar-width;
    padding: $spacing--md;
    background-color: $black;
    border-top: 1px solid opaque-white(0.2);
  }
}
