@import "scss/constants.scss";

.EditSpace {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__room {
    padding: $spacing--xl;
  }

  &__footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: $admin-spaces-sidebar-width;
    padding: $spacing--md;
    background-color: $black;
    border-top: 1px solid opaque-white(0.2);
  }
}
