@import "scss/constants.scss";

.EditRoomForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    padding: $spacing--xl;
  }

  .AdminSidebarFooter__buttons {
    // NOTE: Magic number determined empirically to fill the footer space in just this one case
    width: 2 * $admin-ng-sidebar-footer-buttons-width--magic-number;
  }
}
