@import "scss/constants.scss";

.EditRoomForm {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;

  &__room {
    padding: $spacing--xl;
  }

  &__dropdown {
    appearance: none;
    border-radius: $border-radius--xl;
    color: $white;
    background-color: opaque-white(0.12);
    padding: $spacing--md $spacing--xl $spacing--md $spacing--md;
    text-align: center;
    width: 100%;
    margin-bottom: $spacing--xl;
  }

  &__footer {
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    width: $admin-ng-sidebar-width--normal;
    padding: $spacing--md;
    margin-bottom: $footer-height;
    background-color: $black;
    border-top: 1px solid opaque-white(0.2);
  }
}
