@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/theme";

.linkWrapper {
  width: 5%;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  justify-content: center;
  align-items: center;
  height: 42px;
  box-sizing: border-box;
  border-radius: 0px space.empty(0.33) space.empty(0.33) 0px;
  border: none;
  color: theme.$c-glass-panel-background;
  background: theme.$c-button-fg;
}
