@import "scss/constants";

$header-height: 45px;

// NOTE: mobile factor used is same as iPad 1, 2, Mini and Air at both portrait and landscape orientation
$media-width--mobile-min: 768px;
$media-width--mobile-max: 1024px;

.chat-sidebar {
  transform: translateX(100%);
  transition: transform 0.2s;
  position: fixed;
  display: flex;
  flex-flow: column;
  top: $navbar-height;
  right: 0;
  width: $chat-sidebar-width;
  height: calc(100vh - #{$reserved-page-height});
  background-color: $saturated-black;
  z-index: z(sidebar);

  &--expanded {
    transform: translateX(0);
    transition: transform 0.3s;
    background-color: rgba($saturated-black, 0.9);
    box-shadow: -10px 0 40px opaque-black(0.5);
  }

  &__header {
    height: $header-height;
  }

  &__tabs {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: $black;
  }

  &__tab {
    background: transparent;
    border: none;
    display: flex;
    flex: 1;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: thin solid opaque-black(0);
    color: opaque-white(0.6);

    &:focus,
    &:hover {
      color: opaque-white(0.7);
    }

    &--selected {
      border-bottom: $white 2px solid;
      color: $white;

      &:focus,
      &:hover {
        color: $white;
        border-bottom: $white 2px solid;
      }
    }
  }

  &__help-center-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__help-center {
    width: 100%;
    height: 100%;
  }

  &__controller {
    color: $white;
    background-color: $secondary;
    cursor: pointer;

    border: none;
    padding: 0 $spacing--lg;
    height: $header-height;
    border-radius: $border-radius--lg 0 0 $border-radius--lg;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    transform: translateX(-100%);

    &:hover {
      background-color: $lighter-intermediate-grey;
    }

    svg:nth-child(2) {
      margin-left: 2 * $spacing--xs;
      margin-right: -1 * $spacing--xs;
    }

    &--new-message {
      background-color: $red;
      height: 12px;
      width: 12px;
      border: 2px solid $secondary;
      position: absolute;
      border-radius: $border-radius--max;
      right: 6px;
      bottom: 10px;
    }
  }

  &__tab-content {
    flex: 1 1 auto;
    height: calc(100% - #{$header-height});
    width: 100%;
  }

  &__private-chat {
    margin-top: $spacing--xl * 2;
  }

  &__controller {
    margin-top: $spacing--md;
    min-width: 66px;
  }

  &--expanded &__controller {
    margin-top: 0;
  }

  &__private-chat {
    margin-top: $header-height + 2 * $spacing--md;
  }

  &__help-center-icon {
    margin-top: 2 * $header-height + 3 * $spacing--md;
  }

  &--wide {
    width: 90%;
  }

  @media only screen and (min-device-width: $media-width--mobile-min) and (max-device-width: $media-width--mobile-max) {
    &--expanded {
      width: 100%;
    }

    &--wide {
      width: 100%;
    }

    &__tabs {
      padding-left: $header-height;
    }

    &--expanded &__controller {
      transform: translateX(0);
      border-radius: 0 $border-radius--lg $border-radius--lg 0;
    }

    &--collapsed &__controller {
      transform: translateX(-100%);
      border-radius: $border-radius--lg 0 0 $border-radius--lg;
    }
  }
}
