@use "scss/attendee/space";
@use "scss/attendee/breakpoint";

.scheduleOverlayWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-height: 100vh;
  margin: space.empty(10) auto 0 space.empty(5);
  padding: space.empty(4) space.empty(3);

  @media (max-width: breakpoint.$md) {
    margin: 0;
  }
}

.scheduleOverlayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: space.item(1);
  margin: space.empty(3) 0;
}

.scheduleOverlayContent {
  height: 100%;
  width: 100%;
}

.eventWrapper {
  display: flex;
  flex-direction: column;
  font-size: 19px;
  cursor: default;
  padding: space.empty(1) 0;
}

.eventTitle {
  display: flex;
  font-size: 23px;
  align-items: center;

  span:first-child {
    margin-right: 16px;
  }
}
.scheduleDays {
  width: 100%;
  margin: 44px 0;

  button:first-child {
    padding-left: 0px;
  }
}
.bookmarkIcon {
  cursor: pointer;
}

.scheduleButtonActive {
  font-weight: 600;
}

.scheduleButtonDisabled {
  color: gray;
}

.contentWrapper {
  padding: 0 0 40px 0;
}
