@use "scss/attendee/space";
@use "scss/attendee/theme";
@use "scss/attendee/breakpoint";
@use "scss/attendee/layout";

.scheduleOverlayWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: layout.$w-overlay--max;
  min-height: 100vh;
  margin: space.empty(10) auto 0 space.empty(5);
  padding: space.empty(4) space.empty(3);

  @media (max-width: breakpoint.$md) {
    margin: 0;
  }
}

.scheduleOverlayHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: space.item(1);
  margin: space.empty(3) 0;
}

.scheduleOverlayContent {
  height: 100%;
  width: 100%;
}

.scheduleOverlayButton {
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  color: theme.$c-default-text;
}

.scheduleOverlayBookmark {
  cursor: pointer;
}
