@use "scss/attendee/breakpoint";
@use "scss/attendee/layout";
@use "scss/attendee/space";
@use "scss/attendee/layer";
@use "scss/attendee/effects/sparkle";

// These is module private.
$-z-index--header: layer.level(layer.$z-index--header);

.attendeeHeader {
  display: flex;
  position: fixed;
  z-index: $-z-index--header;
  width: 100%;
  padding: space.empty(1) space.empty(0.5);

  @media (max-width: breakpoint.$md) {
    z-index: layer.$z-index--attendee;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  transition: filter 2s ease;
}

.headerNarrow {
  @media (min-width: breakpoint.$md) {
    width: calc(100% - #{layout.$w-sidebar + space.empty(1)});
  }
}

.chatExpanded {
  @media (min-width: breakpoint.$md) {
    width: calc(100% - #{layout.$w-sidebar});
    padding-right: space.empty(1);
  }
}

.narrow {
  @include sparkle.color--glass;
}

.headerTimeTransparent {
  margin-left: space.empty(1);
  opacity: 0.5;
}

.headerTitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: layout.$w-header-max;

  @media (max-width: breakpoint.$xl) {
    max-width: layout.$w-header-xl;
  }

  @media (max-width: breakpoint.$lg) {
    max-width: layout.$w-header-lg;
  }

  @media (max-width: breakpoint.$md) {
    max-width: layout.$w-header-max;
  }

  @media (max-width: breakpoint.$sm) {
    max-width: layout.$w-header-xl;
  }

  @media (max-width: breakpoint.$xs) {
    max-width: layout.$w-header-lg;
  }
}

.captionWrapper {
  display: flex;
}

.blur {
  filter: blur(100px) contrast(60%) opacity(0);
}
