@import "scss/constants";

.WorldEntranceForm {
  .AdminSection {
    display: flex;
    flex-direction: column;
    gap: font-size--parent(1);

    .AdminCheckbox {
      justify-content: flex-start;

      &--checkbox {
        margin-left: font-size--parent(2);
      }

      &--toggler &__box {
        width: font-size--parent(2);
      }
    }
  }
}
