@import "scss/constants.scss";

$text-gap: 1rem;
$badge-width: 3rem;

.CallARangerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-size--md;
  gap: $text-gap;
  text-align: center;
  &__img {
    user-select: none;
    width: $badge-width;
  }
}
