@import "scss/constants";

$size: font-size--parent(2);

.AdminUserStatusInput {
  display: flex;
  flex-direction: column;

  &__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacing--xs 0;
  }

  .ButtonNG {
    @include square-size($size, $size, $size);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius--max;
    margin-left: $spacing--xs;
    cursor: pointer;
  }
}
