@import "scss/constants.scss";

$icon-size: font-size--root(3);

.PortalIcon {
  border-radius: $border-radius--max;
  overflow: hidden;

  &,
  &__image {
    @include square-size($icon-size);
    margin: 0;
    padding: 0;
  }
}
