@import "scss/constants.scss";

$room-icon-size: 34px;

.PortalItem {
  padding: $spacing--md;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__title,
  &__description {
    margin-top: $spacing--xl;
    margin-bottom: $spacing--xl;
    text-align: center;
  }

  &__poster {
    width: 100%;
    height: 100%;
    border: 2px solid opaque-white(0.2);
    border-radius: $border-radius--md;
  }

  &:hover {
    background-color: $secondary--dark;
  }

  &__room-icon {
    height: $room-icon-size;
    width: $room-icon-size;
    margin-right: $spacing--sm;
    background-size: contain;
    background-position: center;
    border-radius: $border-radius--xs;
    box-shadow: 0 0 0 3px $accent--under;
  }

  &__center-content {
    margin-top: $spacing--lg;
    display: flex;
    justify-content: center;
  }
}
