@import "scss/constants.scss";

$icon-padding: $spacing--xs;
$icon-base-size: 34px;
$icon-size: $icon-padding + $icon-base-size;

.PortalItem {
  margin: 0;
  padding: 0;

  &__list-item {
    padding: $spacing--md;
    margin: $spacing--xs;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: $border-radius--md;
    text-transform: capitalize;

    &:focus,
    &:focus-within {
      outline: 1px dotted $content--over;
    }

    &:hover {
      background-color: $secondary--dark;
      cursor: pointer;
    }
  }

  &__title,
  &__description {
    margin-top: $spacing--xl;
    margin-bottom: $spacing--xl;
    text-align: center;
  }

  &__poster {
    width: 100%;
    height: 100%;
    border: 2px solid var(--content--over-20a);
    border-radius: $border-radius--md;
  }

  &__icon {
    @include square-size($icon-size);
    padding: $icon-padding;
    margin-right: $spacing--sm;
    background-size: contain;
    background-position: center;
    border-radius: $border-radius--xs;
    box-shadow: 0 0 0 2px $accent--under;
  }

  &__modal-buttons {
    margin-top: $spacing--lg;
    display: flex;
    justify-content: center;
  }
}
