@import "scss/constants.scss";
$overlay-width: 250px;
$top-margin: 70px;

.Popover {
  &__overlay {
    position: absolute;
    width: $overlay-width;
    right: $spacing--md;
    top: $top-margin;
    background-color: $secondary--live;
    border-radius: $border-radius--lg;
    z-index: z(popover);
  }
}
