@import "scss/constants.scss";

.venue-entrance-experience-container {
  .header {
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .secret-password-form-wrapper {
      background: rgba($black, 0.75);
      padding: 20px;
      width: 250px;
      margin-right: 40px;
      margin-bottom: 30px;
      border-radius: 22px;
    }

    .venue-host {
      margin: 30px 50px;

      .title {
        font-size: 50px;
      }

      .subtitle {
        font-size: 20px;
      }

      .host-icon-container {
        background: $black;
        padding: 10px;
        width: 200px;
        height: 200px;
        border-radius: 50%;

        .host-icon {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .oncoming-events {
    .upcoming-gigs-title {
      margin: 20px 0;
      font-size: 25px;
      font-weight: 700;
    }
    h4 {
      font-size: 30px;
      font-style: italic;
    }
    .date {
      font-size: 15px;
      color: $white;
      margin-bottom: 5px;
    }
    .event-description {
      margin-bottom: 20px;
      font-size: 15px;
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
    }
    .buy-tickets-button {
      font-size: 15px;
      padding: 10px 30px;
    }
    .disabled {
      background: rgba($dark, 0.6);
    }
    .information-card-container {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 50px;
      }
    }
  }
}

.jazz-bar-entrance-experience-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .band-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .band-logo {
    width: 100%;
    margin: 10px 0;
    max-width: 250px;
  }

  .party-information {
    display: flex;
  }

  .information-card {
    height: 100%;
    max-width: 350px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }

  .header {
    justify-content: flex-end;
    align-items: center;
  }
  .secret-password-form-wrapper {
    padding: 0 40px;
  }

  @media (max-width: 991px) {
    .header {
      justify-content: center;
    }
  }

  .welcome-message {
    font-size: 30px;
    padding: 0 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .entrance-video {
    width: 100%;
    height: 350px;
  }

  .video-row {
    width: 100%;
  }

  .description-item {
    margin: 20px;
    display: flex;
    font-size: 25px;
  }

  .decscription-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .check-icon-container {
    margin-right: 30px;
  }

  .upcoming-gigs-title {
    font-size: 25px;
    margin-top: 20px;
  }
  .event-date {
    font-size: 20px;
  }

  .event-description {
    font-size: 15px;
  }

  .eventbrite-widget {
    background: $dark;
    border: none;
  }

  .event-card {
    margin-top: 20px;

    .btn-primary {
      font-size: 15px;

      &:focus {
        background: $primaryColor;
      }
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }
}
