.schedule-page {
  padding: 20px;
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.schedule-container {
  height: 100%;
  max-height: 100%;
}

.scheduling-table {
  &table {
    border-collapse: collapse;
  }

  &table,
  th,
  td {
    border: 1px solid blue;
  }

  th,
  td {
    padding: 5px;
  }
}
