@import "scss/constants.scss";

$room-icon-box-size: 36px;
$room-icon-img-size: 24px;

.VenueRoomItem {
  padding: $spacing--md;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background-color: $saturated-black;
  }

  &__icon {
    margin-right: $font-size--parent;
    padding: $spacing--md;
    border-radius: $border-radius--xs;
    border: 3px solid $primary--live;
    display: grid;
    place-content: center;
    @include square-size($room-icon-box-size);

    img {
      @include square-size($room-icon-img-size);
    }
  }

  &__name {
    flex-grow: 1;
  }

  &__buttons {
    visibility: hidden;
    display: none;
    height: $room-icon-box-size;
    align-items: center;
  }

  &:hover &__buttons {
    visibility: visible;
    display: flex;
  }
}
