@import "scss/constants.scss";

.edit-profile-page-container {
  margin-top: 20px;

  .edit-profile-title {
    margin-bottom: 20px;
  }

  .profile-information {
    display: flex;
    align-items: center;
  }

  .edit-profile-avatar {
    margin-right: 20px;
  }

  .question-section {
    margin-top: 30px;
  }

  .question {
    color: $concrete;
  }

  .answer {
    font-size: 25px;
  }

  .profile-banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .button-container {
    width: 200px;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }

  .log-out-button {
    padding: 5px 20px;
  }

  .text-container {
    overflow: hidden;
  }

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
