@import "scss/constants";

.AnnouncementContainer {
  position: absolute;
  top: 66px;
  width: 638px;
  left: calc(50% - 319px);
  display: flex;
  justify-content: center;
}

.ts-AnnouncementModalContainer {
  background-color: red;
  padding: 0;
}
