@import "scss/constants";

.Chatbox {
  height: 100%;
  display: flex;
  flex-flow: column;

  &__messages {
    flex: 1;
    display: flex;
    flex-flow: column-reverse;
    justify-self: flex-end;
    padding: 24px 16px 0;
    overflow-x: auto;
  }

  &__form-box {
    background-color: $black;
    display: flex;
    flex-flow: column;
  }

  &__chat-contols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing--sm $spacing--md 0 $spacing--md;
  }

  &__form {
    padding: $spacing--md;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
  }

  &__thread-author {
    font-size: $font-size--sm;
    color: opaque-white(0.8);
  }

  &__simple-button {
    font-size: $font-size--sm;
    color: opaque-white(0.8);
    cursor: pointer;
    border-bottom: thin solid opaque-white(0.8);

    &:hover {
      color: opaque-white(0.9);
      border-bottom: thin solid opaque-white(0.9);
    }
  }

  &__submit-button {
    outline: none;
    border: none;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

    background-color: $primary;

    &:disabled {
      background-color: $saturated-black;
    }
  }

  &__submit-button-icon {
    color: $white;
  }
}
