@import "scss/constants";

.Chatbox {
  height: 100%;
  display: flex;
  flex-flow: column;

  &__messages {
    flex: 1;
    display: flex;
    flex-flow: column-reverse;
    justify-self: flex-end;
    padding: $spacing--xl $spacing--lg 0;
    overflow-y: auto;

    &::-webkit-scrollbar-track {
      border-radius: $border-radius--xs;
      background-color: $black;
    }

    &::-webkit-scrollbar {
      width: $spacing--sm;
      height: $spacing--sm;
      background-color: opaque-black(0);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: opaque-white(0.3);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: opaque-white(0.5);
    }
  }

  &__messages-infinite-scroll {
    display: flex;
    flex-flow: column-reverse;
  }

  &__messages-infinite-scroll-loading {
    overflow: hidden;
  }

  &__form-box {
    display: flex;
    flex-flow: column;
    backdrop-filter: blur(5px);
    border-top: 2px solid $secondary;
  }
}
