@import "scss/constants";

.Chatbox {
  height: 100%;
  display: flex;
  flex-flow: column;

  &__messages {
    flex: 1;
    display: flex;
    flex-flow: column-reverse;
    justify-self: flex-end;
    padding: $spacing--xl $spacing--lg 0;
    overflow-x: auto;
  }

  &__form-box {
    background-color: $black;
    display: flex;
    flex-flow: column;
  }

  &__form {
    padding: $spacing--md;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    padding-right: 10px;
  }

  &__submit-button {
    outline: none;
    border: none;
    min-width: 44px;
    min-height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: $spacing--md;

    background-color: $primary;

    &:disabled {
      background-color: $saturated-black;
    }
  }

  &__submit-button-icon {
    color: $white;
  }

  &__emoji-picker-toggler {
    cursor: pointer;
  }

  &__emoji-picker {
    position: absolute;
    bottom: 65px;
    right: 60px;
  }
}
