@import "scss/constants.scss";

$primary: #005ee5;
$black: #000000;
$white: #fff;
$dark: #19181a;
$border-radius: 28px;

.chat-container {
  z-index: z(chatbox-chat-container);
  height: calc(100% - #{$chat-input-height + $footer-height});
  flex-direction: column;
  align-items: flex-end;
  display: none;
  &.show {
    display: flex;
  }

  .chat-form {
    width: 100%;
  }

  .chat-input-container {
    width: 100%;
    height: 74px;
    padding: 10px 10px;
    background-color: $black;
    display: flex;
    align-items: center;
    .chat-input-message {
      flex-grow: 1;
    }
    .chat-input-submit {
      margin-left: 10px;
      height: 44px;
      width: 44px;
      border-radius: 22px;
      background-image: url(/icons/chat-input-submit-inactive.png);
      background-size: cover;
      border: none;
      transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &.active {
        background-image: url(/icons/chat-input-submit.png);
        background-color: $primary;
        &:hover {
          background-color: lighten($primary, 4%);
          border: none;
        }
        &:active {
          background-color: lighten($primary, 6%);
          border: none;
          transform: scale(0.8);
        }
      }
    }
  }
}

.chat-messages-empty {
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
