@import "scss/constants";

.Dropdown {
  background: transparent;
  border: none;
  border-radius: 50px;
  box-shadow: none;
  outline: none;

  &__button__control {
    cursor: pointer;
    padding: 8px;
  }

  &__button__input-container {
    height: 0px;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    opacity: 0px;

    & .Dropdown__button__input {
      opacity: 0 !important;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    padding: $spacing--md $spacing--xl;
    cursor: pointer;
    font-size: $font-size--lg;
    font-weight: $font-weight--500;
    line-height: 19px;

    &:focus,
    &:hover {
      background: opaque-white(0.2);
      box-shadow: 0px 2px 4px opaque-black(0.25);
      border-radius: $border-radius--xl;
    }
  }

  &__button__menu {
    background: var(--content--under-lighter-20pp);
    box-shadow: 0px 10px 20px opaque-black(0.25);
    border-radius: $border-radius--lg;
    z-index: 1;
  }

  &__button__option {
    cursor: pointer;

    &:hover {
      background: opaque-white(0.2);
    }
  }

  .Dropdown__button__input-container {
    margin: 0px;
    padding: 0px;
  }
}
