@import "scss/constants";

.Dropdown {
  .dropdown-toggle.btn {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    line-height: unset;
    vertical-align: baseline;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: initial;
      transform: none;
    }
  }
}
