@use "scss/attendee/theme";
@use "scss/attendee/space";
@use "scss/attendee/font";
@use "scss/attendee/border";
@use "scss/attendee/layout";
@use "scss/attendee/effects/error";

.wrapper {
  @include font.core;
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: space.empty(0.33) 0px;
  margin: space.empty(1) 0;
}

.input {
  height: space.item(1);
  padding: space.empty(0.33) space.empty(1) space.empty(0.33);
  border-radius: space.empty(0.33) 0px 0px space.empty(0.33);
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-right: border.$width--slim solid theme.$c-glass-panel-background;
}

.errorIcon {
  background-image: url(/assets/icons/input-error-icon.svg);

  height: layout.$sz-input-error-icon;
  width: layout.$sz-input-error-icon;
  // pull icon inside input field
  margin-left: space.empty(-2);
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.invalid {
  input {
    @include error.input-error;
  }
}

.error {
  @include font.core;
  margin-top: space.empty(0.5);
}
