@use "scss/attendee/theme";
@use "scss/attendee/space";
@use "scss/attendee/font";
@use "scss/attendee/border";
@use "scss/attendee/icon";
@use "scss/attendee/effects/error";

.wrapper {
  @include font.core;
  display: flex;
  width: 100%;
  align-items: flex-start;
  width: 100%;
  padding: space.empty(0.33) 0px;
}

.input {
  height: space.item(1);
  padding: space.empty(0.33) 5em space.empty(0.33) space.empty(1);
  border-radius: space.empty(0.33) 0px 0px space.empty(0.33);
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-right: border.$width--slim solid theme.$c-glass-panel-background;
}

.select {
  height: space.item(1);
  padding: space.empty(0.33) space.empty(0.33) space.empty(0.33) 16px;
  border-radius: 0px space.empty(0.33) space.empty(0.33) 0px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-right: border.$radius--xs solid transparent;
}

.errorIcon {
  background-image: url(/assets/icons/input-error-icon.svg);
  height: icon.$size--input-error-icon;
  width: icon.$size--input-error-icon;
  // pull icon inside input field
  margin-left: space.empty(-2);
}

.inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.selectWrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.invalid {
  input,
  select {
    @include error.input-error;
  }
}

.error {
  @include font.core;
  margin-top: space.empty(0.5);
}
