@import "scss/constants.scss";

.information-left-column-container {
  flex: 0 0 auto;
  position: relative;

  .band-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;

    &.expanded {
      width: 100px;
      height: 100px;
    }
  }
  .chevron-icon {
    margin-bottom: 10px;
    transition: all 0.2s linear;
  }
  .chevron-icon.turned {
    transform: rotate(-180deg);
  }
  .chevron-icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
  }
}
