@import "scss/constants";

.LoadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $loading-page-background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: z(loading-page); //to put LoadingPage on top when loading

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: $loading-page-text-gap;
    justify-content: center;
    align-items: center;
  }

  &__logo-container {
    position: relative;
  }

  &__diamond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: $loading-page-icon-transform-big;
    animation: pulsating $loading-page-icon-transform-animation;
  }

  &__text {
    color: opaque-white(0.6);
    font-size: $font-size--sm;
  }
}

@keyframes pulsating {
  0% {
    opacity: 1;
    transform: $loading-page-icon-transform-big;
  }

  50% {
    opacity: $loading-page-icon-transform-small-opacity;
    transform: $loading-page-icon-transform-small;
  }

  100% {
    opacity: 1;
    transform: $loading-page-icon-transform-big;
  }
}
