.general {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
