@import "scss/constants.scss";

.information-card-container {
  border-radius: 30px;
  background: $dark-grey;
  padding: 20px;
  max-height: 370px;
  overflow: auto;
}

.information-card-text {
  color: $concrete;
  font-size: 12px;
  margin-bottom: 0px;

  li {
    margin-left: 20px;
  }
}

.title {
  text-align: center;
}
