@import "scss/constants.scss";

.information-card-container {
  border-radius: 30px;
  background: $dark-grey;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.grey-color-text {
  color: $concrete;
}
