.AnimateMapUI {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px dashed gold;
  overflow: hidden;

  &__app-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px dashed tomato;

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  &__ui-wrapper {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid black;
  }
}
