@import "scss/constants.scss";
.TimingEventModal {
  .modal-content {
    background-color: $light-grey;
  }

  .input-group {
    position: relative;

    &__modal-input {
      width: 100%;
      border: 0.1px solid opaque-white(0.2);
      text-align: left;
    }

    &__dropdown {
      appearance: none;
      border-radius: $border-radius--xl;
      color: $white;
      transform: translateY(0);
      background-color: opaque-white(0.12);
      padding: $spacing--md $spacing--xl $spacing--md $spacing--md;
      width: 100%;

      &__hidden {
        display: none;
      }
    }

    &__flex {
      display: flex;
      justify-content: space-between;

      input,
      btn {
        width: 49%;
        display: inline-block;
      }
    }
  }
}
