@import "scss/constants.scss";
.TimingEventModal {
  &__container {
    display: flex;
    justify-content: space-between;

    label,
    div,
    input {
      width: 49%;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__duration_container {
    input {
      display: inline-block;
      width: auto;
      border: 0.1px solid var(--accent--over-20a);
      text-align: left;
    }

    label {
      margin-left: 4px;
      margin-right: 8px;
    }
  }

  .modal-content {
    background-color: $light-grey;
  }

  .model-content,
  .modal-dialog {
    width: 700px;
    max-width: 700px;
  }

  .input-group {
    position: relative;

    &__modal-input {
      width: 100%;
      border: 0.1px solid var(--accent--over-20a);
      text-align: left;

      &--indented {
        margin-right: $spacing--sm;
      }
    }
  }

  .ButtonNG {
    max-width: none;
  }
}
