@import "scss/constants.scss";

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &__leave-table {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }

  &__leave-button {
    background-color: $secondary;
    font-size: 0.9rem;
    color: $white;
    border: none;
    padding: 15px 15px 15px 25px;
    border-radius: 0 0 16px 0;
    font-weight: 500;

    &--icon {
      margin-right: 8px;
      color: $concrete;
      opacity: 0.7;
    }

    &:hover {
      background-color: $secondary;

      &--icon {
        opacity: 1;
      }
    }
  }

  &__topic {
    display: flex;
    align-items: center;
  }

  &__topic-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
  }

  &__seats-left {
    font-size: 11px;
    font-weight: 400;
  }

  &__edit-topic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: $secondary;
    width: 25px;
    height: 25px;
    margin: 0px 5px;
    cursor: pointer;

    &:hover {
      background-color: $secondary--light;

      &--icon {
        opacity: 1;
      }
    }
  }

  &__lock-button {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    &--icon {
      margin-right: 5px;
    }
  }

  &__lock-indication {
    margin-right: 10px;
    font-size: 12px;
  }

  &__lock-toggle {
    margin: 0;
  }
}
