.ProfileModalAvatar {
  width: 84px;
  height: 84px;

  &__input {
    display: none;
  }

  &__image {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    cursor: pointer;
  }

  &__text {
    font-size: 14px;
    margin: -58px 0px 50px 0px;
    cursor: pointer;
    text-align: center;
  }
}
