@import "scss/constants.scss";

.navbar-margin {
  padding-top: $navbar-height;
}
.navbar-margin.fullscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  flex-flow: column;
}
