@import "scss/constants.scss";

.navbar-margin {
  padding-top: $navbar-height;
  padding-bottom: $footer-height;
}

.navbar-margin.fullscreen {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.nav-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
