@use "scss/attendee/space";
@use "scss/attendee/border";
@use "scss/attendee/font";
@use "scss/attendee/layer";
@use "scss/attendee/layout";
@use "scss/attendee/breakpoint";
@use "scss/attendee/theme";
@use "scss/attendee/effects/sparkle";

.navOverlay {
  background: theme.$c-overlay-bg;
  color: theme.$c-overlay-fg;
  backdrop-filter: blur(sparkle.$blur);
  position: fixed;
  z-index: layer.level(layer.$z-index--attendee);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navOverlayClose {
  display: flex;
  align-items: center;
  padding: 0 space.empty(1);
  height: space.item(1);
  border-radius: border.$radius--xs;
  position: fixed;
  top: space.empty(1);
  right: space.empty(1);
  cursor: pointer;
  z-index: layer.level(layer.$z-index--attendee);
}

.navOverlayContainer {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: font.$size--xl;

  @media (max-width: breakpoint.$md) {
    flex-wrap: wrap;
    overflow-y: auto;
  }
}

.navOverlayNavigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: space.empty(4) space.empty(3);
  width: 100%;

  @media (min-width: breakpoint.$md) {
    width: layout.$w-sidebar;
  }

  @media (max-width: breakpoint.$md) {
    margin: auto;
  }
}

.navOverlayContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: font.$size--xl;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 0 space.empty(3) 0;
  mask: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.2) 40px,
    rgba(0, 0, 0, 0.4) 60px,
    #000000 80px
  );
}

.closeIcon {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 17px;
  height: 17px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: space.empty(0.5);
  background-image: url(/assets/icons/overlay-close-icon.svg);
}

.navigationButton {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: space.item(1);
  border-radius: border.$radius--xs;
  padding: space.$sm 0;
  font-size: font.$size--xl;
  // removes blue highlighting on mobile tap
  -webkit-tap-highlight-color: transparent;
}

.navOverlayBack {
  display: none;
  align-items: center;
  padding: 0 space.empty(1);
  height: space.item(1);
  border-radius: border.$radius--xs;
  position: fixed;
  top: space.empty(1);
  left: space.empty(1);
  cursor: pointer;
  z-index: layer.level(layer.$z-index--attendee);

  @media (max-width: breakpoint.$md) {
    display: flex;
  }
}

.navOverlayBackIcon {
  margin-right: space.empty(0.33);
}
