$radius--s3: 1px;
$radius--s2: 2px;
$radius--xs: 4px; // previously named $border-radius-normal
$radius--sm: 8px;
$radius--md: 12px;
$radius--lg: 16px;
$radius--xl: 24px;

$radius--mn: 0;
$radius--mx: 50%;

$width--none: 0px;
$width--slim: 1px;
$width--bold: 2px;
