// Temporary styles until we decide what to do.

.input {
  border-radius: 8px;
  font-size: 16px;
  padding: 8px;
  margin: 8px 0;
}

.inlineLink {
  color: #4444ff;
  text-decoration: underline;
  cursor: pointer;
}
