@use "./space";

$w-sidebar: 416px; // previously named $sidebar-width
$h-video-chat: 160px; // previously named $video-chat-height

$w-space-info: 420px;
$h-chat-controls: 42px;

$chat-avatar-size: 42px;

// Button height plus padding
$top-nav-height: 42px + 2 * space.empty(1);
