@use "./space";

$w-sidebar: 416px; // previously named $sidebar-width
$h-video-chat: 160px; // previously named $video-chat-height
$w-video-chat-participant: 186px;

$w-overlay--med: 715px;
$w-overlay--max: 800px;

$w-space-info: 420px;
$h-chat-controls: 42px;

$h-mobile-chat-bar: 180px;

$w-space-portal-event-modal: 180px;

$sz-input-error-icon: 18px;

$w-header-max: 330px;
$w-header-xl: 200px;
$w-header-lg: 50px;

// Button height plus padding
$h-top-nav: 42px + space.empty(2);

// NOTE: these values reflect AVATAR_SIZE_MAP from UserAvatar.tsx
// @debt they shouldn't be used outside their respective component
$avatar-sizes: (
  small: 25px,
  medium: 42px,
  large: 54px,
  xlarge: 100px,
);

// TODO: at the moment we have only one usage of card.
// There might be other card sizes in the future, the list can be extended when needed.
$card-sizes: (
  small: 200px,
);

@mixin square-size($size: 1, $min: null, $max: null) {
  height: $size;
  width: $size;
  min-height: $min;
  min-width: $min;
  max-height: $max;
  max-width: $max;
}
