// Global color constants should be added here
// Please make sure their names have semantic meaning
// i.e. instead of $white it would be $c-button--fg or $c-input--bg

// All the colour definitions are dona via CSS variables and then we use SCSS
// variables to substitue them into the right place.
:root {
  --default-text: rgb(0, 0, 0);
  --subdued-text: rgb(142, 142, 142);
  --dark-text: rgb(0, 0, 0);
  --white-text: rgb(255, 255, 255);
  --chat-input-background: rgb(230, 230, 230);
  --space-wrapper-background: rgb(230, 230, 230);
  --disabled-color: rgba(255, 255, 255, 0.4);
  --glass-panel-background-transparent: rgba(255, 255, 255, 0.1);

  --panel-background: rgb(255, 255, 255);
  --glass-panel-background: rgba(255, 255, 255, 0.4);
  --color-glass-panel-background: rgba(99, 42, 199, 0.7);

  --sparkle--bg: rgb(99, 42, 199);
  --sparkle--border: rgba(130, 130, 130, 0.3);

  --button-fg: rgb(255, 255, 255);
  --button-bg: rgb(99, 42, 199);

  --danger-bg: rgb(237, 33, 37);

  --overlay-fg: rgb(255, 255, 255);
  --overlay-bg: rgba(99, 42, 199, 0.7);

  --mask-bg: rgba(0, 0, 0, 0.5);

  --error-background: #fae7e7;
  --error-border: #ed2326;

  --toggler-off-color: rgba(255, 255, 255, 0.3);

  --login-input--eg: rgba(174, 174, 174, 1);
  --login-input--ph: rgba(204, 204, 204, 1);

  --profile-links-icons: rgb(89, 89, 89);
  --badges-info: rgb(80, 80, 80);

  --button-disabled-background: rgb(183, 169, 217);
  --button-disabled-foreground: rgb(231, 231, 231);

  @media (prefers-color-scheme: dark) {
    --default-text: rgb(255, 255, 255);
    --chat-input-background: rgb(60, 60, 60);
    --space-wrapper-background: rgb(50, 50, 50);

    --panel-background: rgb(0, 0, 0);
    --glass-panel-background: rgba(0, 0, 0, 0.4);
    --glass-panel-text: rgba(0, 0, 0, 0.6);
  }
}

// This is the colour that should be used for 90% of text
$c-default-text: var(--default-text);
// This is the colour for anything that is lower priority text
$c-subdued-text: var(--subdued-text);
// Used wherever we are putting text on to a light background
$c-inverted-text: var(--inverted-text);
// Always dark text
$c-dark-text: var(--dark-text);
// Always white text
$c-white-text: var(--white-text);

$sparkle--bg: var(--sparkle--bg); // previously named $sparkle-theme
$sparkle--border: var(--sparkle--border); // previously named $sparkle-border

$c-panel-background: var(--panel-background);
$c-glass-panel-background: var(--glass-panel-background);
$c-glass-panel-background-transparent: var(
  --glass-panel-background-transparent
);
$c-glass-panel-text: var(--glass-panel-text);
$c-color-glass-panel-background: var(--color-glass-panel-background);
$c-space-wrapper-background: var(--space-wrapper-background);

$c-button-fg: var(--button-fg);
$c-button-bg: var(--button-bg);

$c-danger-bg: var(--danger-bg);

$c-overlay-fg: var(--overlay-fg);
$c-overlay-bg: var(--overlay-bg);

$c-mask-bg: var(--mask-bg);

$sparkle-disabled: var(--disabled-color);

$error-background: var(--error-background);
$error-border: var(--error-border);

$toggler-off-color: var(--toggler-off-color);

// Auxillary text that is less important than other text and so fades into the
// background a little.
$light--aux-text: rgba(128, 128, 128);

$c-chat-input-background: var(--chat-input-background);

$c-light-text-on-dark: rgb(230, 230, 230);

// login colors
$c-login-button--fg: var(--default-text);
$c-login-button--bg: var(--panel-background);
$c-login-button--eg: var(--default-text);
$c-login-input--fg: var(--default-text); // foreground color
$c-login-input--bg: var(--panel-background); // background color
$c-login-input--eg: var(--login-input--eg); // edge (border) color
$c-login-input--ph: var(--login-input--ph); // placeholder color
$c-login-page--fg: var(--default-text);
$c-login-page--bg: var(--panel-background);
$c-login-link--fg: var(--default-text);
$c-login-link--bg: var(--panel-background);
$c-login-error-fg: var(--error-border);
$c-login-error-eg: var(--error-border);

$profile-links-icons: var(--profile-links-icons);
$badges-info: var(--badges-info);

$c-button-disabled-background: var(--button-disabled-background);
$c-button-disabled-foreground: var(--button-disabled-foreground);

$c-tuner-background-color: rgba(0, 0, 0, 0.3);
$c-tuner-text-color: rgb(255, 255, 255);
$c-tuner-radio-button-background: rgba(255, 255, 255, 0.16);
$c-tuner-radio-button-border: rgba(255, 255, 255, 0.4);
$c-tuner-divider-color: rgba(255, 255, 255, 0.14);

$disabled-opacity: 0.4;
