@use "./space";

$opacity: 0.5;

// @debt some of these component specific constants can be moved to a .module.scss file as to not add globals
$sidebar-width: 416px;
$portal-grid-column: 342px;

$text-chat-height: 40vh;
$video-chat-height: 160px;
