$sparkle-theme: rgb(99, 42, 199);

$text-lightmode: rgb(0, 0, 0);
$panel-lightmode: rgb(255, 255, 255);
$canvas-lightmode: rgb(230, 230, 230);

$text-darkmode: rgb(255, 255, 255);
$panel-darkmode: rgb(0, 0, 0);
$canvas-darkmode: rgb(50, 50, 50);

$whitespace: 12px;
$button-gap: 2px;
$button-height: $whitespace * 3.5;
$blur: 5px;
$icon-size: 1.3rem;

$opacity: 0.5;

$sidebar-width: 416px;
$portal-grid-column: 342px;

$text-chat-height: 40vh;
$video-chat-height: 160px;

$sparkle-border: rgba(130, 130, 130, 0.3);
