@import "scss/constants";

.AdminSidebar {
  width: $admin-ng-sidebar-width--normal;
  min-width: $admin-ng-sidebar-width--min;
  overflow: scroll;
  z-index: z(admin-sidebar-content);
  padding: $spacing--xs;

  &--transparent {
    background-color: transparent;
  }

  &--light {
    background-color: var(--content--over-10a);
  }

  &--dark {
    background-color: var(--content--under);
  }
}
