@import "scss/constants";

.AdminSidebar {
  width: $admin-ng-sidebar-width--normal;
  min-width: $admin-ng-sidebar-width--min;
  height: calc(100% - #{$admin-ng-tab-footer-height--max});
  overflow: scroll;
}
