$search-dropdown-width: 18.125rem;
$search-dropdown-height--empty: 40px;
$search-dropdown-height--max: 480px;

$search-results-height--max: 385px;

$search-result-padding--horizontal: 12px;
$search-result-padding--vertical: 8px;
$search-result-image--right-margin: 10px;
$search-result-image--size: 32px;
