@import "scss/constants";
$sand: #937c63;

$top-margin: 20px;
$vertical-padding: 20px;
$side-padding: 30px;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;

.checkbox {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 6px 0 6px 40px;
  &:before {
    content: "";
    position: absolute;
    margin-left: -40px;
    margin-top: -6px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba($white, 0.12);
    box-shadow: 0 0 0 2px rgba($white, 0.4);
  }
  &:hover {
    &:before {
      box-shadow: 0 0 0 2px rgba($white, 1);
    }
  }
  &.checkbox-checked {
    &:before {
      background-color: $primaryColor;
      box-shadow: 0 0 0 2px rgba($white, 0);
      background-image: url("./img/checkbox-checked.png");
      background-size: 30px 30px;
    }
  }
}

.page-container {
  max-height: 100%;
  background-color: $dark;
  overflow: hidden;
}
.page-container-onboarding {
  max-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
}

.code-of-conduct-container {
  padding-top: 30px;
}

.hero-logo {
  &.coreality {
    margin: 0 auto 50px;
    background-image: url("./img/coreality-logo-sparkles.png");
    width: 270px;
    height: 106px;
    background-size: 270px 106px;
  }

  &.sparkle {
    margin: 0 auto;
    background-image: url("/sparkle-logo.png");
    width: 280px;
    height: 225px;
    background-size: 280px;
  }
}

.login-container {
  max-width: $login-max-width;
  margin: 0 auto;
  padding: $side-padding;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: center;
  border-radius: $border-radius;

  .form {
    margin-top: 2rem;
  }
}

.secondary-action {
  margin-top: 2rem;
  font-size: 1.2em;
  opacity: 0.8;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

.profile-picture-preview {
  width: 80px;
  height: 80px;
  border: 3px solid $white;
  margin-bottom: -10px;
}

.profile-picture-preview-container {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.profile-picture-input {
  display: none;
}

.profile-picture-button {
  background: $primaryColor;
  max-width: 300px;
  display: flex;
  align-items: center;
  border-radius: 22px;
  padding: 15px 50px;
  color: $black;
  font-weight: 700;

  &:hover {
    transform: translateY(-1px);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.6) 100%
    );
    color: rgba(0, 0, 0, 1);
  }
}

.profile-picture-upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

@media (max-width: $login-max-width) {
  .login-container {
    border-radius: 0;
  }
}

.splash-page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  .playa-img {
    opacity: 0.5;
    width: 100%;
  }
  .step-container {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
  }
  .step0-container {
    top: 50%;
    bottom: 25%;
    max-width: $login-max-width;
    margin: 0 auto;
    padding: $side-padding;
    background-color: $dark;
    box-shadow: $large-shadow;
    text-align: center;
    border-radius: $border-radius;
    .enter-button {
      margin-top: 15px;
    }
  }
  .welcome-to-the-burn {
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    height: 200px;
    line-height: 200px;
    font-size: 40px;
    background-color: $sand;
    border: solid 1px black;
  }
  .enter-the-burn {
    position: absolute;
    top: 40%;
    left: 30%;
    right: 30%;
    height: 200px;
    padding: 20px;
    font-size: 18px;
    background-color: darken($sand, 20%);
    border: solid 1px black;
    .enter-button {
      margin-top: 30px;
    }
  }
  .ten-principles-burning {
    max-width: $login-max-width;
    margin: 0 auto;
    padding: $side-padding;
    background-color: $black;
    box-shadow: $large-shadow;
    text-align: center;
    border-radius: $border-radius;
    overflow-y: auto;
    bottom: 10%;

    .form {
      margin-top: 2rem;
    }

    .principle-name {
      font-weight: bold;
      font-size: 15px;
    }
    .principle-description {
      font-size: 12px;
    }
  }
  .step4-container {
    top: 20%;
    bottom: 20%;
    max-width: $login-max-width;
    margin: 0 auto;
    padding: $side-padding;
    background-color: $black;
    box-shadow: $large-shadow;
    text-align: center;
    border-radius: $border-radius;
    .step-4-buttons {
      width: 100%;
      padding: 15px;
      border-radius: $border-radius;
      background-color: $dark;
      margin-bottom: 20px;
      cursor: pointer;
      height: 130px;
      transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        box-shadow: 0 0 0 4px rgba($white, 0.62);
        background-color: lighten($dark, 4%);
      }
    }
  }
  .step5-container {
    top: 8%;
    bottom: 8%;
    max-width: $login-max-width;
    margin: 0 auto;
    padding: $side-padding;
    background-color: $black;
    box-shadow: $large-shadow;
    text-align: center;
    border-radius: $border-radius;
    .microphone {
      width: 410px;
      background-color: black;
    }
    .microphone-button {
      width: 200px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background-color: grey;
      border: none;
      margin-bottom: 15px;
    }
  }
  .step6b-container {
    top: 50%;
    bottom: 20%;
    max-width: $login-max-width;
    margin: 0 auto;
    padding: $side-padding;
    background-color: $dark;
    box-shadow: $large-shadow;
    text-align: center;
    border-radius: $border-radius;
    .step6b-welcome-message {
      margin-bottom: 30px;
    }
  }
}
