@import "scss/constants";

$side-padding: 30px;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;

.checkbox {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 6px 0 6px 40px;
  &:before {
    content: "";
    position: absolute;
    margin-left: -40px;
    margin-top: -6px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: rgba($white, 0.12);
    box-shadow: 0 0 0 2px rgba($white, 0.4);
  }
  &:hover {
    &:before {
      box-shadow: 0 0 0 2px rgba($white, 1);
    }
  }
  &.checkbox-checked {
    &:before {
      background-color: $primary;
      box-shadow: 0 0 0 2px rgba($white, 0);
      background-image: url("./img/checkbox-checked.png");
      background-size: 30px 30px;
    }
  }
}

.page-container {
  background-color: $dark;
  min-height: 100vh;
  padding: 120px 0 80px;
}

.coreality-logo-sparkles {
  margin: 0 auto 50px;
  width: 270px;
  height: 106px;
  background-image: url("./img/coreality-logo-sparkles.png");
  background-size: 270px 106px;
}

.login-container {
  max-width: $login-max-width;
  margin: 0 auto;
  padding: $side-padding;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: center;
  border-radius: $border-radius;

  .form {
    margin-top: 2rem;
  }
}

.secondary-action {
  margin-top: 2rem;
  font-size: 0.8em;
  opacity: 0.8;
}

@media (max-width: $login-max-width) {
  .login-container {
    border-radius: 0;
  }
}
