@import "scss/constants";

$sand: #937c63;

$top-margin: 20px;
$vertical-padding: 20px;
$side-padding: 30px;
$border-radius: 28px;
$large-shadow: box-shadow--large(var(--content--under-30a));
$auth-icon-sso-size: 35px;
$login-wide-max-width: 1140px;
$auth-body-max-width: 365px;

$modal-max-width: 540px;

.checkbox {
  display: block;
  text-align: left;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 6px 0 6px 40px;

  &:before {
    content: "";
    position: absolute;
    margin-left: -40px;
    margin-top: -6px;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: opaque-white(0.12);
    box-shadow: 0 0 0 2px opaque-white(0.4);
  }

  &:hover {
    &:before {
      box-shadow: 0 0 0 2px opaque-white(1);
    }
  }

  &.checkbox-checked {
    &:before {
      background-color: $primary--over;
      box-shadow: 0 0 0 2px opaque-white(0);
      background-image: url(/assets/icons/checkbox-checked.png);
      background-size: 30px 30px;
    }
  }
}

.page-container {
  background-color: $secondary--live;
  flex-direction: column;
  flex: 1;
  padding-bottom: $spacing--xxl;

  .login-container {
    align-self: center;

    .header-message {
      text-align: center;
    }

    .subheader-message {
      text-align: center;
    }
  }
}

.page-container-onboarding {
  max-height: 100%;
  overflow: hidden;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;

  .login-welcome-title {
    font-style: italic;
    font-weight: 900;
    text-align: center;
  }

  .login-welcome-subtitle {
    text-align: center;
    padding-bottom: $spacing--xxl;
  }

  .create-account__button {
    align-self: center;
  }
}

.hero-logo {
  &.coreality {
    margin: 0 auto 50px;
    background-image: url(/assets/images/coreality-logo-sparkles.png);
    width: 270px;
    height: 106px;
    background-size: 270px 106px;
  }

  &.sparkle {
    margin: 0 auto;
    background-image: url(/assets/images/Sparkle_logo_white_yellow.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 225px;
    background-size: 280px;
  }
}

.secondary-action {
  margin-top: 2rem;
  font-size: 1.2em;
  opacity: 0.8;
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

@media (max-width: $auth-container-max-width) {
  .login-container {
    border-radius: 0;
  }
}

.splash-page-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;

  .step-container {
    max-height: 100%;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
  }
}
