@import "scss/constants";

.CodeOfConduct {
  height: 100%;
  background-color: transparent;

  padding-top: 30px;

  &__form {
    align-self: center;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  &__title {
    padding-bottom: 30px;
  }

  .checkbox.checkbox-checked:before {
    background-image: none;
    background-color: var(--accent--under);
    border: $border-width--bold solid var(--accent--over-50a);
  }
}
