@import "scss/constants.scss";

.Login {
  &__login-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: $spacing--md;
    padding: $spacing--lg $spacing--lg;
    box-shadow: inset 0 0 0 3px #6f43ff;
    border-radius: 0.25rem;
    font-size: 19px;
    transition: all 400ms $transition-function;
    font-weight: 500;

    &:hover {
      background-color: darken($color: $primary, $amount: 20%);
      cursor: pointer;
    }
  }

  &__alternative-logins {
    margin-top: $spacing--md;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing--xs;
  }

  &__issues-text {
    margin-top: $spacing--xxl;
    color: $secondary--light;
    font-style: italic;
  }
}
