@import "scss/constants.scss";

.Login {
  &__login-box {
    width: 250px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: $spacing--md auto;
    padding: $spacing--lg $spacing--lg;
    box-shadow: inset 0 0 0 3px #6f43ff;
    border-radius: 0.25rem;
    font-size: $font-size--xl;
    transition: all 400ms $transition-function;
    font-weight: $font-weight--500;

    // @debt will need this in the future so just leaving it here
    // &:hover {
    //   background-color: darken($color: $primary, $amount: 20%);
    //   cursor: pointer;
    // }
  }

  &__quick-login-icon {
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }

  &__alternative-logins {
    border: none;
    border-width: 0;
    background: none;
    color: $white;
    margin-top: $spacing--md;
    display: flex;
    justify-content: center;
    margin-bottom: $spacing--xs;
  }

  &__issues-text {
    margin-top: $spacing--xxl;
    color: $secondary--light;
    font-style: italic;
  }
}
