@import "scss/constants.scss";

$dark: #1a1d24;

.venue-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  .whats-on-container {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    flex: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;

    .title-container {
      display: flex;
      align-items: center;
      font-size: 25px;
      img {
        height: 25px;
        margin-right: 5px;
      }
    }

    .description-container {
      margin-top: 10px;
      color: $concrete;

      .yellow {
        color: $bright-yellow;
      }
    }
  }

  .btn-primary {
    background-image: none;
    background-color: $bright-yellow;
    color: $black;
    font-weight: bold;
    font-size: larger;
  }
}

.whatson-container {
  padding-top: 4px;
}
.whatson-title-container {
  display: block;
  color: yellow;
  font-size: 0.8rem;
  opacity: 0.6;
  margin-bottom: 4px;
}
.whatson-description-container-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}
.whatson-description-container-description {
  @include line-clamp-with-overflow(2);
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 4px;
}

.modal-content {
  .events-list {
    overflow-y: auto;
    .event {
      margin-bottom: 5px;
      padding: 16px;
      display: flex;
      &:nth-child(even) {
        background-color: rgba($dark, 0.5);
      }
      &.event_live {
        background-color: rgba($primary, 0.2);
        .event-time,
        .event-text h5 {
          color: white;
        }
      }

      .event-time {
        margin-right: 10px;
        .event-time-start,
        .event-time-end {
          font-size: 0.9em;
          display: inline-block;
          width: 165px;
          &.event-time-end {
            opacity: 0.5;
          }
        }
        .event-badge-live {
          display: block;
          margin-top: 6px;
          border-radius: 16px;
          background-color: rgba($primary, 0.2);
          text-align: center;
          color: $white;
          padding: 2px 0;
          font-weight: 500;
        }
      }
      .event-text {
        margin-left: 5px;
        .button-join-now {
          color: white;
          text-decoration: none;
        }
        .h5 {
          margin-top: 0;
          margin: 0;
        }
        a {
          font-weight: normal;
          margin-top: 0.5rem;
          display: inline-block;
          color: white;
          text-decoration: underline;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
