@import "scss/constants";

.chat-drawer-container {
  z-index: z(chat-drawer-container);
  display: flex;
  flex-direction: column;
  transition: all 0.2s linear;
  flex-basis: 0;
  background: $dark;
  height: 100px;
  padding: 10px;
  border-radius: 22px 0 0 22px;
  cursor: pointer;
  box-shadow: 0 0 30px #000000;

  &.expanded {
    height: calc(100vh - #{$navbar-height * 2});
    width: 420px;
    cursor: default;
  }

  .chat-icon-container {
    width: 50px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 8px;
    align-items: center;
  }

  .form-message {
    margin-bottom: 10px;
  }

  .chevron-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
    margin-top: 3px;
    cursor: pointer;

    .rotating-chevron {
      transition: all 0.2s linear;
      &.expanded {
        transform: rotate(-180deg);
      }
    }
  }

  .chat-icon {
    color: $primaryColor;
    font-size: 30px;
  }

  .band-reaction-container {
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: rgba(0, 0, 0, 0);
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: rgba($white, 0);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 2px;
      background-color: rgba($white, 0.4);
    }
  }
}
