@import "scss/constants";

$border-radius: 22px;
$spacing: 20px;

.PortalModal {
  background-color: $secondary--live;
  display: flex;
  flex-direction: column;

  &__modal-body {
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    background-color: $secondary--live;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    overflow-y: auto;
  }

  &__close-icon {
    @include square-size($spacing--xxl);
    position: absolute;
    right: $spacing--lg;
    top: $spacing--lg;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    font-weight: $font-weight--700;
    font-size: $font-size--xl;
  }

  &__subtitle {
    font-weight: $font-weight--300;
    font-size: $font-size--lg;
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: $spacing--xxl $spacing--xxl $spacing--lg;
  }

  &__icon {
    @include square-size(112px);
    flex-shrink: 0;
    border-radius: $border-radius;
    background-color: $content--under;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__content {
    flex: 1;
    margin-left: $spacing;
  }

  &__btn-wrapper {
    display: flex;
  }

  &__btn-enter {
    margin: $spacing--lg auto;
    flex-basis: 264px;
  }

  &__userlist {
    margin-top: $spacing--lg;

    .UserList__label {
      align-items: flex-start;
    }

    .UserList__label-text {
      margin-bottom: $spacing--xs;
    }

    .UserList__avatars {
      justify-content: unset;
    }
  }

  &__description {
    background: $secondary--live;
    margin: 0 $spacing--xxl;

    font-size: $font-size--md;
    font-weight: $font-weight--400;
    color: opaque-white(0.6);

    p {
      margin-bottom: 0;
    }
  }

  &__events {
    max-height: 35vh;
    padding-bottom: $spacing--xxl;

    // @debt these overrides are here because ScheduleItem sets incompatible margins/etc.
    //   We should just clean it up there instead.
    .schedule-item-container {
      margin: -10px;
      border-radius: $border-radius;
    }
  }
}
