@import "scss/constants";

$border-radius: 22px;
$spacing: 20px;

.PortalModal {
  &__modal-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    background-color: $secondary--live;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    font-weight: $font-weight--700;
    font-size: $font-size--xxl;
  }

  &__subtitle {
    font-weight: $font-weight--300;
    font-size: $font-size--lg;
  }

  &__main {
    padding: $spacing;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__icon {
    flex-shrink: 0;
    height: 180px;
    width: 180px;
    border-radius: $border-radius;
    background-color: $content--under;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .modal-content {
    background: $secondary--live;
    border-radius: $border-radius;
    height: fit-content;
  }

  &__content {
    flex: 1;
    margin-left: $spacing;
  }

  &__btn-enter {
    width: 100%;
    margin-top: 10px;
  }

  &__userlist {
    margin: $spacing 0;
  }

  &__description {
    @include scrollbar;
    padding: 10px $spacing;

    background: $secondary--live;
    border-radius: $border-radius;

    max-height: 25vh;
    overflow-y: auto;

    font-size: $font-size--md;
    font-weight: $font-weight--400;
    color: opaque-white(0.6);
  }

  &__events {
    @include scrollbar;
    max-height: 35vh;
    overflow-y: auto;

    // @debt these overrides are here because ScheduleItem sets incompatible margins/etc.
    //   We should just clean it up there instead.
    .schedule-item-container {
      margin: -10px;
      padding: 10px $spacing;

      border-radius: $border-radius;
    }
  }
}
