.room-delete-modal-container {
  padding: 20px;
  align-items: center;

  h2.centered {
    text-align: center;
  }
}

.map-zoom-container {
  display: flex;
  align-items: flex-end;
  width: 150px;
  justify-content: space-between;
}
