@import "../NewProfileModal";

$edit-buttons-margin-top: 2rem;

.EditingProfileModalContent {
  &__section {
    &:not(:first-child) {
      margin-top: $section-gap-editable;
    }
  }

  &__edit-buttons {
    margin-top: $edit-buttons-margin-top;
  }
}
