@import "scss/constants.scss";

.jazzbar-room {
  &__participants {
    display: flex;
    grid-area: items;

    .jazzbar-room__participant {
      margin: 0 0.25rem;
      width: $video-participant-optimal-width;
    }
  }

  @media (min-width: $media-breakpoint--lg) {
    &__participants {
      justify-content: center;
      .jazzbar-room__participant {
        max-width: 24%;
      }
    }
  }

  @media (max-width: $media-breakpoint--lg) {
    &__participants {
      justify-content: space-around;
      .jazzbar-room__participant {
        max-width: 49%;
      }
    }
  }
}

.empty-chair-image {
  height: 100%;
  object-fit: contain;
  width: 80%;
}
