@import "../../../styles";

.ProfileModalBasicInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  &__edit-container {
    margin-left: auto;
    margin-right: 0;
  }

  &--section {
    margin-left: $header-sections-gap;
  }
}
