@import "../../../styles";

$section-margin: 1.5rem;

.ProfileModalBasicInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &__left-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
  }

  &--grow {
    flex: 1;
  }

  &--section {
    margin-left: $section-margin;
  }

  &__edit-container {
    margin-left: auto;
    margin-right: 0;
  }
}
