@import "scss/constants.scss";

.reaction-list {
  flex-direction: column;
  padding: 0 15px;

  .message-bubble {
    font-size: 30px;
    background: black;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 22px;
    width: 100%;
  }
  .message {
    display: flex;

    img {
      margin-right: 20px;
    }
  }

  &.small {
    .message-bubble {
      font-size: 15px;
      margin-bottom: 10px;

      &.emoji {
        font-size: 25px;
        padding: 0px 20px;
      }
    }
  }
}
