@import "scss/constants";

.ChatboxOptionsControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing--sm $spacing--md 0 $spacing--md;

  &__dropdown.dropup {
    display: flex;
    justify-content: flex-end;

    .dropdown-toggle {
      background: none;
      padding: 0;
      border-radius: 0;
      text-decoration: none;

      font-size: $font-size--sm;
      font-weight: $font-weight--400;
      line-height: inherit;
      color: opaque-white(0.8);
      border: none;
      border-bottom: thin solid opaque-white(0.8);

      &:focus {
        box-shadow: none;
      }

      &:hover:enabled {
        background-image: none;
        transform: none;
        color: opaque-white(0.9);
        border-bottom: thin solid opaque-white(0.9);
      }

      &::after {
        display: none;
      }
    }

    .dropdown-menu {
      background-color: $primary;
      border-radius: $border-radius--xl;
    }

    .dropdown-item {
      display: flex;
      justify-content: space-between;
      padding: $spacing--xs $spacing--lg;
      font-weight: $font-weight--500;
      text-decoration: none;

      &:hover,
      &:focus {
        background: none;
        opacity: 0.8;
      }
    }
  }
}
