@import "scss/constants";

.ChatboxOptionsControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing--sm $spacing--md 0 $spacing--md;

  &__option {
    width: 100%;
    display: flex;

    span {
      width: 80%;
    }
  }

  .Dropdown {
    &__button__menu {
      background-color: var(--accent--under);
      border-radius: 24px;
      top: -65px;
      left: -65px;
      width: 150px;
    }

    &__button__control {
      padding: 0px;
    }

    &__button__option {
      padding: 8px 12px;

      display: flex;
      justify-content: space-between;
      font-weight: $font-weight--500;
      text-decoration: none;

      &:hover,
      &:focus {
        background: none;
        opacity: 0.8;
      }
    }
  }
}
