@import "scss/constants";

.ChatboxOptionsControls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $spacing--sm $spacing--md 0 $spacing--md;

  &__option {
    width: 100%;
    display: flex;

    span {
      width: 80%;
    }
  }

  &__dropdown .Select {
    &__menu {
      background-color: var(--accent--under);
      border-radius: $border-radius--xl;
      padding: 0 font-size--root(1);
      left: font-size--root(1);
      top: font-size--root(-5);
      min-width: font-size--root(10);
      max-width: calc(100% - #{font-size--root(2)});
    }

    &__control {
      padding: 0;
    }

    &__indicators {
      display: none;
    }

    &__option {
      padding: $spacing--sm $spacing--md;
      display: flex;
      justify-content: space-between;
      font-weight: $font-weight--500;
      text-decoration: none;

      &:hover,
      &:focus {
        background: none;
        opacity: 0.8;
      }
    }
  }
}
