@import "scss/constants";

.AdminSidebarAccordion {
  &__title {
    display: flex;
    justify-content: space-between;
    padding: $spacing--md;
    margin: 0;
    background-color: $secondary--dark;
    border-bottom: 1px solid opaque-white(0.1);
    cursor: pointer;

    &:hover {
      background-color: var(--content--under-lighter-15pp);
    }
  }

  &__contents {
    margin: 0;
    padding: 0;
  }
}
