@use "scss/attendee/space";
@use "scss/attendee/breakpoint";

.tableGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: space.empty(1);
  @media (min-width: breakpoint.$md) {
    padding: space.empty(2) space.empty(3.5) space.empty(2);
  }
  flex-wrap: wrap;
}
