@use "scss/attendee/variables.scss"as *;

.Select {
  &__wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    width: 100%;
    font-size: 14px;
    padding: 4px 0px;
  }

  &__select {
    padding: 4px 4px 4px 16px;
    height: 42px;
    border-radius: 0px 4px 4px 0px;
    box-sizing: border-box;
    width: 100%;
    border: none;
  }
}
