@use "scss/attendee/layout";
@use "scss/attendee/space";

.attendeeHeader {
  display: flex;
  position: fixed;
  z-index: 111;
  width: 100vw;
  padding: space.empty(1);

  // @debt use camelCase
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__chatExpanded {
    width: calc(100vw - layout.$w-sidebar - space.empty(1));
    padding-right: space.empty(1);
  }
}
