@import "../scss/AttendeeMixins.scss";

.AttendeeHeader {
  display: flex;
  position: fixed;
  z-index: 111;
  width: 100vw;
  padding: $whitespace;

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
