$side-padding: 30px;
$primary: #6f43ff;
$black: #000000;
$white: #fff;

$gradient: linear-gradient(-124deg, #e15ada 0%, #6f43ff 50%, #00f6d5 100%);

$dark: #1a1d24;
$border-radius: 28px;
$large-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
$login-max-width: 540px;
$modal-max-width: 540px;
$page-max-width: 1240px;

$sand: #937c63;

.modal-content {
  width: 100%;
  max-width: $modal-max-width;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background-color: $black;
  box-shadow: $large-shadow;
  text-align: left;
  border-radius: $border-radius;
  overflow: hidden;

  h3 {
    margin-bottom: 1rem;
    padding: 0 $side-padding;
  }
  .modal-tabs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: center; /* Align Items Vertically */
    justify-content: space-around;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba($white, 0.2);
    overflow-x: auto;
    overflow-y: hidden;
    button {
      background-color: transparent;
      border: none;
      display: block;
      position: relative;
      color: white;
      text-align: center;
      padding: 4px 10px;
      opacity: 0.7;
      font-weight: 400;
      &:hover {
        opacity: 1;
      }
      &.selected {
        opacity: 1;
        font-weight: bold;
        color: yellow;
        outline: none;
        &:after {
          content: "";
          position: absolute;
          height: 2px;
          border-radius: 4px;
          width: 100%;
          background-color: white;
          left: 0;
          bottom: -1px;
        }
      }
    }
  }
  .events-list {
    overflow-y: auto;
    .event {
      margin-bottom: 5px;
      padding: 16px;
      display: flex;
      &:nth-child(even) {
        background-color: rgba($dark, 0.5);
      }
      &.event_live {
        background-color: rgba($primary, 0.2);
        .event-time,
        .event-text h5 {
          color: white;
        }
      }

      .event-time {
        margin-right: 10px;
        .event-time-start,
        .event-time-end {
          font-size: 0.9em;
          display: inline-block;
          width: 165px;
          &.event-time-end {
            opacity: 0.5;
          }
        }
        .event-badge-live {
          display: block;
          margin-top: 6px;
          border-radius: 16px;
          background-color: rgba($primary, 0.2);
          text-align: center;
          color: $white;
          padding: 2px 0;
          font-weight: 500;
        }
      }
      .event-text {
        margin-left: 5px;
        .button-join-now {
          color: white;
          text-decoration: none;
        }
        .h5 {
          margin-top: 0;
          margin: 0;
        }
        a {
          font-weight: normal;
          margin-top: 0.5rem;
          display: inline-block;
          color: white;
          text-decoration: underline;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}
