.MapPreview {
  width: 100%;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 40px;

  &__header {
    padding: 1.1em;
    position: absolute;
    top: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
    border-radius: 0 0 2em 0;
  }
}
