@import "scss/constants.scss";

.MapPreview {
  width: 100%;
  margin-bottom: $spacing--xxl;
  position: relative;
  overflow: hidden;
  border-radius: $border-radius--xl;

  &__header {
    padding: $spacing--xl;
    position: absolute;
    top: 0;
    z-index: z(map-preview-header);
    background: opaque-black(0.4);
    font-size: $font-size--md;
    border-radius: 0 0 $border-radius--xl 0;
  }
}
