@import "scss/constants";

// @debt Replace magic numbers with variables/constants/functions having meaningful names
.TemplateCard {
  width: 100%;
  padding: 18px;
  border-radius: $border-radius--xl;
  background-color: $dark;
  cursor: pointer;
  min-height: 156px;
  margin-bottom: 1rem;
  transition: all 400ms $transition-function;

  &:hover {
    box-shadow: 0 0 0 4px opaque-white(0.62);
    background-color: lighten($dark, 4%);
  }

  &--hidden {
    display: none;
  }

  &--selected {
    box-shadow: 0 0 0 4px $primary;
    background-color: lighten($dark, 4%);
  }

  &--selected &__thumbnail {
    background-image: $gradient;
  }

  &__thumbnail {
    position: relative;
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 20px;
    background-color: $black;
    border-radius: $border-radius--xl;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      position: absolute;
      width: 80px;
      height: 80px;
      left: 20px;
      top: 20px;
      margin: auto;
    }

    img {
      max-width: 70%;
      max-height: 70%;
    }
  }

  &__thumbnail-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    flex: 1;
  }

  ul {
    text-indent: 20px;
  }
}
