// THIS FILE IS FOR RARE CASES OF GLOBALLY SHARED RESOURCES
// PLEASE EXPLORE OTHER OPTIONS BEFORE ADDING TO IT

@font-face {
  font-family: "Sparkle";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/ABCArizonaPlusVariable-Trial.woff2") format("woff2");
}
