.attendance-avatars {
  display: flex;
  flex-direction: row;
  justify-content: centers;

  .attendance-avatar {
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
  }

  .avatars-inside {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    height: 20px;
    padding: 10px;
  }
}
