$colors-enum: (
  primary: #7c46fb,
);
$shades-enum: (5, 10, 14, 20, 50);
$alphas-enum: (0.18, 0.2, 0.24, 0.35, 0.5, 0.56, 0.65, 0.8);

:root {
  --content--under: #000000;
  --content--under-rgb: 0, 0, 0;
  --content--over: #ffffff;
  --content--over-rgb: 255, 255, 255;
  --accent--over: #ffffff;
  --accent--under: #7c46fb;
  --accent--under-rbg: 124, 70, 251;

  @each $name, $color in $colors-enum {
    @each $shade in $shades-enum {
      --#{$name}--darker-#{$shade}pp: #{darken($color, $shade * 1%)};
      --#{$name}--lighter-#{$shade}pp: #{lighten($color, $shade * 1%)};
    }

    @each $alpha in $alphas-enum {
      --#{$name}-accent--under-#{$alpha*100}a: #{rgba(
          var(--accent--under-rbg),
          $alpha
        )};
    }
  }
}
