$primaryColor: var(--primary-color);
$backgroundColor: var(--background-color);
$dark-grey: #1a1d23;
$light-grey: #292929;
$concrete: #a3a6ab;
$black: #000000;
$white: #fff;
$dark: #1a1d24;
$red: #bc271a;
$pink: #df9e9b;
$green: #4bcc4b;
$yellow: #ffe600;
$light-green: #3ce348;
$dark-green: #208a28;

$sparkle-purple: #2c003e;
