$primaryColor: var(--primary-color);
$backgroundColor: var(--background-color);
$dark-grey: #1a1d23;
$intermediate-grey: #333035;
$saturated-black: #19181a;
$lighter-intermediate-grey: #3d3a3f;
$light-grey: #292929;
$concrete: #a3a6ab;
$black: #000000;
$almost-black: #090909;
$white: #fff;
$dark: #1a1d24;
$red: #bc271a;
$pink: #df9e9b;
$green: #4bcc4b;
$yellow: #ffe600;
$bright-yellow: #f0df73;
$light-green: #3ce348;
$dark-green: #208a28;
$stripe-auto-fill-background-color: #fefde5;
$clickable-area-color: #ffffff11;

$primary: #005ee5;
$chat-open: rgba(80, 227, 194, 0.35);
$chat-closed: rgba(dodgerblue, 0.35);
$chat-busy: rgba(#6f43ff, 0.35);
$chat-busy-me: rgba(#ffffff, 0.35);
$gradient: linear-gradient(124deg, #00f6d5 0%, #6f43ff 50%, #e15ada 100%);
$danger-gradient: linear-gradient(
  124deg,
  #e15a5a 0%,
  #e30e2f 50%,
  #f60053 100%
);
$admin-gradient: linear-gradient(141deg, #5a35ad 0%, #26144f 100%);

$map-sidebar-width: 20%;
$navbar-height: 66px;
$footer-height: 30px;
$chat-input-height: 114px;
$ripple-color: chocolate;
$playa-width-and-height: 2000px;
$playa-venue-size: 40px;
$playa-avatar-size: 48px;
$playa-venue-live: rgb(125, 223, 194);

$profile-image-bg-color: #999999;
$room-info-bg: #005ee5;

// @debt the following locations are using styled-components, so can't use our helper function yet
//   pages/Admin/Room/Modal/RoomModal.styles.ts (z-index: 101)
//   components/molecules/UserProfilePicture/UserProfilePicture.styles.ts (z-index: 10)
//   components/atoms/Legend/Legend.styles.ts (z-index: 5)
$z-layer-navbar: 30;
$z-layer-live-schedule: 20;
$z-layer-sidebar: 15;
$z-layer-footer: 20;
$z-layers: (
  // Admin
  admin-navbar: 100,
  admin-placement: 10,
  admin-venue-header-after: 2,
  admin-venue-header: -1,
  // Audience
  audience-emoji-reaction: 1000,
  audience-video: 2,
  // JazzBar
  jazzbar-participant-profile-icon: 1,
  // Chat
  chatbox-chat-container: $z-layer-sidebar,
  chat-drawer-container: $z-layer-sidebar,
  chatbox-submit-button: 1,
  chatslist-private-container-back-button: 1,
  user-search-close-icon: 1,
  user-search-input-close-btn: 1,
  user-search-results: 380,
  // Nav
  navbar-map-back-button: 3,
  navbar-nav-search-close-icon: 1,
  navbar-nav-search-input-close-btn: 1,
  navbar-nav-search-results: 380,
  navbar-schedule-backdrop: $z-layer-live-schedule,
  navbar-schedule: $z-layer-live-schedule,
  navbar: $z-layer-navbar,
  // Sidebars + similar
  sidebar-slide-btn: -1,
  sidebar: $z-layer-sidebar,
  left-column: $z-layer-sidebar,
  // Map
  map-room-hovered: 3,
  map-room: 2,
  // Legacy
  account-profile-picture-preview: 1,
  duststorm-container: 100,
  duststorm-modal-content: 220,
  // Unsorted
  announcement: $z-layer-sidebar,
  footer: $z-layer-footer,
  global-profile-icon: 1,
  user-avatar-status-dot: 1,
  private-chat-input-search-icon: 1,
  recipient-chat-breadcrumbs: 1,
  loading-page-sparkle: 10,
  private-recipient-search-input-dropdown: 1,
  user-profile-picture-heart: 99999,
  user-profile-picture-reaction: 1000,
  venuepage-preview-indication: 1
);

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted. Falling back to 1.";
    @return 1;
  }

  @return map-get($z-layers, $layer);
}
