$primaryColor: var(--primary-color);
$backgroundColor: var(--background-color);
$dark-grey: #1a1d23;
$intermediate-grey: #333035;
$saturated-black: #19181a;
$saturated-black-alt: #262427;
$lighter-intermediate-grey: #3d3a3f;
$light-grey: #292929;
$concrete: #a3a6ab;
$black: #000000;
$almost-black: #090909;
$white: #fff;
$dark: #1a1d24;
$red: #bc271a;
$pink: #df9e9b;
$green: #4bcc4b;
$yellow: #ffe600;
$bright-yellow: #f0df73;
$light-green: #3ce348;
$dark-green: #208a28;
$stripe-auto-fill-background-color: #fefde5;
$clickable-area-color: #ffffff11;

$primary: #6f43ff;
$secondary: #6f43ff;
$chat-open: rgba(80, 227, 194, 0.35);
$chat-closed: rgba(dodgerblue, 0.35);
$chat-busy: rgba($secondary, 0.35);
$chat-busy-me: rgba(#ffffff, 0.35);
$gradient: linear-gradient(124deg, #00f6d5 0%, $secondary 50%, #e15ada 100%);
$danger-gradient: linear-gradient(
  124deg,
  #e15a5a 0%,
  #e30e2f 50%,
  #f60053 100%
);
$admin-gradient: linear-gradient(141deg, #5a35ad 0%, #26144f 100%);

$sidebar-width: 360px;
$navbar-height: 66px;
$footer-height: 30px;
$chat-input-height: 114px;
$ripple-color: chocolate;
$playa-width-and-height: 2000px;
$playa-venue-size: 40px;
$playa-avatar-size: 48px;
$playa-venue-live: rgb(125, 223, 194);

$border-radius--small: 8px;
$border-radius--input: 22px;

$font-size--small: 0.9rem;
$avatarSize: max(4vh, 3vw);
$avatarSizeMin: 25px;
$reactionSize: max(2.5vh, 2vw);

$profile-image-bg-color: #999999;
$room-info-bg: #6f43ff;

$small-laptop-width: 980px;

$small-desktop-width: 1024px;

$normal-tablet-width: 800px;

$media-breakpoint--sm: 576px;
$media-breakpoint--md: 768px;
$media-breakpoint--lg: 992px;
$media-breakpoint--xl: 1200px;

$transition-function: cubic-bezier(0.23, 1, 0.32, 1);

// @debt the following locations are using styled-components, so can't use our helper function yet
//   pages/Admin/Room/Modal/RoomModal.styles.ts (z-index: 101)
//   components/atoms/Legend/Legend.styles.ts (z-index: 5)
$z-layer-navbar: 30;
$z-layer-live-schedule: 20;
$z-layer-sidebar: 15;
$z-layers: (
  // Admin
  admin-venue-card-bg: -1,
  admin-navbar: 100,
  admin-placement: 10,
  admin-venue-header-after: 2,
  admin-venue-header: -1,
  // JazzBar
  jazzbar-participant-profile-icon: 1,
  // Chat
  chatbox-chat-container: $z-layer-sidebar,
  chat-drawer-container: $z-layer-sidebar,
  chatbox-submit-button: 1,
  chatslist-private-container-back-button: 1,
  user-search-close-icon: 1,
  user-search-input-close-btn: 1,
  user-search-results: 380,
  // Nav
  navbar-map-back-button: $z-layer-sidebar,
  navbar-schedule-backdrop: $z-layer-live-schedule,
  navbar-schedule: $z-layer-live-schedule,
  navbar: $z-layer-navbar,
  // Sidebars + similar
  sidebar-slide-btn: -1,
  sidebar: $z-layer-sidebar,
  left-column: $z-layer-sidebar,
  // UserReactions
  user-reactions-shout: 2,
  user-reactions-emoji: 1,
  // Map
  map-room--hovered: 6,
  map-avatar: 5,
  map-room: 4,
  map-grid: 3,
  map-room--unclickable: 2,
  map-background: 1,
  // Legacy
  account-profile-picture-preview: 1,
  duststorm-container: 100,
  duststorm-modal-content: 220,
  // Unsorted
  announcement: $z-layer-sidebar,
  footer: $z-layer-sidebar,
  global-profile-icon: 1,
  user-avatar-status-dot: 1,
  input-icon: 1,
  recipient-chat-breadcrumbs: 1,
  loading-page-sparkle: 10,
  private-recipient-search-input-dropdown: 1,
  venuepage-preview-indication: 1
);

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @error "No layer found for `#{$layer}` in $z-layers map.";
  }

  @return map-get($z-layers, $layer);
}

@function box-shadow--large($transparency: 0.5) {
  @return 0 10px 30px 0 rgba($black, $transparency);
}

@mixin scrollbar {
  &::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba($black, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($white, 0.3);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($white, 0.5);
  }
}
