@import "node_modules/bootswatch/dist/darkly/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/darkly/bootswatch";

body {
  padding-top: 84px;
}

.announcement-list {
  height: 400px;
  overflow: auto;
}