:root {
  --primary-color: #f6e652;
}

@import "node_modules/bootswatch/dist/darkly/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/darkly/bootswatch";
@import "./constants.scss";

body {
  font: 1rem/1.3 "Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica,
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $black;
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Titles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  &.primary {
    color: $primaryColor;
  }
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}

// Buttons
a.btn,
input.btn {
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 12px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  font-size: 1em;

  background-color: $primaryColor;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.24) 0%,
    rgba(0, 0, 0, 0.24) 100%
  );
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  color: $white;
  transform: translateY(0);

  &:hover {
    transform: translateY(-1px);
    background-color: $primaryColor;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.18) 0%,
      rgba(0, 0, 0, 0.18) 100%
    );
    color: rgba(0, 0, 0, 1);
  }
  &.btn-primary {
    color: $black;
    background-color: $primaryColor;
    background-image: none;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.21);
    &:hover {
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }
  }
  &.btn-block {
    display: block;
    max-width: 275px;
    margin-bottom: 0.8rem;
  }
  &.btn-centered {
    margin-left: auto;
    margin-right: auto;
  }
  &.disabled,
  &[type="submit"]:disabled {
    color: rgba($white, 0.2);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
    &.btn-primary {
      color: $black;
      background-color: $primaryColor;
      background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.7) 100%
      );
    }
  }
}

button.btn {
  font-weight: 700;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  border-radius: 22px;
  text-align: center;
  font-size: 1em;

  background-color: $primaryColor;
  transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);
  color: $black;
  transform: translateY(0);

  &:hover {
    transform: translateY(-1px);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    );
  }
  &.btn-block {
    display: block;
    max-width: 275px;
    margin-bottom: 0.8rem;
  }
  &.btn-centered {
    margin-left: auto;
    margin-right: auto;
  }
  &.disabled {
    color: rgba($white, 0.2);
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    );
  }
}

// Inputs
input,
textarea {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: rgba($white, 0.12);
  width: 100%;
  position: relative;
  cursor: pointer;
  font-size: 1em;
  padding: 12px;
  border-radius: 22px;
  text-align: center;
  color: $white;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active,
  &:-webkit-autofill:focus {
    background-color: rgba(white, 0) !important;
  }
  &:hover {
    background-color: rgba($white, 0.16);
  }
  &:focus {
    box-shadow: 0 0 0 2px rgba($white, 1);
  }
  &[type="checkbox"]:focus {
    box-shadow: unset;
  }
  &.input-block {
    display: block;
    max-width: 275px;
    margin-bottom: 0.8rem;
  }
  &.input-centered {
    margin-left: auto;
    margin-right: auto;
  }
  &.btn {
    font-weight: 700;
  }
}

textarea {
  resize: none;
  font-family: inherit;
  font-size: inherit;
  height: 100px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  input.input-block {
    margin-bottom: 0.3rem;
  }
  .input-info {
    font-size: 0.8em;
    opacity: 0.8;
  }
  .input-error {
    font-size: 0.8em;
    opacity: 0.8;
    color: red;
  }
}

.announcement-list,
.chat-list {
  height: 400px;
  overflow: auto;
}

.profile-icon {
  border-radius: 50%;
  margin: 1px;
  cursor: pointer;
  object-fit: contain;
}

.room-attendance {
  cursor: pointer;
  border-radius: 10px;
  padding: $spacer * 0.25 $spacer * 0.75;
  background: $black;
  color: $white;

  &.positioned {
    position: absolute;
    opacity: 0.5;
    background: $white;
    color: $black;
  }

  .icon {
    border-radius: 10px 0 0 10px;
    padding: $spacer * 0.25 $spacer * 0.75;
    background: theme-color("primary");
  }

  .attendance-number {
    margin-right: 10px;
  }
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

a {
  color: $white;
  text-decoration: underline;

  &:hover {
    color: $primaryColor;
  }
}

h4 {
  font-weight: bold;
  font-size: 17px;
}

.title {
  font-style: italic;
  font-weight: 700;
}

.collective-icon {
  border-radius: 50%;
  margin-right: 10px;
}

.sparkle-icon {
  width: 130px;
}

.primary {
  color: $primaryColor;
}

.modal-backdrop {
  background: $dark;
  &.show {
    opacity: 0.8;
  }
  &.chat-backdrop.show {
    opacity: 0;
  }
}
.modal-content {
  border: none;
  border-radius: 22px;
  background: $black;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.34);
}

.full-page-container.experience-container {
  display: flex;
  padding: 5px 30px;
  height: calc(100vh - 50px);
  width: 100vw;
  & > * + * {
    margin-left: 10px;
  }

  .reduced {
    width: 560px;
    height: 315px;
  }

  .table-container {
    background: $dark;
    border-radius: 22px;
    transition: all 0.1s linear;
    padding: 10px;
  }
  .content-column {
    height: 100%;
  }

  .content-column > .row {
    height: 100%;
  }

  .row.reduced {
    height: 100%;
    width: 100%;
  }

  .left-column {
    transition: all 0.1s linear;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: $dark;
    border-radius: 22px;
    cursor: pointer;
    overflow: auto;
    height: 100%;
  }

  .left-column.expanded {
    width: 300px;
  }

  .right-column {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 600px;
    height: 100%;
  }

  .user-list {
    margin-bottom: 20px;
  }

  .right-column-content {
    overflow-y: scroll;

    .table-container {
      margin-bottom: 20px;
    }
  }

  .youtube-video {
    transition: all 0.1s linear;
  }
}

.full-page-container.experience-container,
.friendship-container {
  .content {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 25% 25% 25% 25%;
      height: 100%;
      grid-gap: 10px;
      margin: 0 25px;
      width: 100%;
    }
  }
  .participant {
    display: flex;
    background: $dark;
    padding: 10px;
    border-radius: 22px;
    flex: 0 0 24%;

    .profile-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 188%;
    }

    .mute-container {
      position: absolute;
      bottom: 10px;
      left: 0;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
    }

    .mute-other-container {
      position: absolute;
      top: 10px;
      right: 10px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
  }

  video {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
  }
}

.table-container {
  // min-height: 300px;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .participant {
      flex: 0 0 33%;
    }
  }
}

.scrollable-area {
  .at-table {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .participant {
    width: 50%;
  }
}

.chat-modal {
  width: 400px;
  position: absolute;
  right: 10px;
  top: 130px;
  height: calc(100vh - 220px);
  .modal-body {
    background: $dark;
    border-radius: 22px;
  }
  .chatbox-container {
    border: 2px solid $black;
  }
}

input.btn.btn-primary.btn-success {
  background: green;
}

.marketing-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 40px;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-size: 18px;

  ul {
    list-style-position: inside;
  }

  .detail,
  .detail-alt {
    padding: 40px;
    text-align: left;
    margin-bottom: 20px;

    .centered-text {
      text-align: center;
      font-weight: 700;
      font-size: 25px;
    }

    .btn-primary {
      height: 50px;
    }

    iframe {
      border-radius: 22px;
      margin-bottom: 20px;
    }

    li {
      margin-left: 30px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .detail {
    background: $dark;
    width: 100%;
    border-radius: 22px;
  }

  .hero-text {
    font-size: 44px;
    font-weight: 800;
  }

  .detail-hero-text {
    font-size: 32px;
    font-weight: 800;
  }

  .marketing-video {
    height: 480px;
  }
}

.popover-body {
  padding: 0;
  width: 250px;
}

.popover {
  background: $dark;
  border-radius: 22px;
  overflow-y: auto;
  height: calc(100vh - 120px);
}

.edit-profile-modal-dialog {
  position: absolute;
  right: 15px;
  width: 300px;
  top: 20px;
}
