@import "node_modules/bootswatch/dist/darkly/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/darkly/bootswatch";

body {
  padding-top: 50px;
  background: black;
  display: flex;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

.announcement-list,
.chat-list {
  height: 400px;
  overflow: auto;
}

.room-attendance {
  cursor: pointer;

  &.positioned {
    position: absolute;
    opacity: 75%;
  }

  .icon {
    border-radius: 10px 0 0 10px;
    padding: $spacer * 0.25 $spacer * 0.75;
    background: theme-color("primary");
  }
  .count {
    border-radius: 0 10px 10px 0;
    padding: $spacer * 0.25 $spacer * 0.75;
    background: $white;
    color: $black;
  }
}

#root {
  display: flex;
  flex-grow: 1;
}

.title-font {
  font-style: italic;
  font-weight: 700;
}
