@import "scss/constants";

.VideoParticipant {
  position: relative;
  height: 100%;
  max-width: $video-participant-optimal-width;
  max-height: $video-participant-optimal-height;
  width: 100%;

  &--mirrored {
    .VideoParticipant__video {
      transform: scale(-1, 1);
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    background-color: $lighter-intermediate-grey;
    pointer-events: none;
    border-radius: $border-radius--xl;

    &-element {
      border-radius: $border-radius--xl;
      width: auto;
      max-width: $video-participant-optimal-width;
      height: auto;

      &--disabled {
        opacity: 0;
      }
    }
  }

  &__profile {
    position: absolute;
    bottom: $spacing--sm;
    left: $spacing--sm;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;

    cursor: pointer;

    width: 100%;
    height: 100%;

    pointer-events: none;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    padding: $spacing--sm;

    .VideoParticipant__controls-mute {
      width: $spacing--xl;
    }

    & > * {
      margin: 0 $spacing--xs;

      pointer-events: auto;
    }
  }
}
