@import "scss/constants.scss";

$schedule--grey: rgba(255, 255, 255, 0.7);
$action-button-width: 136px;

.ScheduleItemNG {
  display: flex;
  padding: $spacing__lg;

  &:hover {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.05)
    );
    border-radius: 12px;
  }

  &__info {
    margin-top: 3px;
    min-width: 60px;

    &--active {
      margin-top: 0;
      text-align: center;
    }
  }

  &__details {
    margin-left: $spacing--sm;
  }

  &__buttons {
    margin-top: $spacing--sm;
  }

  // @debt had to increase specificity because Button styles go later
  & .ScheduleItemNG__button {
    width: $action-button-width;
    font-weight: $font-weight--500;
    font-size: $font-size--md;
    line-height: 17px;

    &.ScheduleItemNG__button--copy {
      background-color: rgba(255, 255, 255, 0.2);
      margin-right: $spacing--sm;
    }
  }

  &__time,
  &__date {
    display: block;

    font-weight: $font-weight--500;
    font-size: $font-size--sm;
    line-height: 15px;
  }

  &__time--live {
    height: 30px;
    margin-bottom: $spacing--xs;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $primary;
    border-radius: 22px;

    font-size: $font-size--md;
    line-height: 17px;
  }

  &__time--end {
    color: $schedule--grey;
  }

  &__name {
    font-weight: $font-weight__700;
    font-size: $font-size__lg;
    line-height: 18px;
  }

  &__description {
    font-size: $font-size--sm;
    line-height: $font-size--md;
  }

  &__place {
    font-size: $font-size--md;
    line-height: 17px;

    &--location {
      color: $schedule--grey;
    }
  }
}
