.ControlPanel {
  height: 100%;
  width: 100%;

  &__icon-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
}

.icon-panel {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.15);

  &__item {
    position: relative;
    display: block;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;

    transition: 0.1s;
    opacity: 0.6;

    img {
      pointer-events: none;
    }

    &_active,
    &:hover:not(&_disabled) {
      opacity: 1;
    }

    &_disabled {
      filter: brightness(0.65);
    }

    &_top-border::before,
    &_bottom-border::before {
      content: "";
      position: absolute;
      width: 200%;
      left: -50%;
    }

    &_top-border::before {
      top: -4px;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
    }

    &_bottom-border::before {
      bottom: -8px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }
  }
}
