@import "scss/constants";

$toggler-width: 56px;
$toggler-height: 30px;

$toggler-circle-diameter: 26px;
$toggler-circle-spacing: 2px;

$toggler-circle-moving-delta: $toggler-width - $toggler-circle-diameter -
  $toggler-circle-spacing;

$toggler-transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1);

$toggler-box-shadow-preset: inset 0 0 0 1px;

.Toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  cursor: pointer;

  &__native-input {
    &:checked + .Toggler__slider {
      background-color: $dimmer-primary;

      &::after {
        left: $toggler-circle-moving-delta;

        background-color: $primary;
      }
    }
  }

  &__slider {
    box-shadow: $toggler-box-shadow-preset grey-color(0.1);
    background-color: grey-color(0.12);

    width: $toggler-width;
    height: $toggler-height;

    border-radius: $border-radius--xl;

    transition: $toggler-transition;

    &:hover {
      background-color: grey-color(0.16);
      box-shadow: $toggler-box-shadow-preset grey-color(0.4);
    }

    &::after {
      content: "";
      position: absolute;

      height: $toggler-circle-diameter;
      width: $toggler-circle-diameter;

      border-radius: $border-radius--max;

      background-color: grey-color(0.3);

      left: $toggler-circle-spacing;
      top: $toggler-circle-spacing;

      transform: scale(1);
    }
  }

  &__title {
    margin-left: $spacing--md;
    font-size: $font-size--md;
  }
}
