@import "scss/constants";

$toggler-width: 56px;
$toggler-height: 30px;
$toggler-slider-width: 22px;
$toggler-slider-height: 22px;
$toggler-transition: ease 0.4s;

.Toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  &__input {
    position: relative;

    width: $toggler-width;
    height: $toggler-height;
    margin: 0;
  }

  &__slider {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: $border-radius--xl;
    background-color: $dark-grey;

    transition: $toggler-transition;

    &::before {
      content: "";
      position: absolute;

      width: $toggler-slider-width;
      height: $toggler-slider-height;

      bottom: $spacing--xs;
      left: $spacing--xs;

      background-color: $lighter-intermediate-grey;
      border-radius: $border-radius--max;

      transition: $toggler-transition;
    }

    &--checked {
      background-color: $dimmer-primary;

      &::before {
        left: initial;
        right: $spacing--xs;

        background-color: $primary;
      }
    }
  }

  &__title {
    margin-left: $spacing--md;
    font-size: $font-size--lg;
  }
}
