@import "scss/constants";

$modal-width: 50vw;
$modal-height: calc(#{$modal-width} * 9 / 16);

.IntroVideoPreviewModal {
  height: $modal-height;
  width: $modal-width;

  &__iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: $border-radius--lg;
  }
}
