.full-page-container.art-piece-container {
  padding: 0;

  .content {
    display: flex;
    padding-left: 70px;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  .youtube-video {
    width: 100%;
    min-height: 500px;
  }

  .video-chat-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .title-sidebar {
    font-size: 22px;
    font-weight: bold;
  }
  .short-description-sidebar {
    font-size: 15px;
    font-weight: bold;
  }
}
.sparkle-fairie {
  position: fixed;
  top: 280px;
  left: 15px;
}
