.full-page-container.art-piece-container {
  padding: 0;

  .content {
    display: flex;
    padding-left: 70px;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  .youtube-video {
    width: 100%;
    min-height: 500px;
  }

  .video-chat-wrapper {
    display: grid;
    margin: 1rem 0;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
  }
  .title-sidebar {
    font-size: 22px;
    font-weight: bold;
  }
  .short-description-sidebar {
    font-size: 15px;
    font-weight: bold;
  }
}
.sparkle-fairies {
  position: fixed;
  top: 250px;
  left: 0px;
}
.donate-popup {
  position: fixed;
  top: 370px;
  left: 0px;
}
