@import "scss/constants";

$page-max-width: 1240px;

.admin-dashboard {
  overflow: hidden;
  height: 100%;
  max-height: 100%;

  position: relative;

  .no-venue-selected {
    display: flex;
    justify-self: center;
    align-self: center;

    font-size: 3rem;
  }

  .navbar {
    position: fixed;
    z-index: z(admin-navbar);
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: $black;
    border-bottom: 1px solid rgba($white, 0.2);
    box-shadow: box-shadow--large(0.62);
    .navbar-container {
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      max-width: $page-max-width;
      padding: 0 20px;
    }
    .sparkleverse-logo_navbar {
      width: 200px;
      height: 48px;
      background-image: url(/assets/images/sparkleverse-logo_navbar.png);
      background-size: 200px 48px;
      cursor: pointer;
    }
  }

  // ADMIN PANEL - WITH SIDEBAR
  .page-container_adminview {
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 240px auto;
    grid-gap: 0;

    position: relative;
    overflow: hidden;

    .page-container-adminsidebar {
      height: calc(100vh - 66px);

      position: sticky;
      top: 0;
      left: 0;
      overflow: auto;
      scrollbar-width: thin;

      background-image: $admin-gradient;

      .page-container-adminsidebar-title {
        background: rgba($black, 0.15);
        padding: 14px;
      }
      .page-container-adminsidebar-top {
        padding: 14px;
        text-align: center;
        width: 100%;
        .btn {
          width: 100%;
        }
      }
      ul.page-container-adminsidebar-venueslist {
        list-style-type: none;
        li {
          position: relative;
          padding: 14px;
          cursor: pointer;
          &:hover {
            background: rgba($black, 0.15);
          }
          &.selected {
            background: rgba($black, 0.3);
          }
          &.camp {
            &:after {
              position: absolute;
              right: 20px;
              top: 14px;
              content: "";
              height: 20px;
              width: 20px;
              background-image: url(/assets/icons/list-arrow-down-white.png);
              background-size: 20px 20px;
              transition: all 400ms $transition-function;
            }
            ul.page-container-adminsidebar-subvenueslist {
              list-style-type: none;
              display: block;
              li {
                text-indent: 20px;
                opacity: 0.5;
              }
            }
            &.selected {
              &:after {
                transform: rotate(180deg);
              }
              // ul.page-container-adminsidebar-subvenueslist {
              //   display: block;
              // }
            }
          }
        }
      }
    }
    .page-container-adminpanel {
      height: 100%;
      max-height: 100%;
      overflow: hidden;
      background-color: $black;
      display: flex;
      flex-direction: column;

      .page-container-adminpanel-tabs {
        background: rgba($white, 0.15);
        display: flex;
        .page-container-adminpanel-tab {
          position: relative;
          padding: 14px 40px;
          cursor: pointer;
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
          &.selected {
            opacity: 1;
            &:after {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              bottom: 0;
              height: 2px;
              background-color: $white;
              border-radius: 1px;
            }
          }
        }
      }
      .page-container-adminpanel-venuepage {
        height: 100%;
        max-height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-columns: 2fr 260px;
        grid-gap: 0;

        .page-container-adminpanel-content {
          margin-right: 40px;
          height: calc(100vh - 180px);
        }

        .page-container-adminpanel-content,
        .page-container-adminpanel-placement {
          position: relative;
          z-index: z(admin-placement);
          overflow-y: scroll;

          .edit-rooms-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
          }

          .filter-event-section {
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            justify-content: flex-start;
            .search-event-input {
              margin-left: 15px;
              margin-right: 10px;
            }
          }
          .venue-header {
            position: absolute;
            top: 0;
            z-index: z(admin-venue-header);
            background-color: $black;
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            &:after {
              content: "";
              position: absolute;
              z-index: z(admin-venue-header-after);
              left: 0;
              width: 100%;
              height: 500px;
              background-image: linear-gradient(
                -180deg,
                rgba(0, 0, 0, 0.4) 0%,
                rgba(0, 0, 0, 0) 20%,
                rgba(0, 0, 0, 0) 57%,
                #000000 81%
              );
            }
          }
          .venue-preview {
            margin: 15px;
            border: 4px solid rgba($white, 0.2);
            background-color: rgba($white, 0.1);
            padding: 20px;
            border-radius: 10px;

            .iframe-preview-container {
              position: relative;
              width: 100%;
              height: 0px;
              padding-bottom: 50%;

              .iframe-preview {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
              }
            }

            .heading {
              text-align: center;
            }
            .heading-group {
              margin-top: 20px;
              .title {
                margin-right: 10px;
              }
            }
            .content-group {
              margin-top: 20px;
              .title {
                margin-right: 20px;
                width: 100px;
              }
              .banner {
                width: 100%;
              }
              .icon {
                width: 100px;
              }
            }
          }
        }
        .page-container-adminpanel-actions {
          padding-right: 40px;
          padding-top: 20px;
        }
        .page-container-adminpanel-sidebar {
          background-image: $admin-gradient;
          overflow-x: hidden;
          overflow-y: scroll;

          .title {
            background: rgba($black, 0.15);
            padding: 14px;
          }

          .venuelist {
            list-style-type: none;

            li {
              padding: 14px;
              cursor: pointer;

              &.selected {
                background: rgba($black, 0.3);
              }
            }
          }
        }
      }
    }
  }

  .information-card-container {
    margin-bottom: 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
      opacity: 0;
      width: 0;
      height: 0;

      &:checked + .slider {
        background-color: #2196f3;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px #2196f3;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      /* Rounded sliders */
      &.round {
        border-radius: 34px;
      }
      &.round:before {
        border-radius: 50%;
      }
    }
  }
  .rooms-list-container {
    margin: 20px;
    .room-stats {
      display: flex;
      justify-content: space-between;
    }
    .rooms-counter {
      align-self: center;
    }
    .add-rooms-button {
    }
    .venue-room-details {
      background: #1a1d24;
      border-radius: 50px;
      padding: 30px;
      margin-bottom: 20px;

      .venue-content {
        display: flex;
        justify-content: space-between;
        .sub-content {
        }
      }

      .heading-options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        h4 {
          font-size: 30px;
        }
        .room-options {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .edit-room {
          }
          .toggle-room {
            align-self: center;
          }
        }
      }
    }
  }
  .banner {
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
    .banner-image {
      height: 70px;
      width: 70px;
    }
  }
  .rooms-events-list {
    margin-top: 25px;
    .admin-room-list-events {
      display: flex;
      justify-content: space-between;
    }
    .event-description {
      &:first-child {
        display: block;
      }
    }
  }
  .room-disabled {
    color: #8a8b8e;
  }
}
