@import "scss/constants";

.venue-owner-modal {
  .text-input {
    margin-top: 20px;
  }

  .row-container {
    max-height: 500px;
    overflow: scroll;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $spaces-owner-list--border;
    margin-top: 20px;

    .user-row {
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 5px;
      background-color: rgba($color: white, $alpha: 0.1);

      .info-container {
        flex: 1;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
}
