@import "scss/constants.scss";

$navBarSchedule--padding: 20px;

$weekday--padding: 8px 10px;
$weekday--margin-right: 10px;

$schedule-btn--padding: 0.35em 1em;

$schedule-btn--height: 51px;

.NavBarSchedule {
  position: fixed;
  z-index: z(navbar-schedule);
  top: 0;
  left: 0;
  height: calc(100% - #{$footer-height});
  width: $sidebar-schedule-width;

  padding: $navbar-height $spacing--md 0;

  background-color: opaque-black(0.8);
  overflow: auto;

  pointer-events: none;
  opacity: 0;
  backdrop-filter: blur(5px);
  transform: translateX(-$sidebar-schedule-width);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.33);
  transition: all 400ms $transition-function;

  &--show {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__breadcrumb {
    width: 100%;
    height: 45px;
    margin-top: $spacing--md;
    font-size: $font-size--sm;
    color: $secondary--schedule-event-users;
    display: flex;
    align-items: center;

    & label {
      margin: auto $spacing--sm auto 0;
    }
  }

  &__breadcrumbBtn {
    padding: $spacing--sm;
    border: none;
    background-color: transparent;
    color: $secondary--schedule-event-users;
    text-decoration: underline;

    &--disabled {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__endToEnd {
    margin-left: -$spacing--md;
    margin-right: -$spacing--md;
  }

  &__weekdays {
    display: flex;
    overflow: auto;
    cursor: default;
    background-color: opaque-black(1);
  }

  &__weekday {
    display: inline;
    cursor: pointer;
    padding: $weekday--padding;
    margin-right: $weekday--margin-right;
    opacity: 0.8;

    &--active {
      opacity: 1;
      border-bottom: 1px solid white;
      text-shadow: 0 2px 4px opaque-black(0.3);
      box-shadow: 0 3px 6px opaque-black(0.2);
    }

    &--disabled {
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__weekdayButton {
    border: none;
    background: inherit;
    color: opaque-white(0.383);

    &:focus {
      color: $white;
      opacity: 1;
      outline: none;
    }
  }

  &__bookmarkedToggle {
    justify-content: left;
    padding: $spacing--sm 0px;
  }

  &__downloadButtons {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: z(navbar-schedule-download);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: opaque-black(0.9);
    height: $schedule-btn--height;
    padding-left: $navBarSchedule--padding;

    // @debt: overwrites default btn btn-primary styles
    & .NavBarSchedule__downloadScheduleBtn {
      cursor: pointer;
      opacity: 0.8;

      margin-right: $spacing--sm;

      text-shadow: 0 2px 4px opaque-black(0.3);
      box-shadow: 0 3px 6px opaque-black(0.2);
      padding: $schedule-btn--padding;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
