@import "scss/constants.scss";

.RadioModal {
  padding: $spacing--sm;
  margin: 0 $spacing--md;
  display: flex;
  flex-direction: column;

  &__title-radio {
    font-size: font-size--root(1.5);
    font-weight: $font-weight--600;
    margin-bottom: $spacing--xs;
  }

  &__text-radio {
    font-size: font-size--root(1);
    margin-bottom: $spacing--md;
  }

  &__img-radio {
    margin-bottom: $spacing--lg;
  }
}
