@import "scss/constants.scss";

#radio-popover {
  &.popover {
    height: unset;
  }
}

.radio-modal-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .text-radio {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .img-radio {
    margin-left: 20px;
    width: 210px;
    height: 120px;
    margin-bottom: 15px;
  }
}
