@import "scss/constants";
// @debt These styles are mostly taken/copy-pasted from Audience.scss
// Eventually, we we get rid of Audience template, these will be the only styles available

// If you change this, make sure to also change it in ./Section.tsx
$section-seat-size: $avatarSize;
$section-seat-size-min: $avatarSizeMin;
$section-seat-spacing: 3px;

$section-screen-width-in-seats: var(--central-screen-width-in-seats);
$section-screen-height-in-seats: var(--central-screen-height-in-seats);

$spacing: calc(1 * min(var(--section-seat-size), var(--section-seat-size-min)));

.Section {
  background-attachment: fixed;
  background-position: center;

  position: relative;
  overflow: auto;
  height: 100%;
  padding: $spacing;
  min-width: fit-content;

  &__reactions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    pointer-events: all;

    width: 80%;
    height: 15%;

    background-color: $secondary--dark;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &__central-screen-overlay {
    position: absolute;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;
  }

  &__central-screen {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    width: calc(
      #{$section-screen-width-in-seats} * (#{$section-seat-size} + #{$section-seat-spacing})
    );
    height: calc(
      #{$section-screen-height-in-seats} * (#{$section-seat-size} + #{$section-seat-spacing})
    );
    min-width: calc(
      #{$section-screen-width-in-seats} * (#{$section-seat-size-min} + #{$section-seat-spacing})
    );
    min-height: calc(
      #{$section-screen-height-in-seats} * (#{$section-seat-size-min} + #{$section-seat-spacing})
    );
  }

  &__iframe {
    pointer-events: all;

    border: thin $black;
    border-radius: $border-radius--lg;
  }

  &__seats {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: auto;
  }

  &__seats-row {
    display: flex;
    justify-content: center;
  }

  &__seat {
    display: flex;
  }

  &__seat,
  &__empty-circle,
  &__user-avatar {
    justify-content: center;
    align-items: center;

    width: $section-seat-size;
    height: $section-seat-size;
    min-width: $section-seat-size-min;
    min-height: $section-seat-size-min;

    font-size: calc(
      0.6 * max(#{$section-seat-size}, #{$section-seat-size-min})
    );

    border-radius: 100%;
    margin: $section-seat-spacing;

    color: $black;
    user-select: none;
  }

  &__seat {
    background-color: opaque-white(0.2);

    &:hover {
      background-color: opaque-white(0.4);
      cursor: pointer;
    }

    &:active {
      background-color: opaque-white(0.6);
      cursor: pointer;
    }
  }

  &__empty-circle {
    background-color: opaque-white(0);
  }
}
