.room-modal-title {
  font-weight: 700;
  font-style: italic;
}

.room-description {
  display: flex;
  margin-top: 20px;
}

.room-modal-subtitle {
  margin-bottom: 15px;
}

.room-modal-image {
  border-radius: 22px;
  width: 250px;
}
