@import "scss/constants";

.icon-input {
  position: relative;
}

.icon-input {
  &__input {
    height: 100%;

    &--icon-from-left {
      padding-left: 2.5rem;
    }

    &--icon-from-right {
      padding-right: 2.5rem;
    }

    &:focus + .icon-input__icon {
      opacity: 0.6;
    }
  }

  &__icon {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: z(input-icon);
    opacity: 0.2;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
