.cocktail,
.backstage {
  width: 100%;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  .profile-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 188%;
  }
}

.cocktail {
  .barman {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
}
