.leave-stage-modal-container {
  .modal-content {
    width: max-content;
    padding: 0;

    .modal-body {
      padding: 0;
    }
  }

  .leave-stage-modal {
    .label {
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      margin: 30px 30px 20px 30px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin: 0 30px 30px 30px;
    }
  }
}
