@use "scss/attendee/layout";
@use "scss/attendee/space";
@use "scss/attendee/theme";

.card {
  display: absolute;
  background: theme.$c-panel-background;
  display: flex;
  flex-direction: column;
}

.cardBody {
  padding: space.$md space.$md space.$sm;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@each $sizeName, $sizePixels in layout.$cardSizes {
  .#{$sizeName} {
    width: $sizePixels;
    height: $sizePixels;
    flex-shrink: 0;
  }
}
