@import "scss/constants";

$counterparty-bottom-border-radius: 0 0 $spacing--xxl $spacing--xs;
$counterparty-text-border-radius: $spacing--xxl $spacing--xxl $spacing--xxl
  $spacing--xs;
$my-text-bottom-border-radius: 0 0 $spacing--xs $spacing--xxl;
$my-text-border-radius: $spacing--xxl $spacing--xxl $spacing--xs $spacing--xxl;

$replies-max-height: 200px;

$reply-icon-radius: 20px;

$video-info-padding: 20px;
$video-icon-margin: 0 10px 0 0;

.ChatMessage {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: $spacing--lg;

  &:hover {
    .ChatMessage__reply-icon {
      display: flex;
    }
  }

  &__video-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__video-icon {
    margin: $video-icon-margin;
    align-self: center;
  }

  &__video-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: $secondary--light;
    border-radius: $border-radius--sm;
    padding: $video-info-padding;
  }

  &__video-timestamp {
    align-self: flex-end;
    opacity: 0.6;
    font-weight: $font-weight--300;
    font-size: $font-size--sm;
  }

  &--me {
    align-self: flex-end;
    align-items: flex-end;

    .ChatMessage__bulb {
      text-align: right;
      background-color: $primary;
      border-radius: $my-text-border-radius;
    }

    .ChatMessage__show-replies-button {
      align-self: flex-end;
    }

    .ChatMessage__replies-content {
      border-radius: $my-text-bottom-border-radius;
    }

    .ChatMessage__reply-icon {
      background-color: $primary--light;
      right: unset;
      left: $spacing--sm;

      &:hover {
        background-color: $primary--lightest;
      }
    }
  }

  &--question &__bulb {
    background-color: $dark-green;
  }

  &__bulb {
    margin-bottom: $spacing--sm;
    width: auto;
    border-radius: $counterparty-text-border-radius;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    background-color: $secondary;

    font-size: $font-size--md;
  }

  &__text-content {
    position: relative;
    display: flex;
    flex-flow: column;
    padding: $spacing--md $spacing--lg;
  }

  &__text {
    font-size: $font-size--md;

    // This direct element style is used with RenderMarkdown
    img {
      max-width: 100%;
    }

    // This direct element style is used with RenderMarkdown
    p {
      margin-bottom: 0;
    }
  }

  &__show-replies-button {
    margin-top: $spacing--sm;
    align-self: flex-start;
  }

  &__reply-icon {
    display: none;
    justify-content: center;
    align-items: center;
    // Overflow the userAvatar in the replies list
    z-index: z(chatmessage-reply-button);

    position: absolute;

    cursor: pointer;

    width: $reply-icon-radius;
    height: $reply-icon-radius;

    right: $spacing--sm;

    bottom: calc(-#{$reply-icon-radius / 2});

    border-radius: $border-radius--max;
    background-color: $secondary--light;

    &:hover {
      background-color: $secondary--lightest;
    }
  }

  &__replies-content {
    border-radius: $counterparty-bottom-border-radius;
    overflow: hidden;
    max-height: $replies-max-height;
  }

  &__replies {
    @include scrollbar;
    background-color: opaque-black(0.14);
    padding: 0 $spacing--lg $spacing--lg $spacing--lg;
    font-size: $font-size--md;
    display: flex;
    flex-flow: column-reverse;

    max-height: $replies-max-height;

    overflow: auto;

    align-items: flex-start;
    text-align: left;
  }

  &__reply {
    // We add padding to single reply instead of margin so that the container has spacing at the top
    // https://stackoverflow.com/questions/13471910/no-padding-when-using-overflow-auto
    padding-top: $spacing--md;
  }
}
