$counterparty-text-border-radius: 28px 28px 28px 4px;
$my-text-border-radius: 28px 28px 4px 28px;

.chat-message {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  &__text {
    margin-bottom: 6px;
    width: auto;
    border-radius: $text-border-radius;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    background-color: #333035;
    padding: 12px 16px;
    font-size: 0.9rem;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  &__author {
    opacity: 0.8;
    color: #fff;
    margin: 0 8px 0 4px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  &__time {
    opacity: 0.6;
    font-weight: 300;
  }

  &__delete-icon {
    margin-left: 5px;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &--me {
    align-self: flex-end;

    .chat-message__text {
      text-align: right;
      background-color: #005ee5;
      border-radius: $my-text-border-radius;
    }

    .chat-message__info {
      align-self: flex-end;
    }
  }
}
