# https://github.com/technote-space/assign-author
name: Assign author
on:
  pull_request_target:
    types: [opened]

jobs:
  assignAuthor:
    name: Assign author to PR
    runs-on: ubuntu-latest

    steps:
      - uses: sparkletown/assign-author@v1
