name: Deploy the changes to the env branches
on:
  push:
    branches:
      - chore/adds-github-action-push-script
jobs:
  push-to-prod-envs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: staging
          fetch-depth: 0
      - name: Push to test staging
        run: |
          git fetch origin chore/adds-github-action-push-script:chore/adds-github-action-push-script
          git push origin chore/adds-github-action-push-script:staging-test
