@use "scss/attendee/variables.scss"as *;

.SearchOverlay {
  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-height: 100vh;
    margin: $whitespace * 10 auto 0 0;
    padding: $whitespace * 4 $whitespace * 3;

    @media (max-width: 768px) {
      margin: 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $element-height-normal;
    margin: $whitespace * 3 0 0 0;
  }

  &__content {
    height: 100%;
    width: 100%;
  }

  &__search {
    width: 100%;
    position: relative;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    margin: 12px 0 $whitespace * 3 0;
  }

  &__search_input {
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 42px;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 5em;
    width: 100%;
    background-color: transparent;
  }

  &__result_item {
    padding-bottom: 1.3rem;
  }

  &__result_header {
    cursor: pointer;
    span {
      font-size: 11px;
      margin-left: 4px;
    }
  }
  &__result_subtitle {
    font-size: 14px;
  }
}
