@import "scss/constants.scss";

$jazzbar-table-height: 189px;

.StartTable {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  background: $dark;
  border: none;
  border-radius: 22px;
  color: $white;
  margin: 10px 5px 5px;
  cursor: pointer;

  &__jazzbar {
    margin: 0;
    min-height: $jazzbar-table-height;
  }

  &:hover {
    background-color: lighten($dark, 10%);
    transform: scale(1.05);

    .StartTable__sign {
      display: none;
    }

    .StartTable__title {
      display: block;
    }
  }

  &__sign {
    font-size: $font-size--xxxl;
  }

  &__title {
    display: none;
    font-size: $font-size--lg;
    line-height: 18px;
  }
}
