.TooltipWidget {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    transition: 0.9s;
    transform: translateY(30px);
    opacity: 0;

    &_active {
      transform: translateY(0);
      opacity: 1;
    }

    &_hide {
      transition: 0.4s;
      transform: scale(0.1);
      opacity: 0;
    }
  }

  .item {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    min-height: 60px;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    &__icon {
      border-radius: 10px;
      max-height: 50px;
      max-width: 50px;
    }

    &__desc {
      font-weight: 500;

      p {
        margin: 0;
        margin-bottom: 4px;
      }

      em {
        position: relative;
        display: inline-block;
        font-style: normal;
        margin: 0px 5px;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
      }

      em::before {
        content: "";
        width: 125%;
        height: 125%;
        left: -12%;
        top: -10%;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 22px;
        z-index: -1;
      }
    }

    &__type {
      text-align: right;
      align-self: flex-start;
    }
  }
}
