@import "scss/constants";

.AdminInput {
  margin-top: $spacing--xs;
  margin-bottom: $spacing--xs;

  &__error {
    color: $red;
  }

  &__subtext {
    margin: 0;
    padding: 0;
    color: var(--content--over-50a);
  }
}
