@import "scss/constants";

.AdminInput {
  margin-top: $spacing--xs;
  margin-bottom: $spacing--xs;

  &__error,
  &__subtext {
    display: block;
  }

  &__error {
    color: var(--danger--under);
  }

  &__subtext {
    margin: 0;
    padding: 0;
    color: var(--content--over-50a);
  }

  &__input {
    text-align: left;
    &::placeholder {
      word-break: break-all;
    }
  }
}
