@import "scss/constants.scss";

.RunTabView {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  &__content {
    display: flex;
    flex-direction: column;
    padding: $spacing--md;
    gap: $spacing--lg;
  }

  &__advanced {
    max-width: calc(100% - #{$spacing--xs});
  }

  &__map {
    background-color: $secondary--live;
    margin-bottom: $footer-height;
    padding: $spacing--lg;
    border-radius: $border-radius--xl;

    > * {
      margin: -1px; // to avoid border artefacts
    }
  }

  &--spacing + &--spacing {
    margin-top: $spacing--lg;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__user-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: $spacing--xl;
  }

  .AdminSidebarSectionTitle {
    padding: 0 $spacing--lg;
  }
}
